.footer {
  background-color: $dark-blue;

  padding: 40px 0;
  color: white;

  a {
    color: $light-grey;
  }

  h5 {
    margin-bottom: 15px;

    @include lg-600{
      font-size: 15px;
    }
  }

  &__nav {
    width: 20%;

    h5 {
      @include lg-600 {
        display: flex;
        align-items: center;
        line-height: 1.2;
        &::after {
          content: "";
          margin-left: 18px;
          @include icon(url(../../img/icons/arrow-down.svg), 10px, 10px);
        }
      }
    }

    @include lg-1025 {
      width: 33.333%;
    }
    @include lg-720{
      width: 50%;
    }
    @include lg-600{
      width: 100%;
    }
    ul {
      margin-top: 15px;
      margin-bottom: 25px;

      li {
        margin-bottom: 5px;
        a {
          transition: 200ms;
          &:hover {
            color: white;
          }
        }
      }
    }
  }

  &__social {
    width: 22%;

    @include lg-1025 {
      width: 50%;
      margin-top: 30px;
    }
    @include lg-720{
      width: 50%;
    }
    @include lg-600{
      width: 100%;
    }

    form {
      margin-bottom: 15px;

      margin-right: 50px;

      @include lg-460{
        margin-right: 20px;
      }
    }

   
  }

  &__contact {
    width: 18%;

    @include lg-1025 {
      width: 50%;
      margin-top: 30px;
    }

    @include lg-720{
      width: 50%;
    }
    @include lg-600{
      width: 100%;
    }

    &_block {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      a {
        margin-bottom: 20px;
        color: white;
        transition: 200ms;
        display: flex;
        align-items: center;
        height: 30px;

        span {
          margin-right: 14px;
        }

        &:hover {
          color: $green;
        }
      }
    }
  }
}
