.footer{
  background-color: $dark-blue;

  padding: 40px 0;
  color: white;

  a{
    color: $light-grey;
  }

  h5{
    margin-bottom: 15px;
  }

  &__nav{
    width: 20%;
    ul{
      margin-top: 15px;

      li{
        margin-bottom: 5px;
        a{ 
          transition: 200ms;
          &:hover{
            color: white;
          }
        }
      }
    }
  }

  &__social{
    width: 22%;

    form{
      margin-bottom: 15px;

      margin-right: 50px;
    }

    ul{
      display: flex;
      flex-wrap: wrap;

      li{
        margin-right: 5px;
        margin-bottom: 5px;

        a{
          background-color: $green;
          width: 16px;
          height: 16px;
          padding: 10px;
          border-radius: 2px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 200ms;

          img{
            filter: invert(1);
          }

          &:hover{
            background-color: darken($green, 5%);
          }
        }
      }
    }
  }

  &__contact{
    width: 18%;

    &_block{
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      a{
        margin-bottom: 20px;
        color: white;
        transition: 200ms;
        display: flex;
        align-items: center;
        height: 30px;

        span{
          margin-right: 14px;
        }

        &:hover{
          color: $green;
        }
      }
    }
  }
}