/* Header Top */
.header-top {
  box-shadow: 0px 3px 4px 0px rgba(204, 204, 204, 1);
  margin-bottom: 75px;
  position: relative;
  z-index: 11;

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;

    @include lg-1100 {
      display: none;
    }
  }

  &__adress,
  &__service,
  &__mail {
    display: flex;
    align-items: center;
    p,
    li,
    a {
      display: flex;
      align-items: center;
    }

    span {
      margin-right: 7px;
    }

    b {
      margin-right: 4px;
    }
  }

  &__adress {
    /* width: 30%; */
  }

  &__service {
    /* width: 50%; */

    @include lg-1200 {
      display: none;
    }

    li {
      margin-right: 20px;
    }
  }

  &__mail {
    /* width: 20%; */
    justify-content: flex-end;

    a {
      color: $green;
      font-weight: bold;
      transition: 200ms;

      &:hover {
        color: $dark-blue;
      }
    }
  }
}

/* Header Bottom */
.header-bottom {
  position: absolute;
  left: 50%;
  top: 34px;
  transform: translateX(-50%);
  transition: 100ms ease;

  @include lg-1400 {
    padding: 0 20px;
    box-sizing: border-box;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 18px 0 14px;
  }

  &__logo {
    width: 19%;
    display: flex;
    align-items: center;

    @include lg-1366 {
      width: 24%;
    }

    @include lg-770 {
      width: 200px;
    }
    @include lg-350 {
      width: 180px;
    }

    button {
      display: none;
      margin-right: 20px;
      @include lg-770 {
        margin-right: 12px;
      }
      span {
        filter: invert(1);
        width: 22px;
        height: 22px;
      }
    }
  }

  &__action {
    @include lg-1366 {
      display: none;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    position: relative;

    @include lg-700 {
      display: none;
    }

    button {
      position: absolute;
      right: 8px;
      display: flex;
      align-items: center;
    }
  }

  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include lg-770 {
      display: none;
    }

    a {
      display: flex;
      align-items: center;
    }
  }

  &__number {
    @include lg-1100 {
      display: none;
    }

    &_desktop {
      display: flex;
      flex-direction: column;

      a {
        font-size: 16px;
        color: $black;
        font-weight: bold;
        margin-bottom: 3px;
      }
      &_time {
        font-size: 12px;
        color: $light-grey;
        padding-left: 18px;
        line-height: 1;
      }
    }

    &_mobile {
      display: none;

      @include lg-1100 {
        display: block;

        a {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &__fixed-menu {
    display: none;
  }
}

.fixed-menu {
  position: fixed;
  top: 0;
  z-index: 11;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.136);

  .header-bottom__fixed-menu {
    display: block;
  }

  .header-bottom__block {
    padding: 14px 0 10px;
  }

  .header-bottom__call,
  .header-bottom__action {
    display: none;
  }

  .header-bottom__logo {
    button {
      display: flex;
      align-items: center;
    }
  }

  &__list {
    display: flex;
    li {
      display: flex;
      align-items: center;
      a {
        display: flex;
        align-items: center;
        margin-right: 25px;
        position: relative;

        @include lg-450 {
          margin-right: 12px;
        }

        .fixed-icon {
          width: 23px;
          height: 23px;
          filter: invert(1);
        }

        .fixed-icon-heart {
          width: 25px;
        }

        span.number {
          filter: none !important;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          top: -5px;
          right: -11px;
          background-color: $green;
          color: white;
          width: 10px;
          height: 10px;
          font-size: 12px;
          border-radius: 50%;
          padding: 4px;
        }
      }

      &.mobile-phone {
        display: none;

        @include lg-1100 {
          display: flex;
        }
      }

      &.mobile-search {
        display: none;

        @include lg-700 {
          display: flex;
        }
      }

      &.mobile-compare {
        @include lg-500 {
          display: none;
        }
      }

      &.mobile-login {
        @include lg-450 {
          display: none;
        }
      }

      &.mobile-favourite {
        @include lg-400 {
          display: none;
        }
      }
    }
  }

  &__login {
    /* margin-right: 30px; */

    &_block {
      display: flex;
      flex-direction: column;
      margin-left: 10px;

      @include lg-1250 {
        display: none;
      }

      @include lg-1100 {
        display: none;
      }
    }

    &_title {
      font-weight: bold;
      color: $black;
      font-weight: 15px;
      line-height: 1;
    }

    &_span {
      font-size: 12px;
      color: $light-grey;
    }
  }

  &__basket {
    color: $black;
    margin-right: 0 !important;

    &_icon {
      display: flex;
      align-items: center;
      position: relative;
    }

    &_text {
      display: flex;
      flex-direction: column;
      margin-left: 20px;

      @include lg-1250 {
        display: none;
      }
    }

    &_title {
      font-size: 14px;
      font-weight: bold;
      line-height: 1;
    }

    &_price {
      color: $light-grey;
      font-size: 12px;
    }
  }
}

/* Header Nav */
.header-nav {
  background-color: $dark-blue;

  @include lg-1100 {
    display: none;
  }

  &__block {
    display: grid;
    justify-items: stretch;
    grid-auto-flow: column;
    position: relative;

    > li {
      position: relative;

      &:first-child {
        position: static;
      }

      > a {
        height: 56px;
        color: #fff;
        font-size: 14px;
        background-color: $dark-blue;
        display: block;
        text-align: center;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border-left: 1px solid lighten($dark-blue, 10%);

        span {
          margin-right: 10px;
        }

        &:hover {
          background-color: lighten($dark-blue, 10%);
          cursor: pointer;
        }

        .number {
          margin: 0 0 0 7px;
          background-color: $border;
          border-radius: 50%;
          width: 21px;
          height: 21px;
          font-size: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $black;
        }
      }

      &:hover {
        .dropdown-menu {
          opacity: 1;
          visibility: visible;
        }

        .dropdown-catalog {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .i-down {
      margin-left: 20px;
      margin-right: 0;
    }

    .dropdown-catalog {
      position: absolute;
      box-shadow: 0px 4px 10px -2px #00000061;
      background-color: #fff;
      width: 100%;
      z-index: 10;
      visibility: hidden;
      opacity: 0;
      transition: 150ms ease-in-out;
      height: 450px;
      overflow: scroll;

      display: flex;
      flex-wrap: wrap;

      &__list {
        width: 25%;
        display: flex;
        padding: 15px;
        box-sizing: border-box;

        &_img {
          width: 30%;
          padding: 20px;
        }
        &_links {
          width: 70%;
          padding: 20px 0 10px;

          .js-calatog-readmore-btn {
            a {
              color: #ff6d00;
              font-size: 15px;
              margin-top: 5px;
              display: inline-block;

              &:hover {
                color: darken($color: #ff6d00, $amount: 10%);
              }
            }
          }

          ul {
            margin-top: 10px;
            overflow: hidden;
            li {
              a {
                color: $grey;
                font-size: 15px;
                background-color: transparent;
                padding: 8px 0 8px;
                border: none;

                &:hover {
                  color: $black;
                }
              }
            }
          }
        }
      }
    }

    .dropdown-menu {
      position: absolute;
      box-shadow: 0px 4px 10px -2px #00000061;
      width: 100%;
      z-index: 10;
      visibility: hidden;
      opacity: 0;
      transition: 150ms ease-in-out;

      a {
        background-color: $border;
        color: $black;
        padding: 10px 20px;
        border-bottom: 1px solid darken($border, 5%);
        display: block;
        font-weight: 500;
        text-transform: uppercase;

        &:hover {
          color: $dark-blue;
          background-color: darken($border, 5%);
        }

        &:last-child {
          border-right: none;
        }
      }
    }

    li:last-child {
      a {
        border-right: 1px solid lighten($dark-blue, 10%);
      }
    }
  }
}

/* Header-Mobile */
.header-mobile {
  &__menu {
    width: 400px;
    height: 100vh;
    transition: 400ms ease-in-out;
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 991;

    background-color: #fff;

    @include lg-600 {
      width: 290px;
    }

    &_nav,
    &_control {
      display: flex;
      flex-direction: column;
      position: relative;

      li {
        a {
          padding: 12px 20px 13px 19px;
          font-weight: bold;
          width: 100%;
          box-sizing: border-box;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: $black;
          font-size: 15px;
          border-bottom: 1px solid $border;
          position: relative;
          background-color: #fff;

          .i-down {
            filter: invert(1);
            transform: rotate(-90deg);
            width: 10px;
            height: 10px;
            position: absolute;
            right: 12px;
          }

          &:hover {
            background-color: $border;
            cursor: pointer;
          }

          &.selected {
            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: -1px !important;
              bottom: -1px;
              width: 4px;
              background-color: $green;
            }
          }
        }
      }
    }

    &_control {
      li {
        a {
          background-color: #fbfbfb;
          justify-content: flex-start;
        }
      }
    }

    &_contact {
      padding: 12px 20px;
      h5 {
        margin-bottom: 15px;
      }

      .mail-location {
        li {
          padding: 6px 0;
          display: flex;
          align-items: center;
          a {
            display: inline-block;
            display: flex;
            align-items: center;
          }
        }
      }

      .social {
        margin-top: 20px;
      }
    }

    &_detail {
      display: block;
      position: absolute;
      right: -100%;
      width: 100%;
      height: 100vh;
      transition: 200ms ease-in;
      top: 0;
      z-index: 1;
      background: white;

      .i-arrow-right {
        transform: rotate(180deg);
      }
      .return {
        color: $blue;
        font-weight: normal;
      }
    }
    .menu-expand {
      right: 0;
    }
  }
}

.header-mobile__overlay {
  position: fixed;
  top: 0;
  display: none;
  z-index: 990;
  background-color: #3a3f44ad;
  width: 100%;
  height: 100%;
}

.mobile-open {
  display: block;

  .header-mobile__menu {
    left: 0;
  }
}

/* text-overflow: ellipsis; */
