@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Open Sans SemiBold";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype"); }
@font-face {
  font-family: 'Liberation Sans Bold';
  src: url("../fonts/LiberationSans-Bold.woff2") format("woff2"), url("../fonts/LiberationSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.col-1 {
  -ms-flex: 0 0 8.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 8.333333%;
  max-width: 8.333333%; }

.col-2 {
  -ms-flex: 0 0 16.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-3 {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
          flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.col-5 {
  -ms-flex: 0 0 41.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 41.666667%;
  max-width: 41.666667%; }

.col-6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  -ms-flex: 0 0 58.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 58.333333%;
  max-width: 58.333333%; }

.col-8 {
  -ms-flex: 0 0 66.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.col-9 {
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
          flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  -ms-flex: 0 0 83.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 83.333333%;
  max-width: 83.333333%; }

.col-11 {
  -ms-flex: 0 0 91.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 91.666667%;
  max-width: 91.666667%; }

.col-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Open Sans Regular";
  color: #000; }

button {
  display: inline-block; }

button:active,
button,
:focus {
  outline: none;
  border: none; }

a {
  color: #000;
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

.container {
  width: 1200px;
  margin: auto;
  padding-right: 15px;
  padding-left: 15px; }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.icon {
  height: 20px;
  width: 20px;
  fill: #ED1C24; }
  .icon:hover {
    fill: #CA1118; }

.logo a {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: bold; }
.logo svg {
  height: 25px;
  width: 25px; }

.header {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 8px 7px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 7px -2px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  height: auto; }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 12px; }
  .header-menu__phone {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header-menu__phone li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header-menu__phone li span {
        padding-left: 5px; }
  .header-menu__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 100px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .header-menu__user li {
      padding: 0 2px; }
      .header-menu__user li a {
        -webkit-text-decoration-line: underline;
                text-decoration-line: underline; }
  .header .menu-content__basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 150px; }
    .header .menu-content__basket span {
      background-color: #F5F7FF;
      border-radius: 50%;
      color: #ED1C24;
      padding: 3px; }
      .header .menu-content__basket span:first-child {
        margin-right: 15px; }
      .header .menu-content__basket span:last-child {
        margin-left: 15px; }

@media screen and (max-width: 1024px) {
  .container {
    width: 100%; } }
@media screen and (max-width: 768px) {
  .container {
    width: 100%; } }
@media screen and (max-width: 320px) {
  .container {
    width: 100%; } }
