/* Helpers */
/* Template */
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  width: 100%;
  height: auto; }

.w-100 {
  width: 100%; }

.header-container {
  max-width: 960px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block; }
  @media screen and (max-width: 768px) {
    .header-container {
      width: 80%; } }
  @media screen and (max-width: 576px) {
    .header-container {
      width: 85%; } }

.loc-kinoteart {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2e3192), to(#29abe2));
  background-image: -webkit-linear-gradient(top, #2e3192, #29abe2);
  background-image: -o-linear-gradient(top, #2e3192, #29abe2);
  background-image: linear-gradient(to bottom, #2e3192, #29abe2);
  width: 100%;
  height: 440px;
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 992px) {
    .loc-kinoteart {
      height: 400px; } }
  .loc-kinoteart__block {
    padding: 30px 0 0;
    position: relative; }
  .loc-kinoteart__1 {
    position: absolute;
    left: -140px;
    top: -25px; }
    .loc-kinoteart__1 img {
      width: 480px; }
    @media screen and (max-width: 1200px) {
      .loc-kinoteart__1 {
        left: -240px;
        top: 40px; }
        .loc-kinoteart__1 img {
          width: 410px; } }
    @media screen and (max-width: 992px) {
      .loc-kinoteart__1 {
        top: inherit;
        bottom: -100px;
        left: 0; }
        .loc-kinoteart__1 img {
          width: 300px; } }
    @media screen and (max-width: 576px) {
      .loc-kinoteart__1 {
        bottom: 0;
        left: -100px; }
        .loc-kinoteart__1 img {
          width: 240px; } }
  .loc-kinoteart__2 {
    position: absolute;
    right: -60px;
    top: -120px; }
    .loc-kinoteart__2 img {
      width: 430px; }
    @media screen and (max-width: 1200px) {
      .loc-kinoteart__2 {
        right: -170px;
        top: -40px; }
        .loc-kinoteart__2 img {
          width: 300px; } }
    @media screen and (max-width: 992px) {
      .loc-kinoteart__2 {
        right: -70px;
        top: 40px; }
        .loc-kinoteart__2 img {
          width: 260px; } }
  .loc-kinoteart__3 {
    position: relative;
    z-index: 10; }
    .loc-kinoteart__3 img {
      width: 30px; }
    @media screen and (max-width: 576px) {
      .loc-kinoteart__3 {
        position: absolute;
        left: 120px;
        top: 38px; } }
  .loc-kinoteart__4 {
    margin-top: 8px;
    position: relative;
    z-index: 10; }
    .loc-kinoteart__4 img {
      width: 170px; }
    @media screen and (max-width: 992px) {
      .loc-kinoteart__4 img {
        width: 150px; } }
    @media screen and (max-width: 576px) {
      .loc-kinoteart__4 img {
        width: 110px; } }
  .loc-kinoteart__5 {
    position: relative;
    z-index: 10;
    margin-top: 20px;
    margin-bottom: 20px; }
    .loc-kinoteart__5 img {
      width: 240px; }
    @media screen and (max-width: 576px) {
      .loc-kinoteart__5 {
        margin: 10px 0; }
        .loc-kinoteart__5 img {
          width: 180px; } }
  .loc-kinoteart__6 {
    position: relative;
    z-index: 10;
    margin-top: 20px; }
    .loc-kinoteart__6 img {
      width: 310px; }
      @media screen and (max-width: 1200px) {
        .loc-kinoteart__6 img {
          width: 270px; } }
    @media screen and (max-width: 992px) {
      .loc-kinoteart__6 img {
        width: 220px; } }
    @media screen and (max-width: 576px) {
      .loc-kinoteart__6 {
        margin-top: 10px;
        margin-bottom: 20px; }
        .loc-kinoteart__6 img {
          width: 190px; } }
  .loc-kinoteart__7 {
    position: relative;
    z-index: 2;
    top: -38px;
    left: 65px;
    -webkit-animation: loc-1 1.5s;
            animation: loc-1 1.5s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
    .loc-kinoteart__7 img {
      width: 280px; }
    @media screen and (max-width: 1200px) {
      .loc-kinoteart__7 img {
        width: 250px; } }
    @media screen and (max-width: 992px) {
      .loc-kinoteart__7 {
        top: 0px;
        left: 40px; }
        .loc-kinoteart__7 img {
          width: 220px; } }
    @media screen and (max-width: 576px) {
      .loc-kinoteart__7 {
        left: -10px;
        top: 80px; }
        .loc-kinoteart__7 img {
          width: 180px; } }
  .loc-kinoteart__8 {
    position: absolute;
    right: -55px;
    top: 26px;
    z-index: 2; }
    .loc-kinoteart__8 img {
      width: 490px; }
    @media screen and (max-width: 1200px) {
      .loc-kinoteart__8 {
        top: 60px; }
        .loc-kinoteart__8 img {
          width: 400px; } }
    @media screen and (max-width: 992px) {
      .loc-kinoteart__8 {
        right: 0;
        top: inherit;
        bottom: 10px; }
        .loc-kinoteart__8 img {
          width: 360px; } }
    @media screen and (max-width: 576px) {
      .loc-kinoteart__8 {
        bottom: -65px;
        right: -30px; }
        .loc-kinoteart__8 img {
          width: 260px; } }
    .loc-kinoteart__8:hover ~ .loc-kinoteart__11 {
      opacity: 1; }
  .loc-kinoteart__9 {
    position: absolute;
    right: -4px;
    bottom: 93px;
    z-index: 3; }
    .loc-kinoteart__9 img {
      width: 174px; }
    .loc-kinoteart__9:hover ~ .loc-kinoteart__11 {
      opacity: 1; }
    @media screen and (max-width: 1200px) {
      .loc-kinoteart__9 {
        bottom: 58px;
        right: 0px; }
        .loc-kinoteart__9 img {
          width: 140px; } }
    @media screen and (max-width: 992px) {
      .loc-kinoteart__9 {
        right: 51px; } }
    @media screen and (max-width: 576px) {
      .loc-kinoteart__9 {
        bottom: -46px;
        right: 21px; }
        .loc-kinoteart__9 img {
          width: 100px; } }
  .loc-kinoteart__10 {
    position: absolute;
    right: -95px;
    bottom: 193px;
    z-index: 3; }
    .loc-kinoteart__10 img {
      width: 174px; }
    @media screen and (max-width: 1200px) {
      .loc-kinoteart__10 {
        bottom: 145px;
        right: -110px; }
        .loc-kinoteart__10 img {
          width: 160px; } }
    @media screen and (max-width: 992px) {
      .loc-kinoteart__10 {
        right: -45px; } }
    @media screen and (max-width: 576px) {
      .loc-kinoteart__10 {
        bottom: 15px;
        right: -75px; }
        .loc-kinoteart__10 img {
          width: 130px; } }
  .loc-kinoteart__11 {
    position: absolute;
    right: 64px;
    bottom: 198px;
    z-index: 2;
    opacity: 0;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }
    .loc-kinoteart__11 img {
      width: 71px; }
    @media screen and (max-width: 1200px) {
      .loc-kinoteart__11 {
        right: 43px;
        bottom: 176px; }
        .loc-kinoteart__11 img {
          width: 57px; } }
    @media screen and (max-width: 992px) {
      .loc-kinoteart__11 {
        right: 87px;
        bottom: 155px; }
        .loc-kinoteart__11 img {
          width: 52px; } }
  .loc-kinoteart__12 {
    position: absolute;
    z-index: 1;
    top: 15px;
    right: -50px;
    -webkit-animation: loc-2 4s;
            animation: loc-2 4s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
    .loc-kinoteart__12 img {
      width: 300px; }
    @media screen and (max-width: 1200px) {
      .loc-kinoteart__12 {
        right: -140px;
        /* img {
          width: 250px;
        } */ } }
    @media screen and (max-width: 992px) {
      .loc-kinoteart__12 {
        top: 40px;
        right: 0px; }
        .loc-kinoteart__12 img {
          width: 240px; } }
    @media screen and (max-width: 576px) {
      .loc-kinoteart__12 {
        display: none; } }
  .loc-kinoteart__13 {
    position: absolute;
    z-index: 1;
    top: 65px;
    right: 240px;
    -webkit-animation: loc-2 4s;
            animation: loc-2 4s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
    .loc-kinoteart__13 img {
      width: 270px; }
    @media screen and (max-width: 1200px) {
      .loc-kinoteart__13 {
        right: -200px;
        /* img {
          width: 220px;
        } */ } }
    @media screen and (max-width: 992px) {
      .loc-kinoteart__13 {
        top: 80px;
        right: -110px; }
        .loc-kinoteart__13 img {
          width: 190px; } }
    @media screen and (max-width: 576px) {
      .loc-kinoteart__13 {
        display: none; } }
  .loc-kinoteart__bottom {
    width: 100%;
    height: 58px;
    background-color: #fff;
    position: absolute;
    bottom: 0; }

@media screen and (max-width: 576px) {
  .loc-univer .header-container {
    width: 75%; } }
.loc-univer__life {
  width: 55px;
  position: absolute;
  left: 45px;
  top: 35px;
  -webkit-animation: loc-3 1.2s;
          animation: loc-3 1.2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }
  @media screen and (max-width: 576px) {
    .loc-univer__life {
      left: 163px;
      top: 41px; } }
.loc-univer__1 {
  width: 530px;
  position: absolute;
  right: -122px;
  bottom: -122px;
  z-index: 3; }
  @media screen and (max-width: 1200px) {
    .loc-univer__1 {
      width: 470px; } }
  @media screen and (max-width: 992px) {
    .loc-univer__1 {
      width: 300px;
      right: -70px; } }
  @media screen and (max-width: 576px) {
    .loc-univer__1 {
      width: 240px;
      bottom: -200px;
      right: -30px; } }
.loc-univer__2 {
  width: 530px;
  position: absolute;
  right: 175px;
  top: -51px;
  z-index: 1; }
  @media screen and (max-width: 1200px) {
    .loc-univer__2 {
      width: 490px;
      right: 110px;
      top: -35px; } }
  @media screen and (max-width: 992px) {
    .loc-univer__2 {
      width: 310px;
      top: inherit;
      bottom: -18px;
      right: 94px; } }
  @media screen and (max-width: 576px) {
    .loc-univer__2 {
      bottom: -120px;
      right: 116px;
      width: 210px; } }
.loc-univer__3 {
  width: 250px;
  position: absolute;
  right: 245px;
  top: 0px;
  z-index: 2; }
  @media screen and (max-width: 1200px) {
    .loc-univer__3 {
      right: 190px;
      top: -10px; } }
  @media screen and (max-width: 992px) {
    .loc-univer__3 {
      width: 160px;
      top: inherit;
      bottom: 30px;
      right: 125px; } }
  @media screen and (max-width: 576px) {
    .loc-univer__3 {
      width: 100px;
      bottom: -87px;
      right: 138px; } }
.loc-univer__4 {
  width: 50px;
  position: absolute;
  right: 610px;
  top: 17px;
  z-index: 1; }
  @media screen and (max-width: 1200px) {
    .loc-univer__4 {
      right: 500px; } }
  @media screen and (max-width: 992px) {
    .loc-univer__4 {
      display: none; } }
.loc-univer__5 {
  width: 40px;
  position: absolute;
  right: 470px;
  top: 115px;
  z-index: 2; }
  @media screen and (max-width: 1200px) {
    .loc-univer__5 {
      top: 129px;
      right: 359px; } }
  @media screen and (max-width: 992px) {
    .loc-univer__5 {
      top: 128px;
      right: 310px;
      width: 30px; } }
  @media screen and (max-width: 576px) {
    .loc-univer__5 {
      width: 20px;
      right: 280px;
      top: 215px; } }
.loc-univer__6 {
  width: 40px;
  position: absolute;
  right: 270px;
  top: 0px;
  z-index: 1; }
  @media screen and (max-width: 1200px) {
    .loc-univer__6 {
      right: 186px;
      top: 11px; } }
  @media screen and (max-width: 992px) {
    .loc-univer__6 {
      top: inherit;
      bottom: 82px;
      right: 129px;
      width: 30px; } }
  @media screen and (max-width: 576px) {
    .loc-univer__6 {
      width: 20px;
      right: 203px;
      top: 249px;
      z-index: 2; } }
.loc-univer__7 {
  width: 30px;
  position: absolute;
  right: 250px;
  bottom: -30px;
  z-index: 3; }
  @media screen and (max-width: 1200px) {
    .loc-univer__7 {
      right: 169px;
      bottom: -58px; } }
  @media screen and (max-width: 992px) {
    .loc-univer__7 {
      right: 239px;
      bottom: 4px; } }
  @media screen and (max-width: 576px) {
    .loc-univer__7 {
      right: 133px;
      bottom: -55px;
      width: 20px; } }
.loc-univer__8 {
  width: 40px;
  position: absolute;
  right: 525px;
  top: 2px;
  z-index: 2; }
  @media screen and (max-width: 1200px) {
    .loc-univer__8 {
      right: 450px;
      top: 13px; } }
  @media screen and (max-width: 992px) {
    .loc-univer__8 {
      right: 288px;
      top: 111px;
      width: 30px; } }
  @media screen and (max-width: 576px) {
    .loc-univer__8 {
      right: 245px;
      top: 181px; } }
.loc-univer__9 {
  width: 120px;
  position: absolute;
  right: 460px;
  top: 40px;
  z-index: 1; }
  @media screen and (max-width: 1200px) {
    .loc-univer__9 {
      width: 87px;
      right: 409px;
      top: 54px; } }
  @media screen and (max-width: 992px) {
    .loc-univer__9 {
      width: 40px;
      right: 277px;
      top: 148px; } }
  @media screen and (max-width: 576px) {
    .loc-univer__9 {
      right: 234px;
      top: 215px; } }
.loc-univer__10 {
  width: 20px;
  position: absolute;
  right: 550px;
  top: 120px;
  z-index: 2; }
  @media screen and (max-width: 1200px) {
    .loc-univer__10 {
      right: 465px;
      top: 103px; } }
  @media screen and (max-width: 992px) {
    .loc-univer__10 {
      right: 292px;
      top: inherit;
      bottom: 34px; } }
  @media screen and (max-width: 576px) {
    .loc-univer__10 {
      width: 15px;
      bottom: -90px;
      right: 240px; } }
.loc-univer__11 {
  width: 20px;
  position: absolute;
  right: 160px;
  bottom: -70px;
  z-index: 3; }
  @media screen and (max-width: 1200px) {
    .loc-univer__11 {
      bottom: -90px;
      right: 120px; } }
  @media screen and (max-width: 992px) {
    .loc-univer__11 {
      bottom: -100px;
      right: 80px; } }
  @media screen and (max-width: 576px) {
    .loc-univer__11 {
      width: 15px;
      bottom: -166px;
      right: 116px; } }
.loc-univer__12 {
  width: 20px;
  position: absolute;
  right: 180px;
  bottom: -10px;
  z-index: 3; }
  @media screen and (max-width: 1200px) {
    .loc-univer__12 {
      right: 120px;
      bottom: 0px; } }
  @media screen and (max-width: 992px) {
    .loc-univer__12 {
      right: 109px;
      bottom: -60px; } }
  @media screen and (max-width: 576px) {
    .loc-univer__12 {
      width: 15px;
      right: 94px;
      bottom: -144px; } }
.loc-univer__13 {
  width: 40px;
  position: absolute;
  right: 430px;
  top: 192px;
  z-index: 1; }
  @media screen and (max-width: 1200px) {
    .loc-univer__13 {
      right: 325px;
      top: 200px; } }
  @media screen and (max-width: 992px) {
    .loc-univer__13 {
      right: 115px;
      top: 185px;
      width: 20px; } }
  @media screen and (max-width: 576px) {
    .loc-univer__13 {
      right: 77px;
      top: 361px;
      z-index: 3;
      width: 25px; } }
.loc-univer .loc-kinoteart__2 img {
  width: 400px; }
@media screen and (max-width: 992px) {
  .loc-univer .loc-kinoteart__2 {
    right: -103px;
    top: -68px; }
    .loc-univer .loc-kinoteart__2 img {
      width: 350px; } }
@media screen and (max-width: 576px) {
  .loc-univer .loc-kinoteart__2 {
    top: inherit;
    bottom: 0px; }
    .loc-univer .loc-kinoteart__2 img {
      width: 250px; } }

@-webkit-keyframes loc-1 {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0); }
  100% {
    -webkit-transform: translateY(-32px) translateX(-48px);
            transform: translateY(-32px) translateX(-48px); } }

@keyframes loc-1 {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0); }
  100% {
    -webkit-transform: translateY(-32px) translateX(-48px);
            transform: translateY(-32px) translateX(-48px); } }
@-webkit-keyframes loc-2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px); } }
@keyframes loc-2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px); } }
@-webkit-keyframes loc-3 {
  0% {
    opacity: 1; }
  60% {
    opacity: 0.8; }
  100% {
    opacity: 0; } }
@keyframes loc-3 {
  0% {
    opacity: 1; }
  60% {
    opacity: 0.8; }
  100% {
    opacity: 0; } }
/* Pages */
