/* About Page */

.about-text {
    color: $black-color-2;
    h2 {
        font-size: 26px;
        margin-bottom: 30px;
        @include desktops {
            font-size: 32px;
            margin-bottom: 40px;
        }
    }
    p {
        line-height: 24px;
    }
    .btn {
        width: 145px;
        height: 40px;
        font-weight: 500;
        text-transform: uppercase;
    }
}
