.bold {
  font-weight: bold;
}
.color-cyan {
  color: $cyan;
}
.position-relative {
  position: relative;
}

.lock {
  overflow: hidden;
}

.d-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-gap: 20px;

  @include mobile{
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
