.card-70 {
  width: 68%;
}
.card-30 {
  width: 30.4%;
}

.product-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 20px auto;

  .card-30,
  .card-70 {
    @include lg-1200 {
      width: 100%;
    }
  }

  .card-30{
    @include lg-1200{
      margin-top: 15px;
    }
  }

  &__card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 20px 15px;
    box-sizing: border-box;
    border: 1px solid $border;
    &_image {
      width: 40%;

      @include lg-500 {
        width: 100%;
      }

      .product__gallery {
        display: flex;
        padding: 20px 0;
        overflow: hidden;

        @include lg-600 {
          flex-direction: column-reverse;
          padding: 0;
        }

        @include lg-500{
          flex-direction: row;
        }
      }

      .gallery-thumbs .swiper-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-right: 15px;

        .swiper-slide {
          margin-bottom: 10px;
          height: 55px;
          width: 53px !important;

          img {
            object-fit: contain;
            height: 53px;
          }

          @include lg-600 {
            width: 45px !important;

            img {
              height: 50px;
            }
          }
        }

        @include lg-600 {
          flex-direction: row;
        }

        @include lg-500{
          flex-direction: column;
        }
      }
      .gallery-top .swiper-wrapper {
        width: 100%;

        .swiper-slide {
          height: 260px;

          img {
            object-fit: contain;
            height: 270px;
            padding: 15px;
          }
        }
      }
    }

    &_about {
      width: 55%;

      @include lg-500 {
        width: 100%;
      }
    }
  }

  .gallery-top {
    height: 80%;
    width: 100%;
  }

  .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .gallery-thumbs .swiper-slide {
    height: 100%;
    border: 2px solid transparent;
  }

  .gallery-thumbs .swiper-slide-thumb-active {
    border: 2px solid $blue;
  }

  .product {
    &__about {
      &_rating {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $border;
        padding: 10px 0 18px;

        &_block{
          width: 70%;
          display: flex;

          @include lg-720{
            flex-direction: column;
          }
        }

        .i-star,
        .i-star-rated {
          width: 18px;
          height: 18px;
        }
        .stars,
        .articul {
          width: 50%;

          @include lg-720{
            width: 100%;
          }
        }
        .stars {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
        .articul {
          font-size: 13px;
          color: $grey;

          @include lg-720{
            margin-top: 8px;
          }
        }
        .card-brand {
          height: 25px;
          width: 25%;
          display: flex;
          align-items: center;
        }
      }

      &_share {
        display: flex;
        justify-content: flex-end;
      }

      &_price {
        color: $grey;
        font-size: 26px;
        font-weight: 500;
        padding: 15px 0 10px;

        .product-price {
          color: $black;
          margin-left: 8px;
        }

        @include lg-600 {
          font-size: 22px;
        }
      }

      &_available {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 25px;

        .available {
          margin-right: 30px;
        }

        .cheeper {
        }
      }

      &_checkout {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .number {
          margin-top: 0;
          width: 58%;

          &__controls {
            margin-right: 15px;

            @include lg-460{
              display: flex;
            }
          }

          input {
            padding: 11px 3px;
          }

          &__add {
            button {
              padding: 11px 3px;
            }

            @include lg-460{
              width: 50%;
            }
          }

          
        }

        .fast-buy {
          width: 39%;

          .btn-border {
            border-width: 2px;
            padding: 10px 10px;
            width: 100%;
            color: $green;
            font-weight: 500;
            border-radius: 3px;
            &:hover {
              color: white;
              border-color: $green;
              background-color: $green;
            }
          }
        }

        @include lg-720 {
          flex-wrap: wrap;

          .number {
            width: 100%;
          }

          .fast-buy {
            margin-top: 10px;
            width: 80%;
          }
        }
      }

      &_text {
        font-size: 14px;
        line-height: 1.3;
        color: $grey;
        margin: 15px 0 10px;
      }
    }
  }

  /* Table */
  &__table {
    .card__title_table {
      &_block {
        overflow: hidden;
      }
    }

    &_title {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 22px;
    }

    .table-product {
      tr {
        margin-bottom: 8px;
      }
    }

    .btn-more {
      margin-top: 10px;
    }
  }
}

.available {
  font-size: 14px;
  color: $grey;
  padding: 10px 0;
  span {
    line-height: 1.1;
  }
}

.cheeper {
  display: flex;
  align-items: center;
  .find-cheaper {
    display: flex;
    align-items: center;

    color: $grey;
    font-size: 14px;

    &__text {
      line-height: 1.2;
      border-bottom: 1px dotted $grey;
    }

    &__icon {
      line-height: 1.2;
      opacity: 0.6;
    }
  }
}

.product-others {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  .card-30,
  .card-70 {
    @include lg-1200 {
      width: 100%;
    }
  }

  .text {
    padding-top: 0;
  }

  .reviews__title {
    align-items: center;
    justify-content: space-between;
    align-items: center;

    h2 {
      width: 50%;
      @include lg-600{
        width: 100%;
      }
    }

    .btn-border {
      color: $red;

      @include lg-600{
        display: none;
      }

      &:hover {
        background-color: white;
        color: darken($color: $red, $amount: 1%);
        border-color: darken($color: $red, $amount: 1%);
        border-width: 2px;
        padding: 10px 24px;
      }
    }
  }

  .reviews__name {
    margin-right: 15px;

    @include lg-600{
      width: 100%;
      margin-right: 0;
    }
  }

  .reviews__more .btn-more {
    width: 100%;
  }

  .reviews__text {
    margin-bottom: 10px;
  }

  &__banners {
    &_item {
      margin-top: 20px;
      display: block;
    }

    @include lg-1200 {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      &_item {
        width: 32%;
        margin-top: 0;
      }
    }

    @include lg-990{
      display: none;
    }
  }

  &__recommend {
    &_card {
      border: 1px solid $border;
      display: flex;
      padding: 20px 15px;
      margin: 0 0 -1px 0;
      transition: 200ms ease;

      .recommend_card {
        &__img {
          width: 150px;
          margin-right: 15px;
          img {
            width: 100%;
            height: 80px;
            object-fit: contain;
          }
        }

        &__block {
        }

        &__title {
          font-size: 16px;
          color: $black;
          margin-bottom: 8px;
        }

        &__price {
          color: $black;
          font-weight: 600;
          margin-top: 10px;
          font-size: 17px;
        }
      }

      .stars {
        justify-content: flex-start;
      }

      &:hover {
        box-shadow: $bs-card;
      }
    }
  }
}

.lg-1200-none {
  @include lg-1200 {
    display: none;
  }
}





/* Brands-page */

.brands-page{
  margin: 30px 0;
  p{
    margin: 30px 0;
  }

  &__block{
    
  }

  &__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;

    @include lg-1025{
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include lg-720{
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
    }

    li{
      a{
        display: flex;
        align-items: center;
        height: 165px;
        padding: 0 50px;
        box-sizing: border-box;
        border: 1px solid $border;
        transition: 200ms ease;

        @include lg-720{
          padding: 0 20px;
          height: 130px;
        }


        img{
          width: 80%;
          height: 50px;
          object-fit: contain;
          margin: 0 auto;
        }

        &:hover{
          box-shadow: $bs-card;
        }
      }
    }
  }
}
