.catalog-category {
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;

  @include lg-1025 {
    display: none;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    > li {
      padding: 0px 10px;
      width: 100%;
      border-right: 1px dotted $light-grey;
      text-align: center;
      position: relative;

      &:last-child {
        border-right: none;

        &::after {
          content: "";
          @include icon(url(../img/icons/arrow-down-black.svg), 9px, 9px);
          display: inline-block;
          margin-left: 5px;
        }

        a {
          border-bottom: 1px dotted;
        }
      }

      &:nth-last-child(-n + 5) {
        @include lg-1200 {
          display: none;
        }
      }

      &:last-child {
        display: block;
      }

      a {
        color: $grey;
        font-size: 14px;
        cursor: pointer;
        transition: 200ms ease;

        &:hover {
          border-bottom: 1px dotted;
        }
      }

      &:hover {
        .catalog-category__list_more {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &_more {
      position: absolute;
      z-index: 11;
      width: 150px;
      display: flex;
      flex-direction: column;
      background-color: white;
      right: 0;
      visibility: hidden;
      box-shadow: $bs;
      opacity: 0;
      transition: 200ms ease;

      li {
        a {
          padding: 5px 10px;
          display: block;
          text-align: left;
          border-bottom: 1px dotted transparent !important;
          &:hover {
            background-color: $border;
          }
        }
      }
    }
  }
}

/* Slider */
.catalog-category-slider {
  padding: 30px 0;
  box-sizing: border-box;
  border-bottom: 1px solid $border;

  .container {
    padding: 0 50px;
    box-sizing: border-box;
    position: relative;

    @include lg-350 {
      padding: 0 28px;
    }
  }

  img {
    width: 100%;
    height: 100px;
    object-fit: contain;
  }

  a {
    text-align: center;
    span {
      color: $black;
      font-size: 13px;
      letter-spacing: 0.6px;
      font-weight: 500;
    }
  }
}

/* catalog-page  */
.catalog-page {
  &__sort {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    &_action {
      width: 75%;
      display: flex;
      @include lg-600 {
        width: 50%;
      }

      .sort-button {
        display: flex;
        align-items: center;
        margin-right: 20px;
        @include lg-720 {
          display: none;
        }
      }
      .sort-button-mobile {
        display: none;
        @include lg-720 {
          display: flex;
          align-items: center;
          background-color: $border;
          border-radius: 2px;
          font-size: 14px;
          padding: 5px 10px 5px 3px;
          font-weight: 300;
        }
      }
    }

    &_view {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @include lg-720 {
        width: 50%;
      }

      .sort-view__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        height: 36px;
        width: 36px;
        background-color: $border;
        border-radius: 2px;
        transition: 100ms ease;
        cursor: pointer;

        &_active {
          background-color: $green;
          span {
            filter: invert(1);
          }
        }

        &:hover {
          background-color: $green;

          span {
            filter: invert(1);
          }
        }
      }
    }
  }

  &__products {
    width: 76%;
    margin-top: 0;

    @include lg-720 {
      width: 100%;
    }

    flex-wrap: wrap;

    ul {
      margin-top: 0;
    }

    .btn-more {
      margin: 30px 0;

      span {
        line-height: 1;
      }
    }

    &_list {
      flex-direction: column;
      justify-content: stretch;
    }
  }

  &__filter {
    width: 22.4%;
    margin-bottom: 15px;

    @include lg-720 {
      width: 100%;
      height: 100vh;
      position: fixed;
      z-index: 999;
      top: 0;
      left: 0;
      visibility: hidden;

      transition: 300ms ease-in-out;

      &_active {
        visibility: visible;
      }
    }

    &_overlay {
      display: none;

      width: 100%;
      height: 100vh;
      background-color: rgba($color: #000000, $alpha: 0.6);

      &_active {
        display: block;
      }
    }

    &_bitrix {
      @include lg-720 {
        display: block;
        width: 320px;
        height: 100vh;
        background-color: white;

        position: fixed;
        top: 0;
        left: -100%;
        transition: 400ms ease;
        z-index: 1000;

        overflow-y: scroll;

        box-sizing: border-box;
      }

      &_active {
        left: 0;
      }
    }
  }

  &__category {
    padding: 20px 0;

    &_block {
      margin-bottom: 20px;

      ul {
        display: flex;
        flex-direction: column;

        li {
          margin-bottom: 5px;
          a {
            display: flex;
            justify-content: space-between;
            color: $black;
            font-size: 14px;
            cursor: pointer;
            transition: 100ms ease;

            &:hover {
              color: $green;

              .catalog-page__category_number {
                color: $green;
              }
            }
          }
        }
      }
    }

    &_return {
      padding-bottom: 20px;
      border-bottom: 1px solid $border;
      a {
        display: flex;
        align-items: center;
        color: $grey;
        border: 1px solid $border;
        border-radius: 3px;
        cursor: pointer;

        .i-down {
          width: 12px;
          height: 12px;
          filter: invert(1);
          transform: rotate(90deg);
          opacity: 0.7;
        }

        .icon {
          height: 100%;
          padding: 11px;
          width: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-right: 1px solid $border;
        }
      }
      &_text {
        width: 90%;
        text-align: center;
        padding: 6px;
        font-size: 14px;
      }
    }

    &_title {
      font-size: 18px;
      font-weight: 600;
      margin: 20px 0;
    }

    &_number {
      color: $grey;
    }
  }
}

/* Bitrix */
.bx_filter {
  border-top: 1px solid $border;

  &_section {
  }

  @include lg-720 {
    border-top: none;
  }

  .title {
    padding-bottom: 0;
    border-color: transparent;
    background-color: #fff;
    z-index: 2;

    @include lg-720 {
      position: sticky;
      top: 0;
    }
    .bx_filter_parameters_box_title {
      font-size: 18px;
      font-weight: bold;
      margin: 25px 0 5px;

      @include lg-720 {
        margin: 0;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        font-size: 16px;

        .i-filter {
          margin-right: 7px;
        }

        &::after {
          content: "";
          display: inline-block;
          background-image: url(../img/icons/close.svg);
          width: 15px;
          height: 15px;
          background-size: 100% 100%;
          position: absolute;
          right: 15px;
        }
      }
    }
    @include lg-720 {
      border-color: $border;
    }
  }

  &_parameters_box {
    border-bottom: 1px solid $border;
    padding-bottom: 15px;
    &_title {
      font-size: 16px;
      font-weight: bold;
      margin: 20px 0;
    }

    @include lg-720 {
      padding: 15px 20px;

      &_title {
        margin-top: 0;
        font-size: 14px;
      }

      /*  &:last-child{
        padding-bottom: 85px;
      } */
    }
  }

  input[type="checkbox"] {
    padding: 10px;
  }

  .wrapp_change_inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .bx_filter_parameters_box_container_block {
      width: 45%;
      display: flex;

      .bx_filter_input_container {
        width: 100%;
        input {
          padding: 10px;
          width: 100%;
          box-sizing: border-box;
          border: 1px solid $border;
          font-size: 14px;
        }
      }
      &_hr {
        display: flex;
        align-items: center;

        hr {
          width: 15px;
          height: 1px;
          background-color: #9a9a9a;
          border-width: 0;
        }
      }
    }

    .divider {
      display: none;
    }
  }

  .wrapp_slider {
    padding: 20px 0 5px;
  }

  .bx-my-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 3px;

    input {
      display: none;

      &:checked {
        ~ label::after {
          content: "";
          display: inline-block;
          width: 14px;
          height: 14px;
          border-radius: 2px;
          border: 1px solid $green;
          background-color: $green;
          position: absolute;
          left: 0;
        }
      }
    }
    label {
      display: flex;
      align-items: center;
      position: relative;
      font-size: 14px;
      &::before {
        content: "";
        display: inline-block;
        margin-right: 10px;
        width: 14px;
        height: 14px;
        border-radius: 2px;
        border: 1px solid #ccc;
      }

      .bx_filter_param_text {
        line-height: 1.6;
      }
    }
  }

  .bx_filter_search_reset,
  .bx_filter_search_button {
    margin: 15px 0;
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: $grey;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background-color: $border;
    }
  }

  .bx_filter_search_button {
    color: white;
    background-color: $green;
    border-color: $green;
    padding: 10px 40px;
    margin-right: 8px;

    &:hover{
      background-color: $green;
    }
  }

  .bx_filter_button_box {
    @include lg-720 {
      position: sticky;
      width: 320px;
      left: 0;
      bottom: 0;
      border-top: 1px solid $border;
      background-color: #fff;
      padding-left: 20px;
      box-sizing: border-box;
    }
  }
}

/* Catalog Cards List */
.catalog-page__cards_list {
  li {
    width: 100%;
  }

  .card {
    height: auto;
    &__inner {
      &_block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 25px;

        @include lg-1025 {
          padding: 15px;
        }
      }
    }

    &__image {
      width: 20%;

      @include lg-600 {
        width: 35%;
      }

      @include lg-460 {
        width: 43%;
      }

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    &__title {
      width: 78%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: left;

      @include lg-600 {
        width: 63%;
      }

      @include lg-460 {
        width: 55%;
      }

      &_wrapper {
        width: 70%;

        @include lg-1100 {
          width: 55%;
        }

        @include lg-990 {
          width: 49%;
          border-bottom: 1px solid $border;
        }
        @include lg-600 {
          width: 100%;
          margin-bottom: 15px;
        }
      }

      &_block {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .stars,
        .count {
          margin: 0;
          margin-right: 15px;
          margin-bottom: 8px;
          color: $grey;
        }
        .articul {
          margin-bottom: 8px;

          @include lg-460 {
            font-size: 13px;
          }
        }
      }

      &_name {
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        height: auto;
        margin-bottom: 10px;

        @include lg-1100 {
          font-size: 16px;
        }

        @include lg-460 {
          font-size: 15px;
        }
      }

      &_table {
        width: 100%;

        @include lg-460 {
          display: none;
        }
      }

      .table-product__more_active {
        &::after {
          transform: rotateX(180deg);
        }
      }
    }

    &__footer {
      width: 28%;
      display: block;

      @include lg-1100 {
        width: 40%;
      }
      @include lg-990 {
        width: 48%;
      }
      @include lg-600 {
        width: 100%;
      }

      @include lg-460 {
        .number {
          justify-content: flex-start;
        }
      }
    }

    .table-product__value {
      padding-right: 20px;

      @include lg-600 {
        padding-right: 0;
        width: 40%;
      }
    }

    .table-product tbody {
      height: 80px;
      overflow: hidden;
      display: block;
    }
  }
}

/* catalog-page__cards_small_list */

.catalog-page__cards_small_list {
  .card {
    height: auto;
    &__inner {
      &_block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px;

        /* @include lg-1025 {
          padding: 15px;
        } */
      }
    }

    &__image {
      width: 6%;

      @include lg-1025 {
        width: 10%;
      }

      @include lg-460 {
        width: 22%;
      }

      /* @include lg-600 {
        width: 35%;
      }

      @include lg-460 {
        width: 43%;
      } */

      img {
        width: 100%;
        height: 60px;
        object-fit: contain;
      }
    }

    &__title {
      width: 93%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: left;

      @include lg-1025 {
        width: 89%;
      }

      @include lg-700 {
        width: 86%;
      }

      @include lg-460 {
        width: 76%;
      }

      /* @include lg-460 {
        width: 55%;
      } */

      &_wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        /* @include lg-1100 {
          width: 55%;
        } */

        @include lg-1025 {
          width: 49%;
          border-bottom: none;
        }
        @include lg-990 {
          width: 64%;
        }
        @include lg-770 {
          width: 50%;
        }
        @include lg-720 {
          width: 55%;
        }
        @include lg-460 {
          width: 100%;
          margin-bottom: 10px;
        }
      }

      &_block {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .stars,
        .count {
          margin: 0;
          margin-right: 15px;
          margin-bottom: 8px;
          color: $grey;
        }
        .articul {
          margin-bottom: 8px;

          @include lg-1025 {
            display: none;
          }
        }
      }

      &_name {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        height: auto;
        margin-bottom: 10px;

        @include lg-1025 {
          font-size: 16px;
        }

        @include lg-700 {
          font-size: 14px;
        }

        /*  @include lg-460 {
          font-size: 15px;
        } */
      }

      .stars {
        display: flex;
      }
    }

    &__footer {
      width: 49%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .number {
        margin-top: 0;
        width: 58%;
        margin-left: 15px;
      }

      .price {
        width: 42%;
      }

      @include lg-1025 {
        .number {
          width: 58%;

          &__add {
            button {
              font-size: 13px;
            }
          }
        }
        .price {
          font-size: 17px;
          width: 42%;
        }
      }

      @include lg-990 {
        width: 35%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;

        .number,
        .price {
          width: 100%;
          margin-left: 0;
        }
      }
      @include lg-770 {
        width: 50%;
      }
      @include lg-720 {
        width: 43%;
      }
      @include lg-460 {
        width: 100%;
        flex-direction: row;
        align-items: center;

        .price {
          font-size: 15px;
        }

        .number {
          justify-content: flex-end;
        }
      }
    }

    &:hover {
      .card__footer {
        display: flex;
      }
    }
  }
}

/* brands-info */

.brands-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px auto;

  &__text {
    width: 76%;
    padding: 0;
  }

  &__img {
    width: 22.4%;

    .brands-card {
      margin-top: 15px;
    }
  }

  @include lg-720 {
    flex-direction: column-reverse;

    &__text,
    &__img {
      width: 100%;
    }
  }
}

.js-category-catalog-more {
  overflow: hidden;

  &-btn {
    margin: 10px 0;
    font-size: 15px;
    color: $blue;
  }
}
