.catalog-category {
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;

  @include lg-1025 {
    display: none;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    > li {
      padding: 0px 10px;
      width: 100%;
      border-right: 1px dotted $light-grey;
      text-align: center;
      position: relative;

      &:last-child {
        border-right: none;

        &::after {
          content: "";
          @include icon(url(../img/icons/arrow-down-black.svg), 9px, 9px);
          display: inline-block;
          margin-left: 5px;
        }

        a {
          border-bottom: 1px dotted;
        }
      }

      &:nth-last-child(-n + 5) {
        @include lg-1200 {
          display: none;
        }
      }

      &:last-child {
        display: block;
      }

      a {
        color: $grey;
        font-size: 14px;
        cursor: pointer;
        transition: 200ms ease;

        &:hover {
          border-bottom: 1px dotted;
        }
      }

      &:hover {
        .catalog-category__list_more {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &_more {
      position: absolute;
      z-index: 11;
      width: 150px;
      display: flex;
      flex-direction: column;
      background-color: white;
      right: 0;
      visibility: hidden;
      box-shadow: $bs;
      opacity: 0;
      transition: 200ms ease;

      li {
        a {
          padding: 5px 10px;
          display: block;
          text-align: left;
          border-bottom: 1px dotted transparent !important;
          &:hover {
            background-color: $border;
          }
        }
      }
    }
  }
}

/* Slider */
.catalog-category-slider {
  padding: 30px 0;
  box-sizing: border-box;
  border-bottom: 1px solid $border;

  .container {
    padding: 0 50px;
    box-sizing: border-box;
    position: relative;
  }

  img {
    width: 100%;
    height: 100px;
    object-fit: contain;
  }

  a {
    text-align: center;
    span {
      color: $black;
      font-size: 13px;
      letter-spacing: 0.6px;
      font-weight: 500;
    }
  }
}

/* catalog-page  */
.catalog-page {
  &__sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    &_action {
      width: 75%;
      display: flex;
      @include lg-600 {
        width: 50%;
      }

      .sort-button {
        display: flex;
        align-items: center;
        margin-right: 20px;
        @include lg-720 {
          display: none;
        }
      }
      .sort-button-mobile {
        display: none;
        @include lg-720 {
          display: flex;
          align-items: center;
          background-color: $border;
          border-radius: 2px;
          font-size: 14px;
          padding: 5px 10px 5px 3px;
          font-weight: 300;
        }
      }
    }

    &_view {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @include lg-720 {
        width: 50%;
      }

      .sort-view__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        height: 30px;
        width: 30px;
        background-color: $border;
        border-radius: 2px;
        transition: 100ms ease;
        cursor: pointer;

        &_active {
          background-color: $green;
          span {
            filter: invert(1);
          }
        }

        &:hover {
          background-color: $green;

          span {
            filter: invert(1);
          }
        }
      }
    }
  }

  &__products {
    width: 76%;
    margin-top: 0;

    @include lg-720 {
      width: 100%;
    }

    flex-wrap: wrap;

    ul {
      margin-top: 0;
    }

    .btn-more {
      margin: 30px 0;

      span {
        line-height: 1;
      }
    }

    &_list {
      flex-direction: column;
      justify-content: stretch;
    }
  }

  &__filter {
    width: 22.4%;

    @include lg-720 {
      width: 100%;
      height: 100vh;
      position: fixed;
      z-index: 999;
      top: 0;
      left: 0;
      visibility: hidden;

      transition: 300ms ease-in-out;

      &_active {
        visibility: visible;
      }
    }

    &_overlay {
      display: none;

      width: 100%;
      height: 100vh;
      background-color: rgba($color: #000000, $alpha: 0.6);

      &_active {
        display: block;
      }
    }

    &_bitrix {
      @include lg-720 {
        display: block;
        width: 80%;
        height: 100vh;
        background-color: white;

        position: fixed;
        top: 0;
        left: -100%;
        transition: 400ms ease;
        z-index: 1000;

        overflow-y: scroll;

        padding: 10px;
        box-sizing: border-box;
      }

      &_active {
        left: 0;
      }
    }
  }
}

/* Bitrix */
.bx_filter {
  border-top: 1px solid $border;

  @include lg-720 {
    border-top: none;
  }

  .title {
    .bx_filter_parameters_box_title {
      font-size: 19px;
      font-weight: bold;
      margin: 25px 0;
    }
  }

  &_parameters_box {
    &_title {
      font-size: 16px;
      font-weight: bold;
      margin: 20px 0;
    }
  }

  input[type="checkbox"] {
    padding: 10px;
  }

  .wrapp_change_inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .bx_filter_parameters_box_container_block {
      width: 45%;

      .bx_filter_input_container {
        input {
          padding: 10px;
          width: 100%;
          box-sizing: border-box;
        }
      }
    }
  }
}

/* Catalog Cards List */
.catalog-page__cards_list {
  li {
    width: 100%;
  }

  .card {
    height: auto;
    &__inner {
      &_block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 25px;

        @include lg-1025 {
          padding: 15px;
        }
      }
    }

    &__image {
      width: 20%;

      @include lg-600 {
        width: 35%;
      }

      @include lg-460{
        width: 43%;
      }

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    &__title {
      width: 78%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: left;

      @include lg-600 {
        width: 63%;
      }

      @include lg-460{
        width: 55%;
      }

      &_wrapper {
        width: 70%;

        @include lg-1100 {
          width: 55%;
        }

        @include lg-990 {
          width: 49%;
          border-bottom: 1px solid $border;
        }
        @include lg-600 {
          width: 100%;
          margin-bottom: 15px;
        }
      }

      &_block {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .stars,
        .count {
          margin: 0;
          margin-right: 15px;
          margin-bottom: 8px;
          color: $grey;
        }
        .articul {
          margin-bottom: 8px;

          @include lg-460{
            font-size: 13px;
          }
        }
      }

      &_name {
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        height: auto;
        margin-bottom: 10px;

        @include lg-1100 {
          font-size: 16px;
        }

        @include lg-460{
          font-size: 15px;
        }
      }

      &_table {
        width: 100%;

        @include lg-460 {
          display: none;
        }
      }

      .table-product__more_active {
        &::after {
          transform: rotateX(180deg);
        }
      }
    }

    &__footer {
      width: 28%;
      display: block;

      @include lg-1100 {
        width: 40%;
      }
      @include lg-990 {
        width: 48%;
      }
      @include lg-600 {
        width: 100%;
      }

      @include lg-460 {
        .number {
          justify-content: flex-start;
        }
      }
    }

    .table-product__value {
      padding-right: 20px;

      @include lg-600 {
        padding-right: 0;
        width: 40%;
      }
    }

    .table-product tbody {
      height: 80px;
      overflow: hidden;
      display: block;
    }
  }
}
