.compare {
  &__wrapper {
    padding: 30px 0;
  }

  &__top {
    border-bottom: 1px solid $border;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;

    @include lg-720 {
      flex-direction: column;
      border-bottom: 1px solid transparent;
    }
    &_links {
      display: flex;
      @include lg-720 {
        margin-bottom: 20px;
      }
      a {
        padding: 20px 25px;
        border: 1px solid $border;
        background-color: $bg-white;
        margin: 0 0 -1px -1px;
        color: $black;
        font-weight: 600;

        @include lg-720 {
          padding: 15px 10px;
          font-size: 14px;
        }

        &:hover {
          color: $green;
          background-color: #fff;
        }
      }
      .compare__links_active {
        border: 1px solid white;
        border-top: 2px solid $green;
        border-left: 1px solid $border;
        background-color: #fff;

        &:hover {
          color: $black;
        }
      }
    }

    &_reset {
      @include lg-720 {
        margin-bottom: 20px;
      }
    }
  }

  &__bottom {
    display: flex;
    padding: 40px 0 20px;
  }

  &__spec {
    width: 20%;
    display: flex;
    align-items: flex-end;
    text-align: left;
    font-weight: 600;

    @include lg-720 {
      width: 33%;
    }
  }

  &__products {
    width: 80%;

    @include lg-720 {
      width: 68%;
    }

    &_list {
      box-sizing: border-box;
      width: 100%;

      .swiper-slide {
        width: 230px;
        font-size: 16px;

        @include lg-720 {
          width: 200px;
        }
      }
    }

    &_item {
      width: 230px;
      text-align: left;
      @include lg-720 {
        width: 200px;
      }
    }
  }
  .swiper-container-horizontal > .swiper-scrollbar {
    width: 90%;
    top: 54.6%;
    left: 49.5%;
    transform: translate(-50%);
    overflow: hidden;

    @include lg-460 {
      width: 70%;
    }
  }
  .swiper-scrollbar-drag {
    background-color: $green;
  }
  .swiper-button-prev,
  .swiper-button-next {
    top: 58%;
  }
}

.compare__card {
  margin-bottom: 80px;
  &_img {
    img {
      width: 100%;
      height: 160px;
      object-fit: contain;
    }
  }

  &_title {
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    height: 50px;
    overflow: hidden;
  }

  &_price {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px 5px;
    box-sizing: border-box;
  }

  &_table {
  }
}
