.home-slider {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home-slider__block {
  width: 77%;

  @include lg-1100 {
    width: 100%;
  }

  img {
    height: 262px;
    border-radius: 5px;
    object-fit: cover;
  }

  .swiper-button-prev,
  .swiper-button-next {
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 3px 4px 0px #616161;
  }
}

.home-slider__offer {
  width: 22%;

  @include lg-1100 {
    display: none;
  }

  a {
    display: block;
    height: 262px;
    border-radius: 5px;
    background-size: cover;
    padding: 24px;
    box-sizing: border-box;

    &:hover .home-slider__offer_btn {
      box-shadow: $bs;
    }
  }

  &_title {
    display: block;
    font-size: 22px;
    color: white;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 1.2;
  }

  &_btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    background-color: white;
    border-radius: 2px;
    color: $red;
    text-align: center;
    transition: 300ms;
  }
}

.home-slider__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid $border;

  &_advantages {
    width: 48%;
    display: flex;
    margin-top: 30px;

    @include lg-1100 {
      display: none;
    }

    li {
      width: 45%;

      img {
        width: 82px;
        height: 82px;
      }

      @include lg-1200 {
        font-size: 14px;
        width: 48%;
      }
    }
  }
}

/* Каталог */
.catalog {
  margin-top: 15px;
  margin-bottom: 50px;
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      font-size: 14px;
      color: $light-grey;
      text-transform: uppercase;
      width: 100px;
      transition: 200ms;

      &:hover {
        color: $dark-blue;
      }

      @include lg-500 {
        display: none;
      }
    }
  }
}

/* Catalog Products */
.catalog__products {
  li {
    width: 20%;
    a {
      img {
        width: 140px;
      }
    }

    @include lg-1300 {
      a {
        padding: 25px 15px;
        img {
          width: 110px;
        }
      }
    }

    @include lg-990 {
      width: 25%;
    }

    @include lg-850 {
      width: 33.333%;
    }

    @include lg-720 {
      width: 33.333%;
      a {
        padding: 20px 10px;
        img {
          width: 90px;
        }
      }
    }

    @include lg-600 {
      width: 100%;

      a {
        display: flex;
        align-items: center;
        position: relative;

        padding: 12px;

        img {
          margin: 0;
          width: 42px;
          height: 42px;
          object-fit: contain;
        }

        span {
          display: block;
          text-align: left;
          font-size: 16px;
          font-weight: bold;
          margin: 0 0 0 20px;
        }

        &::after {
          content: "";
          @include icon(url(../img/icons/arrow-down-black.svg), 10px, 10px);
          transform: rotate(-90deg);
          position: absolute;
          right: 20px;
        }
      }
    }
  }
}

/* Catalog Groups */
.catalog__groups {
  li {
    width: 12.5%;

    a {
      padding: 20px 15px;

      img {
        width: 100px;
      }
    }

    @include lg-1300 {
      width: 14.366%;
      a {
        font-size: 12px;
        padding: 20px 15px;
        img {
          width: 75px;
        }
      }
    }
    @include lg-1025 {
      width: 16.666%;
    }

    @include lg-850 {
      width: 25%;
    }

    @include lg-720 {
      width: 33.333%;
    }
    @include lg-600 {
      width: 50%;
      a {
        display: flex;
        align-items: center;
        position: relative;

        padding: 12px;

        img {
          margin: 0;
          width: 42px;
          height: 42px;
          object-fit: contain;
        }

        span {
          display: block;
          font-size: 12px;
          margin: 0 0 0 10px;
          text-align: left;
        }
      }
    }

    @include lg-460 {
      width: 100%;
    }
  }
}

.brands {
  padding: 30px;
  margin: 30px auto;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  position: relative;

  @include lg-1300 {
    padding: 30px 60px;
  }
  .swiper-container {
    padding: 0 30px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    transform: translateY(100%);
  }

  .swiper-button-prev {
    left: 0px;

    @include lg-1025{
      left: 20px;
    }
  }
  .swiper-button-next {
    right: 0px;

    @include lg-1025{
      right: 20px;
    }
  }

  img {
    /* width: 150px; */
    object-fit: contain;
  }
}

/* Продукты */
.product {
  margin-top: 40px;
  &__link {
    display: flex;

    li {
      margin-right: 30px;

      a {
        display: block;
        font-size: 16px;
        color: $blue;
        font-weight: bold;
        padding: 5px 0;
      }
    }

    li.active {
      a {
        color: $black;
        border-bottom: 2px solid $blue;
      }
    }
  }

  &__cards {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;

    li {
      border: none;

      &:hover {
        box-shadow: none;
      }
    }
  }
}

/* Рассылка */
.news-letter {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;

  &::before {
    content: "";
    background-image: url(../img/mail-pattern.png);
    width: 100%;
    height: 8px;
  }
  &::after {
    content: "";
    background-image: url(../img/mail-pattern.png);
    width: 100%;
    height: 8px;
  }

  &__block {
    display: flex;
    align-items: center;
    padding: 25px 0;
  }

  &__img {
    display: flex;
    justify-content: center;

    .letter_img {
      width: 180px;
    }
  }

  &__text {
    display: flex;
    align-items: center;

    .letter-text {
      width: 55%;
      padding-right: 20px;
      box-sizing: border-box;

      span {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
      }
    }

    .letter-mail {
      width: 45%;
      display: flex;

      input {
        width: 50%;
        margin-right: 10px;
      }
    }
  }
}

.reviews {
  margin-bottom: 40px;

  &__title {
    display: flex;
    justify-content: flex-end;
    h2 {
      width: 70%;
    }
  }

  &__list {
    padding: 0 0 20px;
    ul {
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        border-bottom: 1px solid $border;
        padding: 18px 0;
      }
    }
  }

  &__name {
    font-size: 18px;
    margin-bottom: 5px;
  }

  &__rating {
    display: flex;
    align-items: center;
    line-height: 10px;
    margin-bottom: 8px;

    &_text {
      margin-left: 10px;
      font-size: 14px;
      color: $grey;
    }
  }

  &__time {
    font-size: 15px;
    color: $grey;
  }

  &__product {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    span {
      color: $grey;
      font-weight: normal;
    }
  }

  &__text {
  }

  &__more {
    display: flex;
    justify-content: flex-end;
    .btn-more {
      width: 70%;
    }
  }
}

/* Баннер */
.banner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  a {
    width: 32.5%;

    img {
      height: 160px;
      object-fit: cover;
    }
  }
}

.watched-before {
  background-color: #f6f6f7;
  padding: 40px 0;
  position: relative;

  &__title {
    display: flex;
    justify-content: space-between;
    padding: 0 0 20px;

    .watched__title {
      font-size: 18px;
    }
  }

  &__control {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    div {
      position: relative;
      background-color: #fff;
      border: 1px solid $light-grey;
      padding: 5px 8px;
      border-radius: 2px;
      height: 20px;
      opacity: 0.5;
    }

    .swiper-button-next {
      right: 1px;
    }

    .swiper-button-prev {
      left: 0;
    }
  }

  &__card {
    display: flex;
    align-items: center;

    color: $black;
    border: 1px solid $border;
    border-radius: 2px;

    &_img {
      width: 43%;
      padding: 20px;
      box-sizing: border-box;
    }

    &_text {
      width: 57%;
      text-align: left;
      padding-right: 10px;

      .title {
        font-size: 15px;
        overflow: hidden;
        height: 45px;
        margin-bottom: 8px;
      }

      .price {
        font-weight: bold;
      }
    }
  }
}
