@mixin icon($image, $width, $height) {
  background: {
    image: $image;
    repeat: no-repeat;
    size: contain;
  }

  display: inline-block;
  width: $width;
  height: $height;
}



/*=== MEDIA QUERY with max width===*/

@mixin mobile {
  @media screen and (max-width: 479px) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: 575px) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin mlg {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin mlg {
  @media screen and (max-width: 991px) {
    @content;
  }
}
@mixin lg-1000 {
  @media screen and (max-width: 1100px) {
    @content;
  }
}

@mixin lg-1100 {
  @media screen and (max-width: 1100px) {
    @content;
  }
}

@mixin lg-1200 {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin lg-1300 {
  @media screen and (max-width: 1300px) {
    @content;
  }
}

@mixin lg-1400 {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

@mixin large-desktops {
  @media screen and (max-width: 1500px) {
    @content;
  }
}

