// Colors
$blue: #1773cf; /* #2992d9 */
$dark-blue: #34495e;
$green: #3ab503;
$border: #ececec;
$light-grey: #b0b0a8;
$grey: #555555;
$black: #282828;
$red: #e52929;

$font-exo: "Exo 2", Helvetica, Arial, sans-serif;
$font-roboto: "Roboto", Helvetica, Arial, sans-serif;

$br: 2px;
$bs: 0px 3px 4px 0px #616161;

/* Типография */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-exo;
  font-weight: bold;
  line-height: 1.5;
}
h1,
h2,
h3 {
  margin-bottom: 20px;
  margin-top: 20px;
}
span,
li,
p {
  line-height: 1.5;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}

b {
  font-weight: bold;
}

html,
body,
p,
a,
button {
  font-family: $font-roboto;
}

button {
  border: none;
  background: none;
  outline: none;
}

/* Базовые стили */

a {
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
  box-sizing: border-box;
}

.input {
  padding: 10px 15px;
  border: 1px solid $light-grey;
  border-radius: 2px;
  font-size: 15px;

  &:focus {
    border-color: $black;
  }
}

.form-input {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 2px;

  input {
    width: 100%;
    box-sizing: border-box;

    &:focus {
      border-color: $green;
    }
  }
  button {
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green;
    padding: 10px;
    transition: 200ms;

    span {
      filter: invert(1);
    }

    &:hover {
      background-color: darken($green, 5%);
    }
  }
}

.input-search {
  width: 330px;
  padding: 9px 15px;
}

.text-white {
  color: #fff;
}
.text-black {
  color: #000;
}

.bg-blue {
  background-color: $blue;
}
.bg-green {
  background-color: $green;
}
.bg-red {
  background-color: $red;
}

.btn-border {
  font-size: 14px;
  text-align: center;
  color: $dark-blue;
  border: 1px solid;
  border-radius: $br;
  padding: 10px 25px;
  display: inline-block;
  background-color: transparent;
  transition: 200ms;
  box-sizing: border-box;

  &:hover{
    background-color: $dark-blue;
    color: white;
    border-color: $dark-blue;
  }
}

.btn-border-red {
  color: $red;

  &:hover{
    background-color: $red;
    border-color: $red;
  }
}

.btn-mail {
  background-color: $green;
  border-color: $green;
  color: white;

  &:hover {
    background-color: darken($green, 6%);
  }
}

.btn-more {
  padding: 15px;
  border-color: $border;

  &:hover {
    background-color: $border;
  }
}

/* Bootstap Classes */

.container-fluid {
  width: 100%;
}

.container {
  width: 1366px;
  display: block;
  margin: 0 auto;
  padding: 0 20px;

  
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}
.w-70 {
  width: 70%;
}
.w-60 {
  width: 60%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}
.w-30 {
  width: 30%;
}

.m-0 {
  margin: 0 !important;
}

.p-1 {
  padding: 10px;
}

.pr-3 {
  padding-right: 30px;
}

.px-3 {
  padding: 0 30px;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}

.border-radius {
  border-radius: 4px;
}

/* Used fragments */
.advantages {
  display: flex;
  align-items: center;
  justify-content: space-between;

  li {
    display: flex;
    align-items: center;

    img {
      width: 82px;
      height: 82px;
    }

    div {
      display: flex;
      flex-direction: column;
      margin-left: 24px;
    }

    .title {
      font-weight: bold;
    }
    .text {
      color: $grey;
    }
  }
}

.text {
  padding: 30px 0;
  ul {
    list-style-type: circle;
    margin-left: 17px;
    li {
      margin: 15px 0;
    }
  }
  p {
    margin: 15px 0;
  }

  img {
    margin: 0 20px;
  }
}

.list-5 {
  li {
    width: 20%;
    a {
      img {
        width: 140px;
      }
    }
  }
}
.list-6 {
  li {
    width: 16.666%;
  }
}
.list-8 {
  li {
    width: 12.5%;

    a {
      img {
        width: 120px;
      }
    }
  }
}

/* Карточка */
.card {
  display: flex;
  flex-direction: column;
  position: relative;

  box-sizing: border-box;
  height: 381px;

  &__inner {
    &:hover {
      position: relative;
      z-index: 999;
    }

    &_block {
      padding: 10px 15px 30px;
      border: 1px solid #ececec;
      transition: 200ms;
      background-color: #fff;

      &:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
      }
    }
  }

  img {
    width: 100%;
  }

  &__image {
    position: relative;

    img {
      margin: 20px auto;
      width: auto;
      height: 170px;
    }

    .card__image_tags {
      position: absolute;
      top: 10px;
      left: 10px;
      display: flex;
      flex-wrap: wrap;

      span {
        padding: 4px 10px;
        border-radius: 3px;
        color: white;
        font-size: 10px;
        text-transform: uppercase;
        margin-right: 8px;
      }
    }
  }

  &__title {
    text-align: center;

    &_name {
      font-size: 14px;
      height: 45px;
      overflow: hidden;
    }

    .price {
      font-size: 20px;
      font-weight: bold;
    }
  }

  &__footer {
    display: none;

    .size {
      margin-top: 10px;
      text-align: center;
      span {
        font-size: 13px;
        color: $grey;
        display: block;
        margin-bottom: 8px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
          margin: 0 5px 5px;

          button {
            outline: none;
            color: $grey;
            border: 1px solid;
            font-weight: 400;
            border-radius: 3px;
            font-size: 13px;
            padding: 6px 9px;
            background: none;
            box-sizing: border-box;

            &:hover {
              color: $blue;
            }

            &.active {
              background-color: $blue;
              color: white;
            }
          }
        }
      }
    }

    .number {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      &__controls {
        display: flex;
        box-sizing: border-box;
        margin-right: 8px;
        background-color: $border;
        border-radius: 3px;
        overflow: hidden;

        input {
          width: 30px;
          border: none;
          text-align: center;
          padding: 8px 2px;
          font-size: 14px;
          background-color: $border;
        }

        button {
          width: 25px;
          text-align: center;
          border: none;
          padding: 8px 5px;
          background-color: $border;
        }
      }

      &__add {
        button {
          color: white;
          background-color: $blue;
          padding: 9px 8px;
          outline: none;
          border: none;
          font-weight: 400;
          font-size: 14px;
          border-radius: 3px;
        }
      }
    }

    .last-price {
      text-align: center;
      font-size: 13px;
      color: $grey;
      margin-top: 20px;

      &__span {
        font-weight: bold;
        padding-left: 3px;
        color: $black;
      }
    }
  }

  &:hover {
    .card__footer {
      display: block;
    }
  }
}
/* Звездочка */
.stars {
  display: flex;
  justify-content: center;

  span {
    margin-right: 2px;
  }
}
.count {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;

  &__text {
    font-size: 13px;
    margin-left: 5px;
  }
}
