// Colors
$blue: #1773cf; /* #2992d9 */
$dark-blue: #34495e;
$green: #3ab503;
$border: #ececec;
$light-grey: #b0b0a8;
$grey: #555555;
$black: #282828;
$red: #e52929;
$bg-white: #f9f9f9;

$font-exo: "Exo 2", Helvetica, Arial, sans-serif;
$font-roboto: "Roboto", Helvetica, Arial, sans-serif;

$br: 2px;
$bs: 0px 3px 4px 0px #616161;

$bs-card: 0 0 20px 0 rgba(0, 0, 0, 0.15);

/* Типография */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-exo;
  font-weight: bold;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 20px;
  margin-top: 20px;
}
span,
li,
p {
  line-height: 1.5;
}
h1 {
  font-size: 32px;

  @include lg-1200 {
    font-size: 28px;
  }

  @include lg-1025 {
    font-size: 24px;
  }

  @include lg-770 {
    font-size: 22px;
  }

  /* @include lg-460 {
    font-size: 20px;
    line-height: 1.3;
  } */
}
h2 {
  font-size: 28px;

  @include lg-1200 {
    font-size: 26px;
  }

  @include lg-770 {
    font-size: 24px;
  }

  @include lg-460 {
    font-size: 20px;
    line-height: 1.3;
  }
}
h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

b {
  font-weight: bold;
}

blockquote {
  border-left: 2px solid $blue;
  padding: 5px 0 5px 30px;
  line-height: 1.5;
  margin: 25px 0;
}

em {
  font-style: italic;
}

html,
body,
p,
a,
button {
  font-family: $font-roboto;
}

button {
  border: none;
  background: none;
  outline: none;
}

/* Базовые стили */

a {
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
  box-sizing: border-box;
}

.input {
  padding: 10px 15px;
  border: 1px solid $light-grey;
  border-radius: 2px;
  font-size: 15px;

  @include lg-600 {
    font-size: 14px;
  }

  &:focus {
    border-color: $black;
  }
}

.form-input {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 2px;

  input {
    width: 100%;
    box-sizing: border-box;

    &:focus {
      border-color: $green;
    }
  }
  button {
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green;
    padding: 10px;
    transition: 200ms;

    span {
      filter: invert(1);
    }

    &:hover {
      background-color: darken($green, 5%);
    }
  }
}

.form-block {
  margin-bottom: 20px;
  label {
    display: flex;
    flex-direction: column;
    span {
      margin-bottom: 6px;
      font-size: 13px;
      color: $grey;
    }

    input {
      width: 100%;
      padding: 8px 10px;
      box-sizing: border-box;
      background-color: $bg-white;
      border: 1px solid $border;
    }
  }
}

.input-search {
  width: 330px;
  padding: 9px 15px;

  @include lg-1366 {
    width: 300px;
  }
  @include lg-1200 {
    width: 250px;
  }
  @include lg-900 {
    width: 200px;

    padding: 7px 12px;
    font-size: 14px;
  }
}

.text-white {
  color: #fff;
}
.text-black {
  color: #000;
}

.bg-blue {
  background-color: $blue;
}
.bg-green {
  background-color: $green;
}
.bg-red {
  background-color: $red;
}

.btn-border {
  font-size: 14px;
  text-align: center;
  color: $dark-blue;
  border: 1px solid;
  border-radius: $br;
  padding: 10px 25px;
  display: inline-block;
  background-color: transparent;
  transition: 200ms;
  box-sizing: border-box;

  &:hover {
    background-color: $dark-blue;
    color: white;
    border-color: $dark-blue;
  }
}

.btn-border-red {
  color: $red;

  &:hover {
    background-color: $red;
    border-color: $red;
  }
}

.btn-mail {
  background-color: $green;
  border-color: $green;
  color: white;

  &:hover {
    background-color: darken($green, 6%);
  }
}

.btn-more {
  width: 100%;
  padding: 15px;
  border-color: $border;
  display: flex;
  align-items: center;
  justify-content: center;

  @include lg-460 {
    padding: 10px;
  }

  &:hover {
    background-color: $border;
    border-color: $border;
    color: black;
  }
}

.sort-button {
  font-size: 14px;
  color: $light-grey;
  &::after {
    content: "";
    @include icon(url(../img/icons/arrow-down-black.svg), 10px, 10px);
    margin-left: 8px;
    opacity: 0.5;
  }

  &__active {
    color: $grey;

    &::after {
      opacity: 0.7;
    }
  }
}

.icon-invert {
  filter: invert(1);
}

.find-cheaper {
  display: flex;
}

/* Bootstap Classes */

.container-fluid {
  width: 100%;
}

.container {
  width: 1366px;
  display: block;
  margin: 0 auto;
  padding: 0 20px;

  @include lg-1400 {
    width: 100%;
    box-sizing: border-box;
  }
}

.d-flex {
  display: flex !important;
}
.d-flex-ac {
  display: flex;
  align-items: center;
}
.d-flex-as {
  display: flex;
  align-items: flex-start;
}

.justify-content-between {
  justify-content: space-between !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-start{
  align-items: flex-start;
}
.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.lock {
  overflow: hidden;
}

.w-100 {
  width: 100%;
}
.w-70 {
  width: 70%;
}
.w-60 {
  width: 60%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}
.w-30 {
  width: 30%;

  @include lg-460 {
    width: 45%;
  }
}

.position-sticky {
  position: sticky;
  top: 65px;
}

.w-sm-100 {
  @include lg-1000 {
    width: 100%;
  }
}

.m-0 {
  margin: 0 !important;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 15px;
}

.p-1 {
  padding: 10px;
}

.pr-3 {
  padding-right: 30px;
}

.px-3 {
  padding: 0 30px;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}

.h-auto {
  height: auto !important;
}

.border-radius {
  border-radius: 4px;
}

.border-bottom {
  border-bottom: 1px solid $border;
}

.icon-margin {
  margin: 0 7px;
}
.icon-margin-right {
  margin-right: 7px;
}

/* Used fragments */
.advantages {
  display: flex;
  align-items: center;
  justify-content: space-between;

  li {
    display: flex;
    align-items: center;

    img {
      width: 82px;
      height: 82px;
    }

    div {
      display: flex;
      flex-direction: column;
      margin-left: 24px;
    }

    .title {
      font-weight: bold;
      font-size: 15px;
    }
    .text {
      color: $grey;
      padding: 0;
      font-size: 15px;
    }
  }
}

.text {
  padding: 30px 0;
  ul {
    list-style-type: circle;
    margin-left: 17px;
    li {
      margin: 15px 0;
    }
  }
  p {
    margin: 15px 0;
  }

  img {
    margin: 0 20px;
  }

  &__image {
    @include lg-720 {
      display: none;
    }
  }

  &__content {
    @include lg-720 {
      width: 100%;
    }
  }
}

/* Catalog List Style */

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;

  > li {
    margin: 0 0 -1px -1px;
    border: 1px solid $border;
    transition: 250ms;
    box-sizing: border-box;

    &:hover {
      border-color: #f2f2f2;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    }

    .catalog__list_item {
      display: block;
      text-align: center;
      font-size: 13px;
      padding: 30px 20px;
      color: $grey;

      img {
        margin: 0 auto;
      }

      span {
        display: block;
        margin-top: 20px;
      }
    }
  }
}

/* Карточка */
.card {
  display: flex;
  flex-direction: column;
  position: relative;

  box-sizing: border-box;
  height: 396px;

  @include lg-1025 {
    height: auto;
  }

  &__inner {
    display: flex;
    &:hover {
      position: relative;
      z-index: 5;
    }

    &_block {
      padding: 10px 15px 25px;
      border: 1px solid $border;
      transition: 200ms;
      background-color: #fff;

      &:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
      }

      @include lg-1025 {
        border-color: transparent;

        &:hover {
          box-shadow: none;
        }
      }

      @include lg-600 {
        padding: 10px 10px 20px;
      }
    }
  }

  img {
    width: 100%;
  }

  &__image {
    position: relative;

    img {
      margin: 20px auto;
      width: auto;
      height: 170px;

      @include lg-850 {
        height: 140px;
      }
    }

    .card__image_tags {
      position: absolute;
      top: 10px;
      left: 10px;
      display: flex;
      flex-wrap: wrap;

      @include lg-460 {
        display: none;
      }

      span {
        padding: 4px 10px;
        margin-bottom: 5px;
        border-radius: 3px;
        color: white;
        font-size: 10px;
        text-transform: uppercase;
        margin-right: 8px;
      }
    }
  }

  &__title {
    text-align: center;

    &_name {
      font-size: 14px;
      height: 45px;
      overflow: hidden;
    }

    .price {
      font-size: 20px;
      font-weight: bold;

      @include lg-600 {
        font-size: 16px;
      }
    }

    .articul {
      font-size: 14px;
      color: $grey;
    }

    .stars {
      @include lg-460 {
        display: none;
      }
    }
  }

  &__footer {
    display: none;

    @include lg-1025 {
      display: block;
    }

    .size {
      margin-top: 10px;
      text-align: center;

      @include lg-1025 {
        display: none;
      }
      span {
        font-size: 13px;
        color: $grey;
        display: block;
        margin-bottom: 8px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
          width: auto;
          margin: 0 5px 5px;

          button {
            outline: none;
            color: $grey;
            border: 1px solid;
            font-weight: 400;
            border-radius: 3px;
            font-size: 13px;
            padding: 6px 9px;
            background: none;
            box-sizing: border-box;

            @include lg-600 {
              padding: 4px 6px;
            }

            &:hover {
              color: $blue;
            }

            &.active {
              background-color: $blue;
              color: white;
            }
          }
        }
      }
    }

    .number {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      &__controls {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        margin-right: 8px;
        background-color: $border;
        border-radius: 3px;
        overflow: hidden;
        width: 50%;

        @include lg-460 {
          display: none;
        }

        input {
          width: 40%;
          border: none;
          text-align: center;
          padding: 8px 2px;
          font-size: 14px;
          background-color: $border;
        }

        button {
          width: 30%;
          text-align: center;
          border: none;
          padding: 8px 5px;
          background-color: $border;
        }
      }

      &__add {
        width: 50%;

        @include lg-460 {
          width: 80%;
        }
        button {
          color: white;
          width: 100%;
          background-color: $blue;
          padding: 9px 8px;
          outline: none;
          border: none;
          font-weight: 400;
          font-size: 14px;
          border-radius: 3px;
          transition: 200ms ease;

          &:hover {
            background-color: darken($color: $blue, $amount: 7%);
          }

          @include lg-600 {
            padding: 9px 4px;
            font-size: 13px;
          }
        }
      }
    }

    .last-price {
      text-align: center;
      font-size: 13px;
      color: $grey;
      margin-top: 20px;

      @include lg-600 {
        display: flex;
        flex-direction: column;
        font-size: 12px;
      }

      @include lg-460 {
        display: none;
      }

      &__span {
        font-weight: bold;
        padding-left: 3px;
        color: $black;
      }
    }
  }

  &:hover {
    .card__footer {
      display: block;
    }
  }

  .added-to-checkout {
    width: 100%;
    button {
      background-color: $green;

      &:hover {
        background-color: $green;
      }
    }
  }
}
.added-to-checkout {
  width: 100% !important;
  button {
    background-color: $green !important;

    &:hover {
      background-color: $green !important;
    }
  }
}

.number {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__controls {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-right: 8px;
    background-color: $border;
    border-radius: 3px;
    overflow: hidden;
    width: 50%;

    @include lg-460 {
      display: none;
    }

    input {
      width: 40%;
      border: none;
      text-align: center;
      padding: 8px 2px;
      font-size: 14px;
      background-color: $border;
    }

    button {
      width: 30%;
      text-align: center;
      border: none;
      padding: 8px 5px;
      background-color: $border;
    }
  }

  &__add {
    width: 50%;

    @include lg-460 {
      width: 80%;
    }
    button {
      color: white;
      width: 100%;
      background-color: $blue;
      padding: 9px 8px;
      outline: none;
      border: none;
      font-weight: 400;
      font-size: 14px;
      border-radius: 3px;
      transition: 200ms ease;

      &:hover {
        background-color: darken($color: $blue, $amount: 7%);
      }

      @include lg-600 {
        padding: 9px 4px;
        font-size: 13px;
      }
    }
  }
}

.image-tags {
  display: flex;
  flex-wrap: wrap;

  span {
    padding: 4px 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    margin-right: 8px;
  }
}
/* Звездочка */
.stars {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    margin-right: 2px;
  }
}
.count {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;

  &__text {
    font-size: 13px;
    margin-left: 5px;

    @include lg-600 {
      font-size: 11px;
    }
  }
}

/* Социальная сеть */
ul.social {
  display: flex;
  flex-wrap: wrap;

  li {
    margin-right: 5px;
    margin-bottom: 5px;

    a {
      background-color: $green;
      width: 16px;
      height: 16px;
      padding: 10px;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 200ms;

      img {
        filter: invert(1);
      }

      &:hover {
        background-color: darken($green, 5%);
      }
    }
  }
}

/* BreadCrumb */
.breadcrumb {
  background-color: $bg-white;

  h1 {
    margin: 0;
    padding-top: 20px;
    display: block;

    @include lg-460 {
      margin-bottom: 10px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    li {
      margin-right: 5px;
      color: $light-grey;
      font-size: 14px;

      a {
        color: $light-grey;
        cursor: pointer;

        &:hover {
          border-bottom: 1px solid;
        }
      }

      &::after {
        content: "-";
        display: inline-block;
        margin-left: 5px;
      }
      &:last-child::after {
        display: none;
      }
    }
  }
}

/* Pagination */
.catalog-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  li {
    margin: 0 3px;

    a {
      padding: 5px 12px;
      font-weight: bold;
      color: $black;
      border-radius: 2px;
      cursor: pointer;

      &:hover,
      &.active {
        background-color: $green;
        color: white;

        .i-down {
          filter: none;
        }
      }
    }

    .i-down {
      transform: rotate(-90deg);
    }
  }
}

/* Our advantages */
.our-advantages {
  margin: 20px 0;

  @include lg-990 {
    display: none;
  }

  li {
    width: 23%;
  }

  ul {
    padding: 15px 0;
  }
}

/* Table Product */
.table-product {
  width: 100%;
  margin: 15px 0 5px;

  tbody {
  }

  tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;

    td {
      width: 100%;
      color: $grey;
      font-size: 14px;

      @include lg-600 {
        width: 60%;
      }
    }
  }
  &__dots {
    background: url(../img/icons/table-dot.png) 0 80% repeat-x;
    span {
      background-color: white;
    }
  }

  &__value {
    text-align: right;
  }

  &__more {
    color: $grey;
    font-size: 14px;

    &::after {
      content: "";
      background-image: url(../img/icons/arrow-down-black.svg);
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      width: 8px;
      height: 8px;
      display: inline-block;
      margin-left: 8px;
      opacity: 0.7;
    }

    &:hover {
      color: black;
    }
  }
}

/* Share Block */
.share-block {
  background-color: $border;
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  padding: 4px 4px 0;
  .social {
    display: none;
    align-items: center;
    li {
      margin-bottom: 0;
      margin-bottom: 4px;

      a {
        width: 13px;
        height: 13px;
      }
    }
  }

  .js-product-share {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    margin-bottom: 4px;

    &:hover {
      background-color: darken($color: $border, $amount: 8%);
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  display: none;

  &__block {
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: auto;
  }

  &__overlay {
    width: 100%;
    height: 100vh;
    background-color: #0000008c;
    z-index: 9999;
    position: fixed;
  }

  &__content {
    width: 400px;
    height: auto;
    position: fixed;
    margin: 120px 0 0;
    z-index: 9999;
    background-color: #fff;

    @include lg-460 {
      width: 100%;
      margin: 100px 0;
    }

    &_title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 25px;
      border-bottom: 2px solid $blue;
      font-size: 24px;
      font-weight: 600;
      font-family: $font-exo;

      .close {
        cursor: pointer;
      }
    }

    .modal-form {
      padding: 25px;
    }
  }

  .modal-input-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 20px 0 10px;
  }
  .modal-input-label {
    margin-left: 0.4rem;
    cursor: pointer;
    display: block;
    font-size: 12px;
    color: $grey;

    a {
      color: $green;
    }
  }

  .btn-modal-button {
    margin-top: 10px;

    &:hover {
      border-color: $green;
    }
  }

  .modal-input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 3px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: unset;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 0.1rem solid #bbc1e1;
    background: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .modal-input[type="checkbox"]:hover {
    border-color: $blue;
  }
  .modal-input[type="checkbox"]:after {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4px;
    height: 8px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    top: 0px;
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .modal-input[type="checkbox"]:checked {
    background: $blue;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-color: transparent;
  }
  .modal-input[type="checkbox"]:checked:after {
    -webkit-transform: rotate(43deg);
    transform: rotate(43deg);
  }
  .modal-input[type="checkbox"]:focus {
    /* box-shadow: 0 0 0 2px rgba(39, 94, 254, 0.3); */
  }
  .modal-input[type="checkbox"]:disabled {
    background: #f6f8ff;
    cursor: not-allowed;
    opacity: 0.9;
    border-color: #bbc1e1;
  }
}

.input-modal {
  padding: 10px;
  border: 1px solid $border;
  background-color: $bg-white;
}

.brands-card {
  display: flex;
  align-items: center;
  height: 165px;
  padding: 0 50px;
  box-sizing: border-box;
  border: 1px solid $border;
  transition: 200ms ease;

  @include lg-720 {
    padding: 0 30px;
    height: 130px;
  }

  img {
    width: 65%;
    height: 50px;
    object-fit: contain;
    margin: 0 auto;
  }

  &:hover {
    box-shadow: $bs-card;
  }
}
