.steps {
  padding: 60px 0 60px;
  background-color: #eaeaea;

  &__block {
    width: 80%;
    float: right;
    display: flex;
    justify-content: space-between;

    @include mobile{
      width: 100%;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    font-weight: 500;
    width: 33%;
    @include mobile {
      font-size: 14px;
    }

    &_number {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $muted;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      font-weight: bold;
      text-shadow: 1px 1px 0px #000;
      @include mobile {
        width: 25px;
        height: 25px;
      }
    }
    .active {
      background-color: $yellow;
    }
  }
}

.label {
  font-size: 13px;
  color: #484848;
  margin-bottom: 10px;
  display: inline-block;
}

.form {
  input:not([type]),
  input[type="text"]:not(.browser-default),
  input[type="password"]:not(.browser-default),
  input[type="email"]:not(.browser-default),
  input[type="url"]:not(.browser-default),
  input[type="time"]:not(.browser-default),
  input[type="date"]:not(.browser-default),
  input[type="datetime"]:not(.browser-default),
  input[type="datetime-local"]:not(.browser-default),
  input[type="tel"]:not(.browser-default),
  input[type="number"]:not(.browser-default),
  input[type="search"]:not(.browser-default),
  textarea.materialize-textarea,
  .browser-default {
    border-radius: 4px;
    border: 1px solid #eaeaea;
    padding: 10px 15px;
    height: auto;
    box-sizing: border-box;
  }

  &__country {
    margin-top: 6px;
  }

  &__confirm {
    span {
      font-size: 13px !important;
      @include mobile{
        font-size: 11px;
      }
    }
  }
}

.info-card {
  &__all-price {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .all-price {
      &__text {
        color: $muted;
        font-weight: bold;
        font-size: 14px;
      }

      &__value {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
  &__day-price {
    padding: 0px 20px;
    color: $green;
    font-size: 13px;

    .day-price {
      font-weight: 600;
    }
    .i-lira {
      width: 15px;
      height: 15px;
    }
  }
  &__footer {
    padding: 15px;

    .btn {
      font-weight: bold;
    }
  }
  &__location {
    padding: 5px 10px 10px;
    margin: 20px;
    border-radius: 4px;

    background-color: #f5f6f7;

    &_text {
      font-size: 15px;
      margin-left: 15px;
      color: darken($color: $yellow, $amount: 8%);
    }

    &_place {
      font-size: 13px;
      line-height: 1;
      color: $muted;
      font-weight: 600;
    }

    &_time {
      font-weight: 600;
      line-height: 1;
      color: darken($color: $yellow, $amount: 8%);
    }
    .text-blue {
      color: $blue;
    }
  }

  &__name {
    font-size: 18px !important;
  }
  &__new-price {
    padding: 8px 20px;
    font-size: 28px;
    font-weight: 600;
    color: black;
    display: flex;
    align-items: center;

    .i-lira {
      margin-left: 10px;
    }
  }
  &__old-price {
    padding: 0px 20px;
    font-size: 13px;
    color: $muted;

    .old-price {
      font-size: 16px;
      color: $red;
      font-weight: 600;
      text-decoration: line-through;
      padding-left: 7px;
    }
    .i-lira {
      width: 15px;
      height: 15px;
    }
  }
  &__text {
    padding: 5px 20px;
    font-size: 14px;
    color: $muted;
  }

  img {
    width: 90%;
    object-fit: contain;
    margin: 0 auto;
  }
}

/* Rent Rules Section */

.rent-rule {
  padding: 20px;
  box-shadow: $box-shadow;
  border-radius: 4px;

  &__title {
    font-size: 13px;
    color: $muted;
    margin-bottom: 15px;
  }

  &__value {
    color: darken($color: $blue, $amount: 40%);
    font-size: 14px;
    font-weight: 600;
  }
  a {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 50%;
      margin-bottom: 15px;
      opacity: 0.4;
    }
  }

  &__option {
    margin-top: 20px;
    display: block;
    color: $muted;
    font-size: 15px;
    line-height: 1.5;

    span{
      color: $blue;
      margin: 0 4px;
      font-weight: 600;
    }

    &::before {
      content: "\26AC";
      margin-right: 10px;
    }
  }
}


.material-tooltip{
  @include mobile{
    max-width: calc(95% - 4px);
  }
}


.rent-exstra{
  display: flex;
  flex-direction: column;
  align-items: center;

  img{
    width: 60%;
    margin-bottom: 15px;
  }

  &__price{
    font-weight: 600;

    .rent-exstra-icon{
      width: 15px;
      height: 15px;
    }
  }

  &__options{
    label{
      span{
        padding-left: 25px !important;
        margin: 0 7px;
        font-size: 14px !important;
      }
    }
  }
}