.form-section{
  background-color: darken($color: $blue, $amount: 10%);
  padding: 150px 0;

  .container{

  }
}


/* Cars */
.cars{


  &__card{
    width: 100%;
    border-radius: 2px;

    box-shadow: $box-shadow;
  }
}