.form-section {
  /* background-color: darken($color: $blue, $amount: 30%); */
  background: rgb(19, 71, 165);
  background: linear-gradient(180deg, rgba(19, 71, 165, 1) 0%, rgba(23, 54, 111, 1) 100%);
  padding: 150px 0;

  @include mobile {
    padding: 80px 0;
  }

  .input-field {
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
  }

  &__list {
    margin: 0;
    padding: 0;

    li {
      padding: 14px;
      background-color: $yellow;
      border-radius: 4px;
      color: white;
      position: relative;
      text-align: center;
      top: 3px;
      font-size: 15px;

      @include mobile {
        font-size: 13px;
      }
    }
  }
}
.form-choose {
  padding: 100px 0 50px;
}

/* Cars */
.cars {
  margin-top: 50px;

  &__card {
    width: 100%;
    border-radius: 2px;

    box-shadow: $box-shadow;
  }
}

.autocomplete:focus {
  border: 1px solid white !important;
}

.accordion {
  dt {
    a {
      padding: 15px;
      background-color: whitesmoke;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.17);
      border-radius: 3px;
      margin-bottom: 20px;
      display: block;
      color: black;
      font-weight: 500;
    }
  }
  dd {
    margin-bottom: 20px;
    margin-left: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.17);
    padding: 15px;
    border-radius: 3px;
  }
}

.about-card{
  padding: 20px;
  text-align: center;
  font-weight: bold;
  img{
    width: 50%;
    height: 250px;
    object-fit: contain;
    margin: 0 auto;
  }
}


.modal{
  width: 90%;
  max-width: 500px;
}