.form-section {
  /* background-color: darken($color: $blue, $amount: 30%); */
  background: rgb(19, 71, 165);
  background: linear-gradient(180deg, rgba(19, 71, 165, 1) 0%, rgba(23, 54, 111, 1) 100%);
  padding: 150px 0;

  @include mobile{
    padding: 80px 0;
  }

  .input-field {
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
  }

  &__list {
    margin: 0;
    padding: 0;

    li {
      padding: 14px;
      background-color: $yellow;
      border-radius: 4px;
      color: white;
      position: relative;
      text-align: center;
      top: 3px;
      font-size: 15px;

      @include mobile{
        font-size: 13px;
      }
    }
  }
}
.form-choose{
  padding: 100px 0 50px;
}

/* Cars */
.cars {
  margin-top: 50px;

  &__card {
    width: 100%;
    border-radius: 2px;

    box-shadow: $box-shadow;
  }
}
