
.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}

.main section .page_container {
  position: relative;
  top: 25%;
  margin: 0 auto 0;
  max-width: 950px;
  z-index: 3;
}
.main section {
  overflow: hidden;
}

body.disabled-onepage-scroll .onepage-wrapper section {
  min-height: 100%;
  height: auto;
}
