@charset "UTF-8";
/* Fonts */
/* Exo 2 */
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo2/Exo2-ExtraBold.woff2") format("woff2"), url("../fonts/Exo2/Exo2-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo2/Exo2-Medium.woff2") format("woff2"), url("../fonts/Exo2/Exo2-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo2/Exo2-Bold.woff2") format("woff2"), url("../fonts/Exo2/Exo2-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo2/Exo2-Light.woff2") format("woff2"), url("../fonts/Exo2/Exo2-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo2/Exo2-Regular.woff2") format("woff2"), url("../fonts/Exo2/Exo2-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
/* Roboto */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.woff2") format("woff2"), url("Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
/*=== MEDIA QUERY with max width===*/
/* Template media */
/* #2992d9 */
/* Типография */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo 2", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.5; }

h1,
h2,
h3 {
  margin-bottom: 20px;
  margin-top: 20px; }

span,
li,
p {
  line-height: 1.5; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }
  @media screen and (max-width: 1200px) {
    h2 {
      font-size: 26px; } }
  @media screen and (max-width: 770px) {
    h2 {
      font-size: 24px; } }

h3 {
  font-size: 24px; }

b {
  font-weight: bold; }

html,
body,
p,
a,
button {
  font-family: "Roboto", Helvetica, Arial, sans-serif; }

button {
  border: none;
  background: none;
  outline: none; }

/* Базовые стили */
a {
  text-decoration: none; }
  a:focus {
    outline: none; }
  a:hover {
    cursor: pointer; }

img {
  width: 100%;
  height: auto;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.input {
  padding: 10px 15px;
  border: 1px solid #b0b0a8;
  border-radius: 2px;
  font-size: 15px; }
  .input:focus {
    border-color: #282828; }

.form-input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border-radius: 2px; }
  .form-input input {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .form-input input:focus {
      border-color: #3ab503; }
  .form-input button {
    position: absolute;
    right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #3ab503;
    padding: 10px;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms; }
    .form-input button span {
      -webkit-filter: invert(1);
              filter: invert(1); }
    .form-input button:hover {
      background-color: #329c03; }

.input-search {
  width: 330px;
  padding: 9px 15px; }
  @media screen and (max-width: 1366px) {
    .input-search {
      width: 300px; } }
  @media screen and (max-width: 1200px) {
    .input-search {
      width: 250px; } }
  @media screen and (max-width: 900px) {
    .input-search {
      width: 200px;
      padding: 7px 12px;
      font-size: 14px; } }

.text-white {
  color: #fff; }

.text-black {
  color: #000; }

.bg-blue {
  background-color: #1773cf; }

.bg-green {
  background-color: #3ab503; }

.bg-red {
  background-color: #e52929; }

.btn-border {
  font-size: 14px;
  text-align: center;
  color: #34495e;
  border: 1px solid;
  border-radius: 2px;
  padding: 10px 25px;
  display: inline-block;
  background-color: transparent;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .btn-border:hover {
    background-color: #34495e;
    color: white;
    border-color: #34495e; }

.btn-border-red {
  color: #e52929; }
  .btn-border-red:hover {
    background-color: #e52929;
    border-color: #e52929; }

.btn-mail {
  background-color: #3ab503;
  border-color: #3ab503;
  color: white; }
  .btn-mail:hover {
    background-color: #309703; }

.btn-more {
  padding: 15px;
  border-color: #ececec; }
  .btn-more:hover {
    background-color: #ececec; }

/* Bootstap Classes */
.container-fluid {
  width: 100%; }

.container {
  width: 1366px;
  display: block;
  margin: 0 auto;
  padding: 0 20px; }
  @media screen and (max-width: 1400px) {
    .container {
      width: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; } }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-flex-ac {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.w-100 {
  width: 100%; }

.w-70 {
  width: 70%; }

.w-60 {
  width: 60%; }

.w-50 {
  width: 50%; }

.w-40 {
  width: 40%; }

.w-30 {
  width: 30%; }

@media screen and (max-width: 1100px) {
  .w-sm-100 {
    width: 100%; } }

.m-0 {
  margin: 0 !important; }

.p-1 {
  padding: 10px; }

.pr-3 {
  padding-right: 30px; }

.px-3 {
  padding: 0 30px; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.border-radius {
  border-radius: 4px; }

/* Used fragments */
.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .advantages li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .advantages li img {
      width: 82px;
      height: 82px; }
    .advantages li div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-left: 24px; }
    .advantages li .title {
      font-weight: bold; }
    .advantages li .text {
      color: #555555;
      padding: 0; }

.text {
  padding: 30px 0; }
  .text ul {
    list-style-type: circle;
    margin-left: 17px; }
    .text ul li {
      margin: 15px 0; }
  .text p {
    margin: 15px 0; }
  .text img {
    margin: 0 20px; }
  @media screen and (max-width: 720px) {
    .text__image {
      display: none; } }
  @media screen and (max-width: 720px) {
    .text__content {
      width: 100%; } }

/* Catalog List Style */
.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 15px; }
  .catalog__list > li {
    margin: 0 0 -1px -1px;
    border: 1px solid #ececec;
    -webkit-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .catalog__list > li:hover {
      border-color: #f2f2f2;
      -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
              box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15); }
    .catalog__list > li a {
      display: block;
      text-align: center;
      font-size: 13px;
      padding: 30px 20px;
      color: #555555; }
      .catalog__list > li a img {
        margin: 0 auto; }
      .catalog__list > li a span {
        display: block;
        margin-top: 20px; }

.list-5 li {
  width: 20%; }
  .list-5 li a img {
    width: 140px; }

.list-6 li {
  width: 16.666%; }

.list-8 li {
  width: 12.5%; }
  .list-8 li a img {
    width: 120px; }

@media screen and (max-width: 1300px) {
  .list-lg-7 li {
    width: 14.366%; }
    .list-lg-7 li a img {
      width: 120px; } }

@media screen and (max-width: 1025px) {
  .list-md-6 li {
    width: 20%; }
    .list-md-6 li a img {
      width: 110px; } }

@media screen and (max-width: 1100px) {
  .list-md-4 li {
    width: 25%; }
    .list-md-4 li a img {
      width: 110px; } }

@media screen and (max-width: 770px) {
  .list-sm-5 li {
    width: 20%; }
    .list-sm-5 li a img {
      width: 110px; } }

/* .list-sm-4{
  @include lg-770 {
    li {
      width: 25%;

      a {
        img {
          width: 110px;
        }
      }
    }
  }
} */
@media screen and (max-width: 770px) {
  .list-sm-3 li {
    width: 33.333%; }
    .list-sm-3 li a img {
      width: 110px; } }

@media screen and (max-width: 600px) {
  .list-xs-2 li {
    width: 50%; }
    .list-xs-2 li a img {
      width: 110px; } }

@media screen and (max-width: 500px) {
  .list-category-mobile li {
    width: 100%; } }

/* Карточка */
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 381px; }
  .card__inner:hover {
    position: relative;
    z-index: 999; }
  .card__inner_block {
    padding: 10px 15px 30px;
    border: 1px solid #ececec;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    background-color: #fff; }
    .card__inner_block:hover {
      -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
              box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15); }
  .card img {
    width: 100%; }
  .card__image {
    position: relative; }
    .card__image img {
      margin: 20px auto;
      width: auto;
      height: 170px; }
    .card__image .card__image_tags {
      position: absolute;
      top: 10px;
      left: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .card__image .card__image_tags span {
        padding: 4px 10px;
        border-radius: 3px;
        color: white;
        font-size: 10px;
        text-transform: uppercase;
        margin-right: 8px; }
  .card__title {
    text-align: center; }
    .card__title_name {
      font-size: 14px;
      height: 45px;
      overflow: hidden; }
    .card__title .price {
      font-size: 20px;
      font-weight: bold; }
  .card__footer {
    display: none; }
    .card__footer .size {
      margin-top: 10px;
      text-align: center; }
      .card__footer .size span {
        font-size: 13px;
        color: #555555;
        display: block;
        margin-bottom: 8px; }
      .card__footer .size ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .card__footer .size ul li {
          margin: 0 5px 5px; }
          .card__footer .size ul li button {
            outline: none;
            color: #555555;
            border: 1px solid;
            font-weight: 400;
            border-radius: 3px;
            font-size: 13px;
            padding: 6px 9px;
            background: none;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box; }
            .card__footer .size ul li button:hover {
              color: #1773cf; }
            .card__footer .size ul li button.active {
              background-color: #1773cf;
              color: white; }
    .card__footer .number {
      margin-top: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .card__footer .number__controls {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        margin-right: 8px;
        background-color: #ececec;
        border-radius: 3px;
        overflow: hidden; }
        .card__footer .number__controls input {
          width: 30px;
          border: none;
          text-align: center;
          padding: 8px 2px;
          font-size: 14px;
          background-color: #ececec; }
        .card__footer .number__controls button {
          width: 25px;
          text-align: center;
          border: none;
          padding: 8px 5px;
          background-color: #ececec; }
      .card__footer .number__add button {
        color: white;
        background-color: #1773cf;
        padding: 9px 8px;
        outline: none;
        border: none;
        font-weight: 400;
        font-size: 14px;
        border-radius: 3px; }
    .card__footer .last-price {
      text-align: center;
      font-size: 13px;
      color: #555555;
      margin-top: 20px; }
      .card__footer .last-price__span {
        font-weight: bold;
        padding-left: 3px;
        color: #282828; }
  .card:hover .card__footer {
    display: block; }

/* Звездочка */
.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .stars span {
    margin-right: 2px; }

.count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0; }
  .count__text {
    font-size: 13px;
    margin-left: 5px; }

#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 100500; }

.cssload-wraper {
  width: 0px;
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.cssload-dots {
  font-family: sans-serif;
  font-weight: 100; }

.cssload-dots:not(:required) {
  overflow: hidden;
  position: relative;
  text-indent: -9749px;
  display: inline-block;
  width: 7px;
  height: 7px;
  background: transparent;
  border-radius: 100%;
  box-shadow: #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
  -o-box-shadow: #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
  -ms-box-shadow: #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
  -webkit-box-shadow: #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
  -moz-box-shadow: #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
  animation: cssload-dots 5.75s infinite ease-in-out;
  -o-animation: cssload-dots 5.75s infinite ease-in-out;
  -ms-animation: cssload-dots 5.75s infinite ease-in-out;
  -webkit-animation: cssload-dots 5.75s infinite ease-in-out;
  -moz-animation: cssload-dots 5.75s infinite ease-in-out;
  transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%; }

@keyframes cssload-dots {
  0% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px; }
  8.33% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px; }
  16.67% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 14px 14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 14px 14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px; }
  25% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px 14px 0 7px, #44aaee -14px 14px 0 7px; }
  33.33% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee -14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee -14px -14px 0 7px; }
  41.67% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px; }
  50% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px; }
  58.33% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px; }
  66.67% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px -14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px -14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px; }
  75% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px -14px 0 7px, #44aaee 14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px -14px 0 7px, #44aaee 14px -14px 0 7px; }
  83.33% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee 14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee 14px 14px 0 7px; }
  91.67% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px; }
  100% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px; } }
@-webkit-keyframes cssload-dots {
  0% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px; }
  8.33% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px; }
  16.67% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 14px 14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 14px 14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px; }
  25% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px 14px 0 7px, #44aaee -14px 14px 0 7px; }
  33.33% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee -14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee -14px -14px 0 7px; }
  41.67% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px; }
  50% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px; }
  58.33% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px; }
  66.67% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px -14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px -14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px; }
  75% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px -14px 0 7px, #44aaee 14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px -14px 0 7px, #44aaee 14px -14px 0 7px; }
  83.33% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee 14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee 14px 14px 0 7px; }
  91.67% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px; }
  100% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px; } }
/* Header Top */
.header-top {
  -webkit-box-shadow: 0px 3px 4px 0px #cccccc;
          box-shadow: 0px 3px 4px 0px #cccccc;
  margin-bottom: 75px;
  position: relative;
  z-index: 11; }
  .header-top__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px; }
    @media screen and (max-width: 1100px) {
      .header-top__block {
        display: none; } }
  .header-top__adress, .header-top__service, .header-top__mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-top__adress p,
    .header-top__adress li,
    .header-top__adress a, .header-top__service p,
    .header-top__service li,
    .header-top__service a, .header-top__mail p,
    .header-top__mail li,
    .header-top__mail a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .header-top__adress span, .header-top__service span, .header-top__mail span {
      margin-right: 7px; }
    .header-top__adress b, .header-top__service b, .header-top__mail b {
      margin-right: 4px; }
  .header-top__adress {
    /* width: 30%; */ }
  .header-top__service {
    /* width: 50%; */ }
    @media screen and (max-width: 1200px) {
      .header-top__service {
        display: none; } }
    .header-top__service li {
      margin-right: 20px; }
  .header-top__mail {
    /* width: 20%; */
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .header-top__mail a {
      color: #3ab503;
      font-weight: bold;
      -webkit-transition: 200ms;
      -o-transition: 200ms;
      transition: 200ms; }
      .header-top__mail a:hover {
        color: #34495e; }

/* Header Bottom */
.header-bottom {
  position: absolute;
  left: 50%;
  top: 34px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 100ms ease;
  -o-transition: 100ms ease;
  transition: 100ms ease; }
  @media screen and (max-width: 1400px) {
    .header-bottom {
      padding: 0 20px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; } }
  .header-bottom__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 18px 0 14px; }
  .header-bottom__logo {
    width: 19%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* @include lg-700 {
      width: 40%;
    } */ }
    @media screen and (max-width: 1366px) {
      .header-bottom__logo {
        width: 24%; } }
    @media screen and (max-width: 770px) {
      .header-bottom__logo {
        width: 200px; } }
    .header-bottom__logo button {
      display: none;
      margin-right: 20px; }
      @media screen and (max-width: 770px) {
        .header-bottom__logo button {
          margin-right: 12px; } }
      .header-bottom__logo button span {
        -webkit-filter: invert(1);
                filter: invert(1);
        width: 22px;
        height: 22px; }
  @media screen and (max-width: 1366px) {
    .header-bottom__action {
      display: none; } }
  .header-bottom__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    @media screen and (max-width: 700px) {
      .header-bottom__search {
        display: none; } }
    .header-bottom__search button {
      position: absolute;
      right: 8px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .header-bottom__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 770px) {
      .header-bottom__social {
        display: none; } }
    .header-bottom__social a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  @media screen and (max-width: 1100px) {
    .header-bottom__number {
      display: none; } }
  .header-bottom__number_desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .header-bottom__number_desktop a {
      font-size: 16px;
      color: #282828;
      font-weight: bold;
      margin-bottom: 3px; }
    .header-bottom__number_desktop_time {
      font-size: 12px;
      color: #b0b0a8;
      padding-left: 18px;
      line-height: 1; }
  .header-bottom__number_mobile {
    display: none; }
    @media screen and (max-width: 1100px) {
      .header-bottom__number_mobile {
        display: block; }
        .header-bottom__number_mobile a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; } }
  .header-bottom__fixed-menu {
    display: none; }

.fixed-menu {
  position: fixed;
  top: 0;
  z-index: 11;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.136);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.136); }
  .fixed-menu .header-bottom__fixed-menu {
    display: block; }
  .fixed-menu .header-bottom__block {
    padding: 14px 0 10px; }
  .fixed-menu .header-bottom__call,
  .fixed-menu .header-bottom__action {
    display: none; }
  .fixed-menu .header-bottom__logo button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .fixed-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .fixed-menu__list li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .fixed-menu__list li a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 25px;
        position: relative; }
        .fixed-menu__list li a .fixed-icon {
          width: 23px;
          height: 23px;
          -webkit-filter: invert(1);
                  filter: invert(1); }
        .fixed-menu__list li a .fixed-icon-heart {
          width: 25px; }
        .fixed-menu__list li a span.number {
          -webkit-filter: none !important;
                  filter: none !important;
          position: absolute;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          top: -5px;
          right: -11px;
          background-color: #3ab503;
          color: white;
          width: 10px;
          height: 10px;
          font-size: 12px;
          border-radius: 50%;
          padding: 4px; }
      .fixed-menu__list li.mobile-phone {
        display: none; }
        @media screen and (max-width: 1100px) {
          .fixed-menu__list li.mobile-phone {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; } }
      .fixed-menu__list li.mobile-search {
        display: none; }
        @media screen and (max-width: 700px) {
          .fixed-menu__list li.mobile-search {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; } }
      @media screen and (max-width: 500px) {
        .fixed-menu__list li.mobile-compare {
          display: none; } }
      @media screen and (max-width: 450px) {
        .fixed-menu__list li.mobile-login {
          display: none; } }
      @media screen and (max-width: 400px) {
        .fixed-menu__list li.mobile-favourite {
          display: none; } }
  .fixed-menu__login {
    /* margin-right: 30px; */ }
    .fixed-menu__login_block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-left: 10px; }
      @media screen and (max-width: 1250px) {
        .fixed-menu__login_block {
          display: none; } }
      @media screen and (max-width: 1100px) {
        .fixed-menu__login_block {
          display: none; } }
    .fixed-menu__login_title {
      font-weight: bold;
      color: #282828;
      font-weight: 15px;
      line-height: 1; }
    .fixed-menu__login_span {
      font-size: 12px;
      color: #b0b0a8; }
  .fixed-menu__basket {
    color: #282828;
    margin-right: 0 !important; }
    .fixed-menu__basket_icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative; }
    .fixed-menu__basket_text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-left: 20px; }
      @media screen and (max-width: 1250px) {
        .fixed-menu__basket_text {
          display: none; } }
    .fixed-menu__basket_title {
      font-size: 14px;
      font-weight: bold;
      line-height: 1; }
    .fixed-menu__basket_price {
      color: #b0b0a8;
      font-size: 12px; }

/* Header Nav */
.header-nav {
  background-color: #34495e; }
  @media screen and (max-width: 1100px) {
    .header-nav {
      display: none; } }
  .header-nav__block {
    display: grid;
    justify-items: stretch;
    grid-auto-flow: column; }
    .header-nav__block li {
      position: relative; }
      .header-nav__block li:hover .dropdown-menu {
        opacity: 1;
        visibility: visible; }
    .header-nav__block .i-down {
      margin-left: 20px;
      margin-right: 0; }
    .header-nav__block .dropdown-menu {
      position: absolute;
      -webkit-box-shadow: 0px 4px 10px -2px #00000061;
              box-shadow: 0px 4px 10px -2px #00000061;
      width: 100%;
      z-index: 10;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: 150ms ease-in-out;
      -o-transition: 150ms ease-in-out;
      transition: 150ms ease-in-out; }
      .header-nav__block .dropdown-menu a {
        background-color: #ececec;
        color: #282828;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        padding: 10px 20px;
        border: none;
        height: auto;
        border-bottom: 1px solid #dfdfdf; }
        .header-nav__block .dropdown-menu a:hover {
          color: #34495e;
          background-color: #dfdfdf; }
        .header-nav__block .dropdown-menu a:last-child {
          border-right: none; }
    .header-nav__block a {
      height: 56px;
      color: #fff;
      font-size: 14px;
      background-color: #34495e;
      display: block;
      text-align: center;
      text-transform: uppercase;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-weight: bold;
      border-left: 1px solid #46637f; }
      .header-nav__block a span {
        margin-right: 10px; }
      .header-nav__block a:hover {
        background-color: #46637f; }
      .header-nav__block a .number {
        margin: 0 0 0 7px;
        background-color: #ececec;
        border-radius: 50%;
        width: 21px;
        height: 21px;
        font-size: 12px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        color: #282828; }
    .header-nav__block li:last-child a {
      border-right: 1px solid #46637f; }

/* text-overflow: ellipsis; */
.footer {
  background-color: #34495e;
  padding: 40px 0;
  color: white; }
  .footer a {
    color: #b0b0a8; }
  .footer h5 {
    margin-bottom: 15px; }
  .footer__nav {
    width: 20%; }
    .footer__nav ul {
      margin-top: 15px; }
      .footer__nav ul li {
        margin-bottom: 5px; }
        .footer__nav ul li a {
          -webkit-transition: 200ms;
          -o-transition: 200ms;
          transition: 200ms; }
          .footer__nav ul li a:hover {
            color: white; }
  .footer__social {
    width: 22%; }
    .footer__social form {
      margin-bottom: 15px;
      margin-right: 50px; }
    .footer__social ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .footer__social ul li {
        margin-right: 5px;
        margin-bottom: 5px; }
        .footer__social ul li a {
          background-color: #3ab503;
          width: 16px;
          height: 16px;
          padding: 10px;
          border-radius: 2px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-transition: 200ms;
          -o-transition: 200ms;
          transition: 200ms; }
          .footer__social ul li a img {
            -webkit-filter: invert(1);
                    filter: invert(1); }
          .footer__social ul li a:hover {
            background-color: #329c03; }
  .footer__contact {
    width: 18%; }
    .footer__contact_block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 15px; }
      .footer__contact_block a {
        margin-bottom: 20px;
        color: white;
        -webkit-transition: 200ms;
        -o-transition: 200ms;
        transition: 200ms;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 30px; }
        .footer__contact_block a span {
          margin-right: 14px; }
        .footer__contact_block a:hover {
          color: #3ab503; }

.home-slider {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.home-slider__block {
  width: 77%; }
  @media screen and (max-width: 1100px) {
    .home-slider__block {
      width: 100%; } }
  .home-slider__block img {
    height: 262px;
    border-radius: 5px;
    -o-object-fit: cover;
       object-fit: cover; }
  .home-slider__block .swiper-button-prev,
  .home-slider__block .swiper-button-next {
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    -webkit-box-shadow: 0px 3px 4px 0px #616161;
            box-shadow: 0px 3px 4px 0px #616161; }

.home-slider__offer {
  width: 22%; }
  @media screen and (max-width: 1100px) {
    .home-slider__offer {
      display: none; } }
  .home-slider__offer a {
    display: block;
    height: 262px;
    border-radius: 5px;
    background-size: cover;
    padding: 24px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .home-slider__offer a:hover .home-slider__offer_btn {
      -webkit-box-shadow: 0px 3px 4px 0px #616161;
              box-shadow: 0px 3px 4px 0px #616161; }
  .home-slider__offer_title {
    display: block;
    font-size: 22px;
    color: white;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 1.2; }
  .home-slider__offer_btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    background-color: white;
    border-radius: 2px;
    color: #e52929;
    text-align: center;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }

.home-slider__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec; }
  .home-slider__text_advantages {
    width: 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px; }
    @media screen and (max-width: 1100px) {
      .home-slider__text_advantages {
        display: none; } }
    .home-slider__text_advantages li {
      width: 45%; }
      .home-slider__text_advantages li img {
        width: 82px;
        height: 82px; }
      @media screen and (max-width: 1200px) {
        .home-slider__text_advantages li {
          font-size: 14px;
          width: 48%; } }

/* Каталог */
.catalog {
  margin-top: 15px;
  margin-bottom: 50px; }
  .catalog__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .catalog__title a {
      font-size: 14px;
      color: #b0b0a8;
      text-transform: uppercase;
      width: 100px;
      -webkit-transition: 200ms;
      -o-transition: 200ms;
      transition: 200ms; }
      .catalog__title a:hover {
        color: #34495e; }
      @media screen and (max-width: 500px) {
        .catalog__title a {
          display: none; } }

/* Catalog Products */
.catalog__products li {
  width: 20%; }
  .catalog__products li a img {
    width: 140px; }
  @media screen and (max-width: 1300px) {
    .catalog__products li a {
      padding: 25px 15px; }
      .catalog__products li a img {
        width: 110px; } }
  @media screen and (max-width: 990px) {
    .catalog__products li {
      width: 25%; } }
  @media screen and (max-width: 850px) {
    .catalog__products li {
      width: 33.333%; } }
  @media screen and (max-width: 720px) {
    .catalog__products li {
      width: 33.333%; }
      .catalog__products li a {
        padding: 20px 10px; }
        .catalog__products li a img {
          width: 90px; } }
  @media screen and (max-width: 600px) {
    .catalog__products li {
      width: 100%; }
      .catalog__products li a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        padding: 12px; }
        .catalog__products li a img {
          margin: 0;
          width: 42px;
          height: 42px;
          -o-object-fit: contain;
             object-fit: contain; }
        .catalog__products li a span {
          display: block;
          text-align: left;
          font-size: 16px;
          font-weight: bold;
          margin: 0 0 0 20px; }
        .catalog__products li a::after {
          content: "";
          background-image: url(../img/icons/arrow-down-black.svg);
          background-repeat: no-repeat;
          background-size: contain;
          display: inline-block;
          width: 10px;
          height: 10px;
          -webkit-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
                  transform: rotate(-90deg);
          position: absolute;
          right: 20px; } }

/* Catalog Groups */
.catalog__groups li {
  width: 12.5%; }
  .catalog__groups li a {
    padding: 20px 15px; }
    .catalog__groups li a img {
      width: 100px; }
  @media screen and (max-width: 1300px) {
    .catalog__groups li {
      width: 14.366%; }
      .catalog__groups li a {
        font-size: 12px;
        padding: 20px 15px; }
        .catalog__groups li a img {
          width: 75px; } }
  @media screen and (max-width: 1025px) {
    .catalog__groups li {
      width: 16.666%; } }
  @media screen and (max-width: 850px) {
    .catalog__groups li {
      width: 25%; } }
  @media screen and (max-width: 720px) {
    .catalog__groups li {
      width: 33.333%; } }
  @media screen and (max-width: 600px) {
    .catalog__groups li {
      width: 50%; }
      .catalog__groups li a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        padding: 12px; }
        .catalog__groups li a img {
          margin: 0;
          width: 42px;
          height: 42px;
          -o-object-fit: contain;
             object-fit: contain; }
        .catalog__groups li a span {
          display: block;
          font-size: 12px;
          margin: 0 0 0 10px;
          text-align: left; } }
  @media screen and (max-width: 460px) {
    .catalog__groups li {
      width: 100%; } }

.brands {
  padding: 30px;
  margin: 30px auto;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  position: relative; }
  @media screen and (max-width: 1300px) {
    .brands {
      padding: 30px 60px; } }
  .brands .swiper-container {
    padding: 0 30px; }
  .brands .swiper-button-prev,
  .brands .swiper-button-next {
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%); }
  .brands .swiper-button-prev {
    left: 0px; }
    @media screen and (max-width: 1025px) {
      .brands .swiper-button-prev {
        left: 20px; } }
  .brands .swiper-button-next {
    right: 0px; }
    @media screen and (max-width: 1025px) {
      .brands .swiper-button-next {
        right: 20px; } }
  .brands img {
    /* width: 150px; */
    -o-object-fit: contain;
       object-fit: contain; }

/* Продукты */
.product {
  margin-top: 40px; }
  .product__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .product__link li {
      margin-right: 30px; }
      .product__link li a {
        display: block;
        font-size: 16px;
        color: #1773cf;
        font-weight: bold;
        padding: 5px 0; }
    .product__link li.active a {
      color: #282828;
      border-bottom: 2px solid #1773cf; }
  .product__cards {
    margin: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
    .product__cards li {
      border: none; }
      .product__cards li:hover {
        -webkit-box-shadow: none;
                box-shadow: none; }

/* Рассылка */
.news-letter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px; }
  .news-letter::before {
    content: "";
    background-image: url(../img/mail-pattern.png);
    width: 100%;
    height: 8px; }
  .news-letter::after {
    content: "";
    background-image: url(../img/mail-pattern.png);
    width: 100%;
    height: 8px; }
  .news-letter__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 0; }
  .news-letter__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .news-letter__img .letter_img {
      width: 180px; }
  .news-letter__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .news-letter__text .letter-text {
      width: 55%;
      padding-right: 20px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .news-letter__text .letter-text span {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
        display: block; }
    .news-letter__text .letter-mail {
      width: 45%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .news-letter__text .letter-mail input {
        width: 50%;
        margin-right: 10px; }

.reviews {
  margin-bottom: 40px; }
  .reviews__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .reviews__title h2 {
      width: 70%; }
  .reviews__list {
    padding: 0 0 20px; }
    .reviews__list ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .reviews__list ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-bottom: 1px solid #ececec;
        padding: 18px 0; }
  .reviews__name {
    font-size: 18px;
    margin-bottom: 5px; }
  .reviews__rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 10px;
    margin-bottom: 8px; }
    .reviews__rating_text {
      margin-left: 10px;
      font-size: 14px;
      color: #555555; }
  .reviews__time {
    font-size: 15px;
    color: #555555; }
  .reviews__product {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px; }
    .reviews__product span {
      color: #555555;
      font-weight: normal; }
  .reviews__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .reviews__more .btn-more {
      width: 70%; }

/* Баннер */
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px; }
  .banner a {
    width: 32.5%; }
    .banner a img {
      height: 160px;
      -o-object-fit: cover;
         object-fit: cover; }

.watched-before {
  background-color: #f6f6f7;
  padding: 40px 0;
  position: relative; }
  .watched-before__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 0 20px; }
    .watched-before__title .watched__title {
      font-size: 18px; }
  .watched-before__control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100px; }
    .watched-before__control div {
      position: relative;
      background-color: #fff;
      border: 1px solid #b0b0a8;
      padding: 5px 8px;
      border-radius: 2px;
      height: 20px;
      opacity: 0.5; }
    .watched-before__control .swiper-button-next {
      right: 1px; }
    .watched-before__control .swiper-button-prev {
      left: 0; }
  .watched-before__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #282828;
    border: 1px solid #ececec;
    border-radius: 2px; }
    .watched-before__card_img {
      width: 43%;
      padding: 20px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    .watched-before__card_text {
      width: 57%;
      text-align: left;
      padding-right: 10px; }
      .watched-before__card_text .title {
        font-size: 15px;
        overflow: hidden;
        height: 45px;
        margin-bottom: 8px; }
      .watched-before__card_text .price {
        font-weight: bold; }

.i-telegram {
  background-image: url(../img/icons/telegram.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 30px;
  height: 30px; }

.i-whatsapp {
  background-image: url(../img/icons/whatsapp.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 30px;
  height: 30px; }

.i-viber {
  background-image: url(../img/icons/vider.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 30px;
  height: 30px; }

.i-search {
  background-image: url(../img/icons/search.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 15px;
  height: 15px; }

.i-hamburger {
  background-image: url(../img/icons/hamburger.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 17px;
  height: 17px; }

.i-down {
  background-image: url(../img/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 13px;
  height: 13px; }

.i-lock {
  background-image: url(../img/icons/lock.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px; }

.i-progress {
  background-image: url(../img/icons/progress.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px; }

.i-heart {
  background-image: url(../img/icons/heart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 18px; }

.i-basket {
  background-image: url(../img/icons/basket.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px; }

.i-header-tel {
  background-image: url(../img/icons/phone.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 12px;
  height: 12px; }

.i-mobile-tel {
  background-image: url(../img/icons/mobile-phone.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 23px;
  height: 23px; }

.i-mobile-search {
  background-image: url(../img/icons/search-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 22px;
  height: 22px; }

.i-star-rated {
  background-image: url(../img/icons/star-rated.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 15px;
  height: 15px; }

.i-star {
  background-image: url(../img/icons/star.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 15px;
  height: 15px; }

.i-confirm {
  background-image: url(../img/icons/confirm.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 14px;
  height: 12px; }

.i-location {
  background-image: url(../img/icons/location.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 16px;
  height: 16px; }

.i-shipping {
  background-image: url(../img/icons/sheeping.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 16px;
  height: 16px; }

.i-tags {
  background-image: url(../img/icons/tag.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 16px;
  height: 16px; }

.i-like {
  background-image: url(../img/icons/like.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 16px;
  height: 16px; }

.i-mail {
  background-image: url(../img/icons/mail.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 16px;
  height: 16px; }

.i-arrow-right {
  background-image: url(../img/icons/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px; }

/* Footer */
.i-phone-white {
  background-image: url(../img/icons/phone-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 18px;
  height: 18px; }

.i-mail-white {
  background-image: url(../img/icons/mail-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 18px;
  height: 18px; }

.i-location-white {
  background-image: url(../img/icons/location-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 18px;
  height: 18px; }
