/* Materialize Custimization */

input.input-text:not([type]),
input.input-text[type="text"]:not(.browser-default),
input.input-text[type="password"]:not(.browser-default),
input.input-text[type="email"]:not(.browser-default),
input.input-text[type="url"]:not(.browser-default),
input.input-text[type="time"]:not(.browser-default),
input.input-text[type="date"]:not(.browser-default),
input.input-text[type="dateline"]:not(.browser-default),
input.input-text[type="datetime-local"]:not(.browser-default),
input.input-text[type="tel"]:not(.browser-default),
input.input-text[type="number"]:not(.browser-default),
input.input-text[type="search"]:not(.browser-default),
textarea.input-text.materialize-textarea,
.day-picker .select-wrapper input.select-dropdown {
  /* border: 1px solid $muted; */
  background-color: white;
  color: #888;
  border-radius: 4px;
  padding: 18px 15px;
  font-size: 15px;
  height: 100%;
  box-sizing: border-box;
  margin-bottom: 0;
  font-family: $font;
}

.input-text::placeholder {
  color: #888;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {

  color: $dark-blue;
  box-shadow: 0 0 0 transparent;
}

.select-wrapper input.select-dropdown:focus {
  border-color: $muted;
}

.day-picker .select-wrapper input.select-dropdown {
  padding-left: 40px;
}

.day-picker .select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    left: 15px;
    z-index: 2;
    @include icon(url(../img/icons/calendar.svg), 18px, 20px);
  }
}

.select-dropdown {
  max-height: 180px;
}

.dropdown-content {
  border-radius: 4px;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: $blue-2;
}

.day-picker .dropdown-content li > a,
.day-picker .dropdown-content li > span {
  color: black;
}

.datepicker-date-display,
.timepicker-digital-display {
  background-color: $blue-2;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done,
.timepicker-close {
  color: $blue-2;
}

.datepicker-table td.is-today{
  background-color: #e2e2e2;
  color: black;
}

.datepicker-table td {
  &:hover {
    background-color: lighten($color: $muted, $amount: 5%);
    color: white;
  }
}

.month-prev,
.month-next {
  &:focus {
    background-color: $blue-2;
  }
}

.datepicker-table td.is-selected {
  background-color: $blue-2;
}

/* TimePicher */
.timepicker-tick.active,
.timepicker-tick:hover {
  color: white;
  background-color: lighten($color: $blue-2, $amount: 10%);
}

.timepicker-canvas-bg,
.timepicker-canvas-bearing {
  fill: $blue-2;
}

.timepicker-canvas line {
  stroke: $blue-2;
}
