@keyframes loc-1 {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(-32px) translateX(-48px);
  }
}

@keyframes loc-2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-120px);
  }
}

@keyframes loc-3 {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loc-4 {
  0% {
    transform: translateX(0) translateY(0);
  }
  20% {
    transform: translateX(320px) translateY(200px);
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    transform: translateX(320px) translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
}

@keyframes loc-5 {
  0% {
    opacity: 0;
    transform: translateX(0) translateY(0);
  }

  10% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }

  30% {
    transform: translateX(-380px) translateY(140px);
    opacity: 0;
  }
  70%{
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
}

@keyframes loc-6 {
  0% {
    transform: rotateX(1deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(1deg) rotateY(90deg);
  }
}

@keyframes loc-7 {
  0% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(-15px);
  }
}

@keyframes loc-8 {
  0% {
    transform: translateX(0) translateY(0);
  }

  60% {
    transform: translateX(820px) translateY(-535px);
  }

  100% {
    transform: translateX(820px) translateY(-535px);
  }
}

@keyframes loc-9 {
  0% {
    transform: translateX(0) translateY(0);
  }

  60% {
    transform: translateX(-900px) translateY(-500px);
  }

  100% {
    transform: translateX(-900px) translateY(-500px);
  }
}

@keyframes loc-10 {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-15px);
  }
}

@keyframes loc-3 {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
