@charset "UTF-8";
@font-face {
  font-family: 'Liberation Sans Bold';
  src: url("../fonts/LiberationSans-Bold.woff2") format("woff2"), url("../fonts/LiberationSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Liberation Sans Italic';
  src: url("../fonts/LiberationSans-Italic.woff2") format("woff2"), url("../fonts/LiberationSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Liberation Sans';
  src: url("../fonts/LiberationSans.woff2") format("woff2"), url("../fonts/LiberationSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Liberation Sans Bold Italic';
  src: url("../fonts/LiberationSans-BoldItalic.woff2") format("woff2"), url("../fonts/LiberationSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
body {
  font-family: "Liberation Sans";
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none;
  -webkit-transition: 300ms all;
  -o-transition: 300ms all;
  transition: 300ms all; }

input {
  font-size: 14px;
  padding: 9px;
  border-radius: 4px;
  border: 1px solid #ccc; }
  input:focus {
    outline: none;
    border-color: #62a2f6;
    cursor: pointer; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid;
  border-radius: 4px;
  padding: 9px 10px;
  background-image: none;
  font-size: 14px; }
  select:hover {
    cursor: pointer; }

button:hover {
  cursor: pointer; }
button:focus {
  outline: none; }

img {
  width: 100%;
  height: auto;
  display: block; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

.title-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

p {
  line-height: 1.5; }

hr {
  border: none;
  /* Убираем границу для браузера Firefox */
  color: #ccc;
  /* Цвет линии для остальных браузеров */
  background-color: #ccc;
  /* Цвет линии для браузера Firefox и Opera */
  height: 1px; }

.container-fluid {
  width: 100%; }

.container {
  width: 1364px;
  margin-left: auto;
  margin-right: auto; }

.mt-2 {
  margin-top: 20px; }

.btn {
  display: block;
  color: #62a2f6;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid;
  text-align: center;
  -webkit-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms; }
  .btn:hover {
    background-color: #62a2f6;
    color: white;
    cursor: pointer; }

.btn-product-more {
  margin: 10px 0 20px;
  padding: 15px;
  border-color: #ccc;
  color: #333333; }
  .btn-product-more i {
    color: #f56900; }
  .btn-product-more:hover {
    color: #000;
    background-color: #f2f2f2; }

.btn-add-works {
  background-color: #62a2f6;
  color: white; }
  .btn-add-works:hover {
    color: #62a2f6;
    background-color: white; }

.btn-order {
  padding: 13px;
  font-size: 18px;
  color: white;
  background-color: #2d9000;
  border-color: #2d9000; }
  .btn-order:hover {
    color: #2d9000;
    background-color: white; }

.btn-message {
  padding: 13px;
  font-size: 18px;
  color: white;
  background-color: #073f6f;
  border-color: #073f6f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .btn-message:hover {
    color: #073f6f;
    background-color: white; }
  .btn-message span {
    font-size: 14px; }

.d-none {
  display: none !important; }

.display-block {
  display: block !important; }

.h-auto {
  height: auto !important; }

.tags {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .tags ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0; }
    .tags ul li {
      margin: 5px 5px 5px 0; }
      .tags ul li a {
        padding: 10px;
        color: #636363;
        display: block;
        font-size: 14px;
        text-transform: lowercase;
        border-radius: 4px;
        border: 1px solid #cdcdcd;
        text-align: center; }
        .tags ul li a:hover {
          background-color: #f3f3f3; }

.contact ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .contact ul li {
    margin-right: 10px; }
    .contact ul li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background-color: #1e905d;
      border: 1px solid #1e905d;
      padding: 5px;
      border-radius: 4px;
      color: white;
      width: 20px;
      height: 20px; }
      .contact ul li a:hover {
        background-color: white;
        color: #1e905d; }

.card {
  width: 100%;
  border: 1px solid #ccc; }
  .card__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px; }
    .card__text .card__title {
      color: #009cf0;
      font-weight: bold;
      margin-bottom: 10px; }
    .card__text .card__price {
      color: #000;
      font-size: 20px;
      font-weight: bolder;
      margin-bottom: 10px; }
      .card__text .card__price:after {
        content: "₽";
        margin-left: 5px;
        font-weight: bolder; }
    .card__text .author__name {
      font-weight: 300;
      margin-bottom: 10px; }
      .card__text .author__name:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #23a71b;
        background: -webkit-linear-gradient(45deg, #23a71b 0%, #08cf0e 100%);
        background: -o-linear-gradient(45deg, #23a71b 0%, #08cf0e 100%);
        background: linear-gradient(45deg, #23a71b 0%, #08cf0e 100%);
        border-radius: 50%;
        margin-right: 5px; }

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .rating__text {
    margin-left: 10px;
    font-weight: bold; }
    .rating__text span {
      color: #009cf0;
      font-size: 14px; }
  .rating__bookmark {
    color: #ccc;
    font-size: 20px; }
    .rating__bookmark:hover {
      color: #ff2a00; }

.rate__text {
  color: #959595; }

.stars span.rated {
  color: #ffbb3d; }
.stars span {
  color: #999; }

.pagination ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .pagination ol li {
    margin: 5px; }
    .pagination ol li a {
      display: block;
      padding: 8px 14px;
      border-radius: 4px;
      color: #000;
      font-weight: bold;
      -webkit-transition: 50ms;
      -o-transition: 50ms;
      transition: 50ms; }
      .pagination ol li a:hover {
        color: #fff;
        background-color: #f56900; }
    .pagination ol li.active a {
      color: #fff;
      background-color: #f56900; }

.text ul {
  padding-left: 18px; }
  .text ul li {
    margin-bottom: 5px; }

.review-list {
  list-style: none;
  padding: 0; }
  .review-list .review-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px; }
    .review-list .review-title .avatar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-right: 20px; }
      .review-list .review-title .avatar img {
        width: 50px;
        height: 50px;
        border-radius: 50%; }
    .review-list .review-title .name {
      height: 50px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .review-list .review-title .name h3 {
        width: 100%;
        margin: 0;
        font-size: 14px; }
  .review-list .review-text p {
    margin-bottom: 8px;
    line-height: 1.4; }
  .review-list .review-text span {
    font-size: 15px;
    color: #858585; }
  .review-list .review-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .review-list .review-control__which {
      margin-top: 10px; }
      .review-list .review-control__which p {
        margin: 0; }
      .review-list .review-control__which a {
        color: #62a2f6; }
    .review-list .review-control__reply a {
      color: #62a2f6; }
  .review-list ul {
    list-style: none; }
    .review-list ul li {
      margin-top: 20px; }
    .review-list ul .review-title {
      height: auto;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .review-list ul .review-title .name {
        height: auto; }
        .review-list ul .review-title .name h3 {
          margin-top: 3px;
          margin-bottom: 10px; }

.sort-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ccc; }
  .sort-links a {
    padding-bottom: 14px;
    padding-right: 15px;
    margin-right: 15px;
    color: #2e333b; }
    .sort-links a:hover {
      color: #ff2a00; }
  .sort-links a.active {
    border-bottom: 2px solid #ff2a00; }

.works-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 20px 0 0; }
  .works-cards li {
    width: 24%;
    margin-bottom: 20px;
    position: relative;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }
    .works-cards li:hover {
      -webkit-box-shadow: 0px 16px 15px -15px #7a7a7a;
              box-shadow: 0px 16px 15px -15px #7a7a7a; }
    .works-cards li a {
      display: block;
      color: white;
      font-weight: bold;
      font-size: 14px; }
    .works-cards li .work-title {
      position: absolute;
      width: 100%;
      height: auto;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      bottom: 0;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.8); }

#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 100500; }

.cssload-wraper {
  width: 0px;
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.cssload-dots {
  font-family: sans-serif;
  font-weight: 100; }

.cssload-dots:not(:required) {
  overflow: hidden;
  position: relative;
  text-indent: -9749px;
  display: inline-block;
  width: 7px;
  height: 7px;
  background: transparent;
  border-radius: 100%;
  box-shadow: #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
  -o-box-shadow: #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
  -ms-box-shadow: #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
  -webkit-box-shadow: #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
  -moz-box-shadow: #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
  animation: cssload-dots 5.75s infinite ease-in-out;
  -o-animation: cssload-dots 5.75s infinite ease-in-out;
  -ms-animation: cssload-dots 5.75s infinite ease-in-out;
  -webkit-animation: cssload-dots 5.75s infinite ease-in-out;
  -moz-animation: cssload-dots 5.75s infinite ease-in-out;
  transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%; }

@keyframes cssload-dots {
  0% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px; }
  8.33% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px; }
  16.67% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 14px 14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 14px 14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px; }
  25% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px 14px 0 7px, #44aaee -14px 14px 0 7px; }
  33.33% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee -14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee -14px -14px 0 7px; }
  41.67% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px; }
  50% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px; }
  58.33% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px; }
  66.67% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px -14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px -14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px; }
  75% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px -14px 0 7px, #44aaee 14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px -14px 0 7px, #44aaee 14px -14px 0 7px; }
  83.33% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee 14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee 14px 14px 0 7px; }
  91.67% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px; }
  100% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px; } }
@-webkit-keyframes cssload-dots {
  0% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px; }
  8.33% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px; }
  16.67% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 14px 14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 14px 14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px; }
  25% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px 14px 0 7px, #44aaee -14px 14px 0 7px; }
  33.33% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee -14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee -14px -14px 0 7px; }
  41.67% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px; }
  50% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px; }
  58.33% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 -14px 14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px; }
  66.67% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px -14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 -14px -14px 0 7px, #66dd77 -14px -14px 0 7px, #44aaee 14px -14px 0 7px; }
  75% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px -14px 0 7px, #44aaee 14px -14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px -14px 0 7px, #44aaee 14px -14px 0 7px; }
  83.33% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee 14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee 14px 14px 0 7px; }
  91.67% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px 14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px; }
  100% {
    -webkit-box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px;
            box-shadow: white 0 0 15px 0, #ff8866 -14px -14px 0 7px, #ffcc66 14px -14px 0 7px, #66dd77 14px 14px 0 7px, #44aaee -14px 14px 0 7px; } }
.header {
  border-bottom: 1px solid #ccc; }

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 14px 0 10px; }
  .header__block .header__logo {
    width: 14%; }
    .header__block .header__logo a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      color: #222222; }
    .header__block .header__logo img {
      width: 34px;
      height: 34px; }
    .header__block .header__logo .logo-text {
      width: 146px;
      margin-left: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .header__block .header__logo .logo-text span {
        font-weight: bold;
        font-size: 20px; }
      .header__block .header__logo .logo-text div {
        font-size: 12px;
        text-transform: lowercase; }
  .header__block .header__actions {
    width: 25.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header__block .header__actions .header__btn {
      font-size: 13px; }
    .header__block .header__actions .header__btn_start {
      margin-right: 30px; }
    .header__block .header__actions .header__btn_quick {
      color: #ff2a00;
      padding: 8px 19px; }
      .header__block .header__actions .header__btn_quick:hover {
        background-color: #ff2a00;
        color: white; }
  .header__block .header__search {
    width: 37%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header__block .header__search .header__search_input {
      width: 58%;
      border-radius: 4px 0 0 4px;
      font-size: 12px;
      border-right: none; }
    .header__block .header__search .header__search_btn {
      border-radius: 0 4px 4px 0;
      background-color: #62a2f6;
      color: white;
      font-size: 13px;
      border: 1px solid #62a2f6; }
      .header__block .header__search .header__search_btn:hover {
        background-color: #3285f3; }
  .header__block .header__controls {
    width: 9%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header__block .header__controls a {
      margin-right: 16px; }
      .header__block .header__controls a:hover i {
        color: black; }
    .header__block .header__controls i {
      -webkit-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms;
      color: #a6a6a6;
      font-size: 24px; }
  .header__block .header__login {
    width: 14.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__block .header__login .header__login_link {
      font-size: 14px;
      color: #373737; }

.footer {
  background-color: #f6f6f6;
  padding: 20px 0; }
  .footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer h4 {
    font-size: 18px;
    margin: 10px 0; }
  .footer__category {
    width: 20%; }
    .footer__category ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .footer__category ul li {
        margin-bottom: 5px; }
        .footer__category ul li a {
          color: #000;
          font-size: 14px; }
          .footer__category ul li a:hover {
            color: #ff2a00; }
  .footer__contact {
    width: 20%; }

.tags-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 0; }
  .tags-section h1 {
    width: 315px;
    line-height: 1;
    margin-top: 5px; }
  .tags-section .tags {
    width: 1020px; }
    .tags-section .tags ul {
      width: 1020px;
      height: 50px;
      overflow: hidden; }
  .tags-section .btn-tags {
    margin: 5px 0px;
    padding: 10px;
    display: none;
    width: 10%;
    font-size: 14px;
    color: #636363;
    border-radius: 5px;
    border: 1px solid #f3f3f3;
    background-color: #e6e6e6; }
    .tags-section .btn-tags:hover {
      background-color: #f3f3f3; }

.content-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px; }
  .content-search select {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-color: #ccc;
    color: #000;
    background-color: #fff;
    border-radius: 0;
    border-right: 0;
    position: relative; }
  .content-search__master {
    width: 25%;
    position: relative; }
    .content-search__master select {
      border-radius: 4px 0 0 4px; }
    .content-search__master:after {
      font-family: "Font Awesome 5 Free";
      content: "";
      font-weight: 700;
      color: #929292;
      position: absolute;
      right: 10px;
      top: 10px; }
  .content-search__gorod {
    width: 19%;
    position: relative; }
    .content-search__gorod:after {
      font-family: "Font Awesome 5 Free";
      content: "";
      font-weight: 700;
      color: #929292;
      position: absolute;
      right: 10px;
      top: 10px; }
  .content-search__rayon {
    width: 19%;
    position: relative; }
    .content-search__rayon:after {
      font-family: "Font Awesome 5 Free";
      content: "";
      font-weight: 700;
      color: #929292;
      position: absolute;
      right: 10px;
      top: 10px; }
  .content-search__poisk {
    width: 37%;
    position: relative; }
    .content-search__poisk input {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      border-radius: 0 4px 4px 0; }
      .content-search__poisk input:focus ~ .content-search__btn {
        border-left-color: #62a2f6; }
  .content-search__btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 9px 20px;
    color: #818181;
    background-color: #f8f8f8;
    border-radius: 0 4px 4px 0;
    border-color: #ccc; }
    .content-search__btn:hover {
      color: #818181;
      background-color: #ebebeb; }

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .catalog__filter {
    width: 315px; }
    .catalog__filter h3 {
      margin: 15px 0; }
    .catalog__filter p {
      margin-top: 5px; }
    .catalog__filter_title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      line-height: 1;
      padding-bottom: 15px; }
      .catalog__filter_title_number {
        font-size: 38px;
        color: #1e905d;
        padding-left: 10px; }
      .catalog__filter_title_text {
        font-size: 15px;
        padding-left: 10px; }
    .catalog__filter_radio {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding-bottom: 10px; }
      .catalog__filter_radio input[type="radio"] {
        opacity: 0;
        position: absolute;
        cursor: pointer; }
      .catalog__filter_radio input[type="radio"]:checked ~ label {
        background-color: #e0e0e0; }
      .catalog__filter_radio .radio-group {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .catalog__filter_radio .radio-group label {
          font-size: 16px;
          display: block;
          padding: 7px 9px;
          border: 1px solid #ccc;
          width: 100%;
          text-align: center;
          border-radius: 4px 0 0 4px;
          -webkit-transition: 100ms;
          -o-transition: 100ms;
          transition: 100ms;
          cursor: pointer; }
        .catalog__filter_radio .radio-group:nth-child(2) label {
          border-radius: 0;
          border-left: 0;
          border-right: 0; }
        .catalog__filter_radio .radio-group:last-child label {
          border-radius: 0 4px 4px 0; }
    .catalog__filter hr {
      border: none;
      /* Убираем границу для браузера Firefox */
      color: #ccc;
      /* Цвет линии для остальных браузеров */
      background-color: #ccc;
      /* Цвет линии для браузера Firefox и Opera */
      height: 1px;
      margin: 20px 0 10px; }
    .catalog__filter_pay-price {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .catalog__filter_pay-price input:first-child {
        border-radius: 4px 0 0 4px;
        border-right: 0; }
      .catalog__filter_pay-price input:last-child {
        border-radius: 0 4px 4px 0; }
      .catalog__filter_pay-price input {
        width: 100%; }
        .catalog__filter_pay-price input:focus {
          border-color: #ccc; }
    .catalog__filter_pay-type {
      margin-top: 20px;
      margin-bottom: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .catalog__filter_pay-type label {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        line-height: 1.2;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        width: 50%;
        font-size: 14px;
        padding-left: 24px;
        margin-bottom: 10px; }
      .catalog__filter_pay-type input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0; }
      .catalog__filter_pay-type .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 12px;
        width: 12px;
        border: 2px solid #62a2f6;
        border-radius: 4px; }
      .catalog__filter_pay-type label input:checked ~ .checkmark {
        background-color: #62a2f6; }
      .catalog__filter_pay-type .checkmark:after {
        content: "";
        position: absolute;
        display: none; }
      .catalog__filter_pay-type label input:checked ~ .checkmark:after {
        display: block; }
      .catalog__filter_pay-type label .checkmark:after {
        left: 3px;
        top: -1px;
        width: 4px;
        height: 9px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
    .catalog__filter .filter-btn {
      background-color: #62a2f6;
      color: white;
      border: 2px solid #62a2f6;
      margin-bottom: 10px; }
      .catalog__filter .filter-btn:hover {
        color: #62a2f6;
        background-color: white; }
    .catalog__filter_category .return {
      color: #999;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      line-height: 1.5;
      margin-bottom: 10px; }
      .catalog__filter_category .return:before {
        color: #b8c6d2;
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        content: "\f053";
        margin-right: 5px;
        font-size: 12px; }
    .catalog__filter_category .catalog-ul {
      list-style: none;
      margin: 0 0 0 20px;
      padding: 0; }
      .catalog__filter_category .catalog-ul ul {
        width: 100%;
        list-style: none;
        margin: 0 0 0 20px;
        padding: 0; }
      .catalog__filter_category .catalog-ul > li.active {
        margin-bottom: 0; }
        .catalog__filter_category .catalog-ul > li.active ul {
          margin-top: 10px; }
        .catalog__filter_category .catalog-ul > li.active > a {
          width: 94%;
          color: #000;
          font-weight: bold; }
        .catalog__filter_category .catalog-ul > li.active li {
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap; }
          .catalog__filter_category .catalog-ul > li.active li:hover a {
            color: #ff2a00; }
          .catalog__filter_category .catalog-ul > li.active li:hover::before {
            color: #ff2a00; }
        .catalog__filter_category .catalog-ul > li.active:before {
          width: 6%;
          color: #b8c6d2;
          font-family: "Font Awesome 5 Free";
          font-weight: 700;
          content: "\f078";
          font-size: 12px; }
        .catalog__filter_category .catalog-ul > li.active:hover a {
          color: #000; }
        .catalog__filter_category .catalog-ul > li.active:hover::before {
          color: #b8c6d2; }
      .catalog__filter_category .catalog-ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        line-height: 1.5;
        margin-bottom: 10px; }
        .catalog__filter_category .catalog-ul li:hover a {
          color: #ff2a00; }
        .catalog__filter_category .catalog-ul li:hover::before {
          color: #ff2a00; }
        .catalog__filter_category .catalog-ul li a {
          width: 95%; }
        .catalog__filter_category .catalog-ul li:before {
          width: 5%;
          color: #b8c6d2;
          font-family: "Font Awesome 5 Free";
          font-weight: 700;
          content: "\f054";
          font-size: 12px;
          line-height: 2;
          -webkit-transition: 300ms;
          -o-transition: 300ms;
          transition: 300ms; }
      .catalog__filter_category .catalog-ul a {
        color: #4b4b4b; }
    .catalog__filter_contact {
      margin-bottom: 10px; }
    .catalog__filter_last-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .catalog__filter_last-text .btn {
        display: inline-block;
        margin: 0 auto; }
  .catalog__products {
    width: 1020px; }
    .catalog__products_view {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 38px;
      padding-bottom: 15px; }
      .catalog__products_view_filter button {
        background-color: none;
        border: none;
        margin-right: 20px;
        color: #a5a3a3; }
        .catalog__products_view_filter button:after {
          font-family: "Font Awesome 5 Free";
          content: "";
          font-weight: 700;
          margin-left: 10px;
          font-size: 12px;
          display: inline-block;
          -webkit-transition: 200ms;
          -o-transition: 200ms;
          transition: 200ms; }
      .catalog__products_view .card-filter:after {
        -webkit-transform: rotateX(180deg);
                transform: rotateX(180deg); }
      .catalog__products_view_card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .catalog__products_view_card button {
          padding: 8px;
          margin-left: 8px;
          border: none;
          border-radius: 2px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          background-color: #f5f5f5; }
          .catalog__products_view_card button:hover {
            background-color: gainsboro; }
        .catalog__products_view_card button.active {
          background-color: #62a2f6;
          color: white; }
    .catalog__products .catalog__block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .catalog__products .catalog__block .catalog__card {
        width: 24%;
        margin-bottom: 20px; }
        .catalog__products .catalog__block .catalog__card .card__title {
          height: 36px;
          overflow: hidden; }
        .catalog__products .catalog__block .catalog__card:hover {
          -webkit-box-shadow: 0px 16px 15px -15px #7a7a7a;
                  box-shadow: 0px 16px 15px -15px #7a7a7a; }
        .catalog__products .catalog__block .catalog__card .stars {
          width: 52%; }
        .catalog__products .catalog__block .catalog__card .rating__text {
          width: 40%; }
        .catalog__products .catalog__block .catalog__card .rating__bookmark {
          width: 8%; }
      .catalog__products .catalog__block .catalog__card_list {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .catalog__products .catalog__block .catalog__card_list img {
          width: 30%;
          height: 166px;
          -o-object-fit: cover;
             object-fit: cover; }
        .catalog__products .catalog__block .catalog__card_list .card__title {
          height: auto; }
        .catalog__products .catalog__block .catalog__card_list .card__text {
          width: 100%;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
  .catalog .catalog__pagination {
    margin-bottom: 20px; }

.master .breadcrumbs {
  padding: 10px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .master .breadcrumbs .breadcrumb {
    width: 1028px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .master .breadcrumbs .breadcrumb li {
      margin-right: 10px; }
      .master .breadcrumbs .breadcrumb li:after {
        content: "|";
        position: relative;
        bottom: 2px;
        margin-left: 10px;
        color: #999999; }
      .master .breadcrumbs .breadcrumb li:last-child::after {
        display: none; }
      .master .breadcrumbs .breadcrumb li a {
        color: #999999; }
        .master .breadcrumbs .breadcrumb li a:hover {
          color: black; }
      .master .breadcrumbs .breadcrumb li:last-child a:hover {
        color: #999999; }
  .master .breadcrumbs .control__buttons {
    width: 315px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .master .breadcrumbs .control__buttons a {
      color: #999999; }
      .master .breadcrumbs .control__buttons a:hover {
        color: black; }
.master__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px; }
.master__info {
  width: 1028px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .master__info .master__image {
    width: 310px;
    background-color: #f6f7f8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .master__info .master__image img {
      width: 180px; }
  .master__info .master__text {
    width: 688px; }
  .master__info .master__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .master__info .master__name h1 {
      width: 75%;
      font-weight: 500;
      margin-top: 5px; }
    .master__info .master__name .master__rating {
      width: 25%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .master__info .master__name .master__rating a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-left: 20px;
        font-size: 20px;
        font-weight: 300;
        color: #8a8a8a; }
        .master__info .master__name .master__rating a:hover i {
          color: red; }
        .master__info .master__name .master__rating a i {
          -webkit-transition: 300ms;
          -o-transition: 300ms;
          transition: 300ms;
          color: #d2d2d2;
          font-size: 22px;
          margin-left: 8px; }
  .master__info .master__view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 24px;
    color: #8a8a8a; }
    .master__info .master__view span:first-child {
      width: 60%; }
    .master__info .master__view span:last-child {
      width: 40%;
      text-align: right; }
  .master__info .master__about p {
    line-height: 1.2;
    margin-top: 0;
    overflow: hidden; }
  .master__info .master__about .js-master-readmore-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .master__info .master__statics {
    margin: 26px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .master__info .master__statics_block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 308px;
      height: 172px;
      background-color: #fbfbef;
      border: 1px solid #e6e6e6; }
    .master__info .master__statics .static {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%; }
    .master__info .master__statics .static_title {
      margin-left: 20px; }
  .master__info .master__reviews {
    width: 100%; }
    .master__info .master__reviews .master__review_list > li {
      padding: 30px 0 30px 25px;
      border-bottom: 1px solid #d8dadd; }
    .master__info .master__reviews .master__review_list .stars {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .master__info .master__reviews .master__review_list .stars .rated {
        margin-right: 2px; }
      .master__info .master__reviews .master__review_list .stars .rate__text {
        margin-left: 8px; }
  .master__info .master__works {
    width: 100%; }
  .master__info .master__services {
    width: 100%; }
    .master__info .master__services_cards {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding: 0;
      list-style: none; }
      .master__info .master__services_cards li {
        width: 24%;
        margin-bottom: 20px;
        -webkit-transition: 300ms;
        -o-transition: 300ms;
        transition: 300ms; }
        .master__info .master__services_cards li:hover {
          -webkit-box-shadow: 0px 16px 15px -15px #7a7a7a;
                  box-shadow: 0px 16px 15px -15px #7a7a7a; }
.master__message {
  width: 315px;
  position: relative; }
  .master__message_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0; }
  .master__message_rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 41px;
    padding: 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 172px;
    background-color: #fbfbef;
    border: 1px solid #e6e6e6; }
    .master__message_rating div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 10px 0;
      font-size: 14px; }
      .master__message_rating div i {
        margin-right: 20px;
        color: #1e905d; }
    .master__message_rating .master__message-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px; }
  .master__message .master-share {
    height: auto; }
    .master__message .master-share h4 {
      font-size: 22px;
      margin: 0; }
    .master__message .master-share ul {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      overflow: auto; }
      .master__message .master-share ul a {
        width: 25px;
        height: 25px; }
