$dark-grey: #121620;
$grey: #323a4e;

$dark-yellow: #8d7c51;
$border: #afb0b3;
$input: #31343d;


/*Font Families*/

$font-main: "CeraPro", sans-serif;
$font-second: "Alexander", sans-serif;
$font-h: "Aqum", sans-serif;