.footer {
    background-color: $black;
    color: $white;
    padding: 45px 0 35px;
    margin-top: 55px;
    border-top: 2px solid $red;
   

    a {
        color: $white;
        transition: color .2s ease-in;

        &:hover {
            color: $red;
        }
    }


    &-menu>li>a {
        
        text-transform: uppercase;
        font-family: $font-semi-bold;
        font-size: 12px;
    
    
    }

    &-contacts li {
        display: flex;
        align-items: center;
        font-size: 12px;
        svg {
            margin-right: 10px;
        }


    }

    &-socials {
        display: flex;

        li {
            margin-right: 38px;
        }
    }

    .footer-items li {

        margin-bottom: 10px;
    }

    p {
        font-size: 12px;
        margin-top: 29px;
    }
}