.footer-kransodar {
    background-color: $grey;
    color: $white;
    padding: 45px 0 35px;
    margin-top: 55px;
    border-top: 2px solid $green;
    height: 100%;

   

    a {
        color: $white;
        transition: color .2s ease-in;

        &:hover {
            color: $green-hover;
        }
    }


    &-menu>li>a {
        
        text-transform: uppercase;
        font-family: $font-bold;
        font-size: 12px;
    
    
    }

    &-contacts li {
        display: flex;
        align-items: center;
        font-size: 12px;
        svg {
            margin-right: 10px;
        }


    }

    &-socials {
        display: flex;

        li {
            margin-right: 38px;
        }
    }

    .footer-kransodar-items li {

        margin-bottom: 10px;
    }
    .copyright{
        margin-top: 18px;

        p {
            font-size: 12px;
            border-bottom: 1px solid $white;
            display: inline;
            transition: color .2s ease-in;


                
        }
    }


}