.header {
    background-color: $white;
    box-shadow: 0px 8px 7px -2px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    height: auto;

    &-menu {
        display: flex;
        justify-content: space-between;
        font-size: 12px;

    }

    &-menu__phone {
        align-items: center;
        display: flex;
        li {
            display: flex;
            align-items: center;

            span{
                padding-left: 5px;
            }
        }
   
    }

    &-menu__user {
        display: flex;
        align-items: center;
        margin-right: 100px;
        flex-wrap: nowrap;

        li {
            padding: 0 2px;

            a {
                text-decoration-line: underline;
            }
        }

    }
    .menu-content__basket{
        display: flex;
        justify-content: space-between;
        margin-right: 150px;

        span{
            background-color: $white-second;
            border-radius: 50%;
            color: $red;
            padding: 3px;
            &:first-child{
                margin-right: 15px;
            }
            &:last-child{
                margin-left: 15px;
            }
        }
    }
}