.logo {
  a {
    font-family: "Times New Roman", Times, serif;

    font-weight: bold;
    display: flex;
    align-items: center;
    span {
      font-size: 33px;
      font-weight: bold;
      letter-spacing: 0.7px;
    }
  }
  .header-krasnodar-menu__phone {
    display: none;
  }

  img {

    height: 50px;
    width: 350px;
  }
}

.header-krasnodar {
  background-color: $white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  height: 80px;

  .h-80{
    display: flex;
    align-items: center;
    height: 80px;

    .row{
      width: 100%;
    }
  }

  &-menu {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }

  &-menu__phone {
    align-items: center;
    display: flex;


    li {
      display: flex;
      align-items: center;

      svg{
        fill: none;
      }

      img{
        width: 20px;
        height: 20px;
      }

      span {
        padding-left: 5px;
      }
    }
  }

  &-menu__user {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: nowrap;

    li {
      padding: 0 3px;

      a {
        border-bottom: 1px solid #000;
        transition: 300ms;

        &:hover{
          border: none;
        }
      }
    }
  }

  .menu-krasnodar-content {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    margin-right: 78px;

    &__basket {
      width: 100%;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      font-family: $font-bold;
      margin: 15px 0 10px 0px;
      p{
        display: inline;
      }

      a{
       
        &:hover span{
          
          background-color: $green-hover;
          color: $white;
        }
      }

      span {
        background-color: $white-second;
        border-radius: 50%;
        color: $green;
        padding: 3px 8px;
        margin:0 10px 0 3px;
        transition: all 100ms ease-in;
      }
    }
  }

  .basket-item{
    a{
      display: flex;
      align-items: center;
      &:hover span{
        background: $white-second;

      }
      span{
        padding: 5px 2px 0px 4px;
        &:hover{

          svg{
            fill: $green !important;
          }
        }
      }
    }
    img{
      width: 20px;
      height: 17px;
      margin-right: 12px;
    }
  }
}
