
.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  height: auto;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
  margin: auto;
  margin-top: 90px;
  background-color: $white;


  h3 {
    letter-spacing: 0.02em;
  }

  &.buy-fast {


    width: 42.89%;
    display: none;
    height: auto;


    .product-title {
      font-size: 24px;
      font-family: $font-bold;
      width: 80%;

    }


    .product-container {
      display: flex;
      justify-content: space-between;

      position: relative;

    }

    .person-data {
      width: 100%;

      padding-bottom: 30px;

      input {
        width: 100%;

      }
    }

    .product-img {
      position: relative;
      align-self: flex-end;
      top: 14px;

      button {
        position: absolute;
        bottom: 38px;
        right: 50px;
        padding: 12px 39px;
      }

      img {
        height: 273px;
        width: 374px;
        object-fit: cover;
      }
    }

    .counter-krasnodar button,
    .counter-krasnodar input,
    .counter-krasnodar span {
      color: $green-hover;
    }

    .order-price {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 11px;
      padding-left: 54px;
      margin-right: 28px;

      .checkout-krasnodar-item{
        margin-bottom: 0;
      }

      .summa {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $green-hover;


        p {

          font-size: 20px;
          font-family: $font-bold;
          display: flex;
          width: 100%;
        }
      }
    }

    .modal-title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 25px;
        height: 25px;
      }
    }
  }

  &-container {
    padding-left: 51px;
    padding-right: 51px;
    padding-top: 42px;


  }

  .counter-krasnodar {
    background-color: $white-second;
    width: 100% !important;
    float: right;
  }



  &.register {
    width: 30%;
    padding-bottom: 46px;
    display: none;

    .modal-title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 25px;
        height: 25px;
      }
    }

  }

  button {
    text-transform: uppercase;
  }

  &.attention {
    width: 25%;
    display: none;

    .modal-title {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #CE1348;
      padding: 21px 95px;

      img {
        width: 31px;
        height: 25px;
        margin-right: 13px;
      }
    }



    .modal-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-left: 35px;
      padding-right: 35px;

      p {
        text-align: center;
        font-size: 12px;
      }

      .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 43px;
        margin-bottom: 48px;
        .btn-cancel {
          background-color: #CE1348;

        }

        button {
          width: 100%;
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  &.success {
    width: 25%;
    display: none;

    .modal-title {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 21px 95px;

      img {
        width: 31px;
        height: 25px;
        margin-right: 13px;
      }
    }

    .button {
      display: flex;
      justify-content: center;
      padding: 162px 0 48px;

      button {
        padding: 12px 60px;
      }
    }
  }


  .user-profile button {
    padding: 13px 0px 13px 24px;
  }

  .checkout .counter #decrease {
    margin-left: 0;
  }

  .checkout input {
    padding-left: 0;
    text-align: center;
  }

  #decrease {
    padding: 13px 24px 13px 0;
  }

  #increase {
    padding: 13px 0 13px 24px;
  }

  .checkout .counter span {
    padding-right: 10px;
  }

  .modal-title {
    background-color: $green;
    padding: 46px 51px 46px 57px;
    color: $white;
    font-size: 24px;
    font-family: $font-bold;
  }

  #number {
    background-color: $white-second;
  }

  .button button {
    font-size: 12px;
    padding: 12px 35px;
  }

  .remember {
    margin-top: 24px;
    margin-bottom: 45px;

    span {
      color: $grey;
      font-size: 12px;

    }


    .check_box label {

      left: -20px;
      top: -1px;
    }
  }


  .register_or_forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;



    a {
      font-size: 12px;
      color: $grey;
      text-decoration: underline;
      transition: 300ms;
      display: block;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
.select-container {
  display: flex;
  position: relative;

  span {
    font-size: 12px;
    color: $grey;
    margin-right: 10px;
  }

  input {
    border-radius: 5px;
    border: 1px solid $green-hover;
    padding: 7px 9px;
    background: none;
    font-size: 12px;
    color: $green-hover;
    width: 100%;
    cursor: pointer;

    &:active,
    &:focus {
      outline: 0;
    }
  }

  .input-arrow {
    display: flex;
    align-items: center;
    right: 8px;
    top: 18%;
    position: absolute;
    cursor: pointer;
  }

  .input-active {
    border: 1px solid $white;
    border-bottom-right-radius: 0;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 0;
  }

  .input-arrow-active {
    transform: rotate(-180deg);
    transition: all 0.2s ease-in-out;
    top: 9px;

  }

  .input-arrow-close {
    transform: rotate(0);
    transition: all 0.2s ease-in-out;
    top: 6px;
  }

  &__options {
    background-color: $white-second;
    position: absolute;
    display: none;
    width: 100%;
    z-index: 999 !important;
    border: 1px solid $white;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: none;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    z-index: 0;
    color: $grey;
    top: 30px;
    font-size: 12px;

    div {
      border-top: 1px solid $white;
      padding: 8px;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;

      &:first-child {
        border-top: none;
      }

      &:hover {
        background-color: $white-second;

        &:last-child {
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
        }
      }
    }
  }
}
.catalog-krasnodar {

  margin-right: -7.5px;
  margin-left: -7.5px;



  .krasnodar-col-xl-3,
  .krasnodar-col-lg-4,
  .krasnodar-col-md-6,
  .krasnodar-col-sm-6 {

    padding-right: 15px;
    padding-left: 15px;
  }

  .krasnodar-col-xs-6 {

    padding-right: 7.5px;
    padding-left: 7.5px;
  }

  .card-col {
    margin-bottom: 23px;

  }
}

.card-krasnodar {
  background: #ffffff;
  font-family: $font-bold;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin-top: 20px;
  transition: transform 0.3s ease-in;
  height: 100%;

  &:hover {
    transform: translateY(3px);
  }


  img {
    object-fit: cover;
    height: 194px;
  }

  &-content {
    padding: 10px 15px 0;

    &__title {
      width: 80%;
      font-size: 16px;
      height: 55px;
      overflow: hidden;
    }

    &__price {
      color: $green;
      font-size: 20px;
      margin: 10px 0 8px;
    }

    &-in__stock {
      font-family: $font;
      color: $grey;
      font-size: 12px;
    }

    &__buttons {
      font-size: 12px;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      button {
        padding: 12px 20px;
      }
    }
  }
}

.icon {
  height: 20px;
  width: 20px;
  fill: $green;

  transition: fill 0.3s ease;

  &:hover {
    fill: $green-hover;
  }
}

.btn {
  display: inline-block;
  font-family: $font-bold;
  color: $white;
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-color: $green;
  padding: 10px 8px;
  border-radius: 0.25rem;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: $green-hover;
  }
}

.mx-auto {
  margin-right: auto !important;
  margin-top: auto;
}

.search-krasnodar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 0 34px;
  padding: 0;

  &-result {
    font-size: 24px;
    font-family: $font-noto-bold;
  }
}

.select-modifaction {
  .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: $green-hover;
    width: $select-width;
    height: $select-height;
    border: 1px solid $green-hover;
    border-radius: 5px;
  }

  .select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: initial;
    padding: 8px 15px;
    transition: all 0.2s ease-in;
    white-space: nowrap;
    overflow: hidden;

    &:after {
      content: "";
      border: 1px solid $green;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 6px;
      position: absolute;
      top: 9px;
      right: 18px;
      transform: rotate(45deg);
    }

    &:active,
    &.active {
      &::after {
        transform: rotate(-135deg) translateX(-45%);
        transition: 0.2s ease-in-out;
        top: 9px;
      }
    }
  }

  .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid $green;
    background-color: $white;

    li {
      margin: 0;
      padding: 12px 0;
      text-indent: 15px;
      border-top: 1px solid darken($select-background, 10);
      transition: all 0.15s ease-in;

      &:nth-child(2) {
        border-top: none;
      }

      &:hover {
        color: $select-background;
        background: $select-color;
      }

      &[rel="hide"] {
        display: none;
      }
    }
  }
}

.ml-2 {
  margin-left: 20px;
}

.desk-d-none {
  display: none;
}


.active {
  display: block !important;
}



@keyframes open {
  0% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0%);
  }
}

/* The element to apply the animation to */
.select-container__options.active {
  animation-name: open;
  animation-duration: 0.2s;
}

.filter-krasnodar {
  &-container {
    background: $white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 50px;

  }

  .select-containers {
    display: flex;
    align-items: center;

    .input-select {
      border: 1px solid $white;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      background-color: $white-second;
      padding-right: 30px;
      height: 30px;
    }

    .input-arrow {
      top: 6px;

      &-active {
        top: 10px;
      }
    }

    .input-active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &-select {
    width: 100%;
    margin-right: 15px;
    font-size: 12px;

    &:last-child {
      margin-right: 0;
    }

    label {
      color: $grey;
      font-size: 12px;
      margin: 8px 0;
      display: block;

      &.search-input-bold {
        font-family: $font-bold;
      }

      span {
        color: rgba(90, 90, 90, 0.5);

      }
    }

    .search-filter-container {
      background-color: $white-second;
      border-radius: 5px;
      position: relative;
    }

    input {
      box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.2);
      background: $white-second;
      border: 1px solid #ffffff;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 8px;
      color: $grey;
      height: 35px;
    }

    .search-active {
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 2px solid $white;
    }

    .search-active-suggestions {
      box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    input:focus,
    input:active {
      outline: none;
    }

    .suggestions {
      position: absolute;
      display: none;
      width: 100%;
      background: $white-second;
      z-index: 600;

      div {
        color: $grey;
        width: 100%;
        padding-left: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-top: 2px solid $white;
        transition: all 0.1s ease-in;
        cursor: pointer;

        &:first-child {
          border-top: 2px solid $white-second;
        }

        &:hover {
          border-top: 2px solid rgba(90, 90, 90, 0.5);
          background: $white;
        }
      }
    }
  }

  .select-modifaction {
    label {
      color: $grey;
      display: block;
      margin-bottom: 5px;
      font-size: 12px;
    }

    .select {
      width: 100%;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
      border: $white-second;
      background-color: $white-second;

      &-options {
        top: 94%;
        border: none;
        box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.2);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: $white-second;

        li {
          border-top: 2px solid $white;
        }
      }
    }
  }

  .button {
    margin: 0 44px 0 28px;
    padding: 13px 45px;
    font-size: 12px;
  }

  &-background {
    background: linear-gradient(90deg, $green 25%, rgba(255, 0, 0, 0) 25%);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    padding-left: 0;
  }

  .search-filter {
    width: 100%;
  }

  &-title {
    display: flex;

    h1 {
      font-size: 30px;
      margin: auto 16px;
      font-family: $font-bold;
      line-height: 1.1;
      color: $grey;
    }

    &__img {
      width: 222px;

      img {
        height: 180px;
        object-fit: cover;
      }
    }
  }
}

.article-krasnodar {
  &-text {
    padding-left: 0;
    margin: 20px 0;
    margin-left: 35px;
  }

  &-container {
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
    background-color: $white;
    border-radius: 3px;

    margin-top: 50px;
    align-items: center;

    h3 {
      margin-bottom: 27px;
      font-size: 30px;
      font-family: $font-bold;
      color: $grey;
    }

    p {
      color: $grey;
      font-size: 12px;
      padding: 0 50px 0 0;
      margin: auto;
      text-align: left;
    }

   .article-container-img {
      padding-right: 0;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
    }
  }

  &-img {
    img {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

.slider-krasnodar {
  margin-top: 50px;



  &-text {
    position: absolute;

    top: 34%;
    left: 7%;
    color: $white;

    h1 {
      font-family: "Times New Roman", Times, serif;
      font-size: 100px;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
    }

    p {
      font-size: 30px;
      font-family: $font-bold;
    }

    svg {
      width: 78px;
      height: 78px;
    }
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    overflow: hidden;
  }

  &-button {
    position: absolute;
    bottom: 15%;
    display: flex;
    justify-content: center;
    width: 100%;

    button {
      width: auto;
      padding: 10px 25px;
    }
  }

  .swiper-pagination {
    bottom: 15px !important;

    span {
      height: 11px;
      width: 11px;
      border: 1px solid $white;
    }

    .swiper-pagination-bullet-active {
      background-color: $green !important;
    }

    .swiper-pagination-bullet {
      background: none;
      opacity: 1;
    }
  }
}

.d-flex {
  display: flex;
}

.ml-1 {
  margin-left: 1re;
}

.one-product-krasnodar {
  margin-top: 40px;

  &__img {

    height: 327px;
    object-fit: cover;
  }

  &-container {
    background-color: $white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;

    h2 {
      margin: 40px 0 14px;
      font-family: $font-bold;
    }
  }

  table {
    max-width: 100%;
    margin-right: 65px;
    min-width: 30%;

    tr {
      width: 100%;
    }

    .option {
      padding-left: 5px;
    }

    tbody>tr>td>.dots {
      background: url("./../img/icons/dash.svg");
      background-repeat: repeat-x;
      padding-bottom: 5px;
      background-position-y: -1px;

      span {
        background-color: $white;
        padding-right: 10px;
      }
    }
  }

  .attention-price-krasnodar {
    margin: 50px 0;
    font-size: 12px;

    .icon-attenition {
      fill: none;
      margin-right: 16px;
      margin-top: 5px;
      margin-left: 37px;
    }
  }

  .table-wrapper {
    overflow: auto;
  }

  .krasnodar-product-options {
    display: flex;
    font-size: 12px;
    margin: 26px 0 53px;
    flex-wrap: wrap;
    position: relative;

    &__logo {
      width: 140px;
    }

    &__option {
      .model {
        margin-top: 13px;

        li:nth-child(2) {
          margin: 10px 0;

          span {
            padding-left: 65px;
          }
        }

        .manufacturer {
          display: flex;
          align-items: center;

          span,
          .krasnodar-product-options__logo {
            font-family: $font-times-bold;
            font-weight: bold;
            font-size: 22px;
            display: flex;
            align-items: center;
            padding-left: 20px;


          }
        }
      }
    }
  }

  .attention-img {
    width: 22px;
    height: 22px;
    margin-right: 15px;
  }

  &__buy-product {
    display: flex;
    justify-content: space-between;

    p {
      font-family: $font-bold;
      color: $green;
    }


  }

  .one-product-krasnodar-buy-product__buttons {
    font-size: 12px;
    margin-right: 10px;

    button {
      margin-left: 23px;
      text-transform: uppercase;
      padding: 14px 27px;

    }
  }
}

.model-krasnodar {
  margin-top: 50px;

  &-container {
    background-color: $white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    align-items: center;
    margin: 0 -15px;
  }

  &-img img {
    width: 186px;
    height: 190px;
    object-fit: cover;
    margin: 5px 0 0 15px;
  }

  &-content {
    margin-left: 27px;

    h3 {
      font-family: $font-bold;
      font-size: 24px;
    }

    p {
      font-family: $font-bold;
      color: $green;
      margin: 14px 0;
      font-size: 24px;
    }

    ul {
      color: $grey;
      font-size: 12px;
      margin-bottom: 4px;

      li {
        padding-bottom: 5px;
      }
    }

    &__radius {
      display: flex;
      flex-wrap: wrap;

      li {
        padding-right: 5px;
      }
    }
  }

  &-items {
    display: flex;
    align-items: center;
  }

  &-brend__logo {
    display: flex;
    align-items: center;

    font-family: $font-times-bold;
    font-size: 100px;
    font-weight: bold;

    img {

      width: 300px;
    }
  }
}

.products {
  .row {
    margin: 0 -15px;
  }
}

.about-brand {
  margin-top: 50px;

  &__container {
    background-color: $white;
    box-shadow: $shadow;
    border-radius: 3px;
    padding-bottom: 10px;

  }

  &__content {

    h1 {
      width: 69%;
      margin-top: 32px;
      letter-spacing: 0.02em;
      margin-bottom: 0;
      font-size: 30px;
      text-align: center;
      font-family: $font-bold;
      color: $grey;

    }

    p {
      line-height: 16px;

      margin: 26px 65px 50px 0;
      font-size: 12px;
      color: $grey;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-times-bold;

    h1 {
      font-size: 86px;
    }

  }

  .seasons-krasnodar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 24px;


    &-item {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      font-family: $font-bold;
      font-size: 12px;
      line-height: 28px;
      color: $green-hover;


      &:last-child {
        justify-content: center;

      }

      .active {
        line-height: 18px;
        border-bottom: 2px solid $green;
        color: $green;
      }

      .icon {
        stroke: $green-hover;
        margin-right: 5px;
      }

      .icon-active {
        fill: $green;
        stroke: $green;
      }

      img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }
    }

  }

  .product-cards-krasnodar {


    width: 100%;

    .product-krasnodar-card__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: $shadow;
      border-radius: 3px;
      background-color: $white;
      margin-bottom: 17px;

      &-img {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
          width: 161px;
          height: 122px;
          object-fit: cover;

        }
      }


      &-logo {
        display: flex;
        align-items: center;
        font-family: $font-times-bold;
        justify-content: center;
        font-size: 36px;

        img {
          width: 180px;

        }
      }

      &-title h2 {
        width: 58%;
        font-family: $font-bold;
        font-size: 16px;
        line-height: 20px;
        height: 60px;
        overflow: hidden;
      }

      &-seasons {
        color: $grey;
        font-size: 12px;

        img {
          width: 20px;
          height: 20px;
          padding-right: 5px;

        }

        .item-seasons {
          display: flex;
          align-items: center;

          li {
            display: flex;
            align-items: center;
            margin-right: 10px;

          }
        }

        .radius {
          display: flex;
          margin-top: 7px;


          li {
            margin-right: 8px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;

        button {
          padding: 13px 26px;
        }
      }
    }
  }
}

.user-profile-krasnodar {
  
  &__container {
    background-color: $white;
    box-shadow: $shadow;
    border-radius: 3px;
    padding: 57px 121px;
    



    .row {
      justify-content: space-between;
    }

    &-content:first-child {
      padding-right: 48px;

      .filter-krasnodar-select {


        &:first-child {
          label {
            margin: 0px 0 8px;
          }
        }
      }
    }

    &-content:last-child {
      padding-left: 48px;
    }

  }

  h1 {
    margin: 44px 0;
    font-family: $font-bold;
    font-size: 30px;
  }

  .date-birth__inputs {
    display: flex;

  }

  input {
    background-color: $white-second;
    width: 100%;
    padding-left: 27px;
  }

  label {
    color: $grey;
    font-size: 12px;
    margin-bottom: 5px;
    display: block;

  }

  .select-container__options {
    top: 29.9px;

  }


  .select-container {
    margin-right: 13px;

    input {
      color: $grey;
      border: 1px solid $white;
      background-color: $white-second;
      padding-left: 9px;
      box-shadow: $shadow;
      height: 35px;
    }

    .input-arrow {
      top: 19%;

      &-active {

        top: 11px;
      }

      &-close {
        top: 8px;
      }
    }

  }

  .privacy-policy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-top: 59px;

    .checkbox {
      display: flex;

      span {
        padding-left: 30px;
      }
    }

  }

  button {
    padding: 13px 24px;
    text-transform: uppercase;
  }
}

/* CSS regarding the Checkbox starts from here */
.check_box {
  display: flex;
  position: relative;
}

.check_box input[type="checkbox"] {
  display: none;
}

.check_box label {
  content: '';
  position: absolute;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  border: 0px solid $white-second;
  width: 15px;
  height: 15px;
  transition: all 0.1s ease;
  z-index: 2;
  display: block;
  margin-bottom: 0;
  box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.2);
}

.mob-show {
  display: none;
}

.check_box input[type="checkbox"]:checked~label::after {
  content: '';
  border-radius: 50%;
  background: $green;
  height: 10px;
  width: 10px;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.2);
}

.order-krasnodar-info {
  display: flex;
  flex-direction: column;
  margin: 5px;

  span {
    font-size: 12px;
    color: $grey;
    padding-bottom: 5px;

  }

  p {
    color: $green;
    font-family: $font-bold;
    font-size: 16px;
  }
}

.checkout-krasnodar {

  &-continue {
    font-size: 12px;
    padding: 15px 20px;
    margin-right: 30px;

  }

  .finish {
    display: flex;

    justify-content: flex-end;
    margin-top: 57px;
    .checkout-continue{
      text-transform: uppercase;
    }
  }

  .amount-container {

    margin-right: 116px;

    span {
      color: $grey;
      font-size: 12px;
      font-family: $font;
    }

    p {
      font-size: 20px;
    }
  }

  .page {
    margin: 44px 0;
    padding-left: 0;
    font-family: $font-bold;
    font-size: 30px;
  }

  &-container {
    background: $white;
    box-shadow: $shadow;
    align-items: center;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

  }

  p,
  span {
    color: $green;
    font-family: $font-bold;
  }

  .counter-krasnodar {
    display: flex;
    width: 76%;
    color: $green;
    align-items: center;
    font-family: $font-bold;
    font-size: 12px;
    text-align: center;
    background-color: $white-second;
    border-radius: 5px;
    height: 30px;



    span {
      text-transform: uppercase;
    }

  }

  .delete {
    height: 25px;
    width: 25px;
    cursor: pointer;
    transition: 200ms;

    &:hover {
      background-color: $white-second;
      border-radius: 50%;
    }

  }

  input {
    width: 100%;
    border: none;
    text-align: center;
    color: $green;
    background-color: $white-second;
  }

  h1 {
    font-size: 16px;
    font-family: $font-bold;

  }

  .product-img {
    padding-left: 10px;
    height: 100px;
    width: 100px;
    object-fit: cover;
  }


  .value-button {
    display: inline-block;
    color: $green;
  }

  .value-button:hover {
    cursor: pointer;
  }

  .counter-krasnodar #decrease {
    margin-left: 15px;
    margin-right: 15px;

  }

  .counter-krasnodar #increase {
    margin-left: 15px;
    margin-right: 15px;

  }



  .counter-krasnodar #input-wrap {
    margin: 0;
    padding: 0px;
  }


}

.user-orders-krasnodar {


  h1 {
    margin: 44px 0;
    font-size: 30px;
    font-family: $font-bold;
    letter-spacing: 0.02em;
  }

  &__order {
    box-shadow: $shadow;
    background-color: $white;
    margin-bottom: 11px;
    padding: 22px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    h2 {
      font-family: $font-bold;
      font-size: 16px;
    }


    img {
      width: 25px;
      height: 25px;
    }
  }

  .order-krasnodar {
    margin-bottom: 0;
  }

  &__products {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: $shadow;
    padding: 35px 121px;
    width: 100%;
    background-color: $white;
  }

  .product-krasnodar {
    display: flex;
    margin-bottom: 27px;

    h3,
    p {
      font-family: $font-bold;
      font-size: 16px;
      text-align: center;
      margin: auto;
    }

    h3 {

      margin-right: 67px;
    }

    p {
      color: $green;
      margin-right: 53px;
    }
  }

  .delivery-krasnodar {
    display: flex;
    align-items: center;
    margin-top: 17px;

    .place {
      width: 70%;
    }
  }
}

.order-register-krasnodar {
  .order-krasnodar-info {

    margin: 0;
  }

  .delivery-krasnodar {
    box-shadow: $shadow;
    background-color: $white;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 21px 121px;
    margin-top: 0;

    button {
      padding: 15px 20px;
      margin-left: 74px;
      font-size: 12px;

    }
  }

  .product-krasnodar {
    justify-content: space-between;

    p,
    h3 {
      margin: 0;
    }

  }

  input {
    background-color: $white-second;
    width: 100%;
    padding-left: 27px;
  }

  .select-container__options {
    top: 60px;
  }

  .select-container .input-arrow {
    top: 25px;
    bottom: 0;
  }

  .select-container .input-arrow-active {
    top: 33px;
  }

  .payment_method {
    margin-top: 41px;
  }



}

.brands-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 64px;
  justify-content: center;



  .brand-card-krasnodar {
    margin-top: 0;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 0 5px;
    background-color: $white;
    box-shadow: $shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    width: 128px;
    height: 128px;
    border-radius: 3px;

    img {
      height: auto;
      width: 100%;
      display: block;

    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333333;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}

.filter-krasnodar-select input {
  width: 100%;
}

.nav-container{
  background-color: $green;
  padding: 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

  .navigation{
    display: flex;
    align-items: center;
    height: 35px;
    padding-left: 2px;
    li{
      padding-right: 20px;
    }
  }
  
  a{
    color: $white;
    font-family: $font;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .3ms ease-in ;
    font-size: 12px;

    &:hover{
      border-bottom: 1px solid $white;
    }
  }

}
