@media screen and (max-width: 1024px) {

    .filter-title h1 {
        font-size: 20px;
      
    }
    .header-menu {
        .menu-content {
            margin-right: 0;
        }

        .logo {
            display: flex;

            .header-menu {
                font-size: 12px !important;
            }
        }
    }
    .filter-background {
        background:linear-gradient(90deg, #ED1C24 17%, rgba(255, 0, 0, 0) 17%);
            }
            .menu-content {
                margin-right: 0;
            }
            .select-container{
                padding-left: 15px;
                margin: 30px 0;
            }
            .filter .button {
                margin: 15px 0 0 10px;
            }
}

@media screen and (max-width: 768px) {

    .filter-background {
background:linear-gradient(90deg, #ED1C24 17%, rgba(255, 0, 0, 0) 17%);
    }
    .menu-content {
        margin-right: 0;
    }
    .select-container{
        padding-left: 15px;
        margin: 30px 0;
    }
    .filter .button {
        margin: 15px 0 0 10px;
    }

}

@media screen and (max-width: 520px) {
    .mob-d-none {
        display: none !important;
    }

    .menu-content {
        margin-right: 0;
    }
    .header {
        .menu-content__basket>li:first-child{
            span{
                margin-left: 0;
            }
        }
    }

    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a>span{
            
                font-size: 21px;
            
        }

        .header-menu__phone {
            display: block;
            svg {
                width: 16px;
                height: 16px;
            }

            li>a>span {
                font-size: 12px !important;
            }

        }
    }
    .menu-content__basket{
        margin-top: 10px !important;
    }
    .header-menu{
        margin-top: 10px;

    }
    .search{
        align-items: center;
        h2{
            font-size: 18px;
        }
        .select{
            width: 65%;
            height: 36px;
            font-size: 13px;
            
            &-styled::after{
                padding: 4px;
            }
        }
    }
    .filter {
        &-select{
            
            margin: 5px 0 ;
        }
        &-background {
            background:linear-gradient(90deg, #ED1C24 31%, rgba(255, 0, 0, 0) 20%);
                }
        .select-container{
            flex-direction: column;
            padding-left: 10px;
            margin-top: 15px;
        }
        .button{
            margin: 10px 0 10px 0;
        }
    }




}
@media screen and (max-width: 320px) {

    .mob-d-none {
        display: none !important;
    }
    .menu-content {
        margin-right: 0;
    }

    .header-menu{
        margin-top: 10px;
    }
    .search{
        align-items: center;
        h2{
            font-size: 18px;
        }
        .select{
            width: 100%;
            height: 33px;
            font-size: 12px;
            
            &-styled::after{
                border: none;
            }
        }
    }


    .header-menu  {
        font-size: 10px;
    }






}