@media screen and (max-width: 1640px) {
    .modal.buy-fast {
        width: 51.89%;

    }
}

@media screen and (max-width: 1366px) {
    .modal.buy-fast {
        width: 60%;

    }
}

@media screen and (max-width: 1200px) {
    .modal.buy-fast {
        width: 65%;

    }
}



@media screen and (max-width: 1024px) {
    .logo img {
        width: 220px;
    }

    .product-container {

        padding: 0;
    }

    .filter-krasnodar-title h1 {
        font-size: 24px;

    }

    .filter-krasnodar .select-containers {
        padding-left: 15px;
    }

    .header-krasnodar-menu {
        .menu-krasnodar-content {
            margin-right: 0;
        }

        .logo {
            display: flex;

            .header-krasnodar-menu {
                font-size: 12px !important;
            }
        }
    }


    .filter-krasnodar-background {
        background: linear-gradient(90deg, $green 17%, rgba(255, 0, 0, 0) 17%);
    }

    .menu-content {
        margin-right: 0;
    }

    .select-containers {

        margin: 30px 0;
    }

    .filter-krasnodar .button {
        margin: 15px 20px 0 10px;
    }

    .slider-krasnodar {
        &-text {
            h1 {
                font-size: 45px;

                svg {
                    width: 40px;
                    height: 40px;
                }
            }

            p {
                font-size: 20px;
            }
        }

        &-button {
            bottom: 20%;
        }
    }

    .one-product {
        .attention-price .icon-attenition {

            margin-left: 18px;
        }
    }

    .about-brand__logo h1 {
        font-size: 55px;
    }



    .checkout .product-img {
        height: auto;
        width: 100%;

    }

    .user-orders__products {
        padding: 35px 50px;

        .product {}
    }

    .user-orders .delivery .place {
        width: 80%;
    }

    .order-register .delivery {
        padding: 21px 50px;
    }

    .product-container {

        margin-top: 0;


    }

    .modal .counter {
        background-color: $white-second;
        width: 100%;
        float: right;
    }

    .modal.buy-fast .product-img {


        img {
            width: 100%;
            height: auto;
        }
    }

    .modal.buy-fast .order-price {
        margin-right: 0;
        padding-left: 28px;
        padding-right: 28px;
    }

    .modal .modal-title {
        padding: 30px 28px;

    }

    .modal.buy-fast {
        margin-top: 50px;
        height: auto;
        overflow: scroll;
        width: 54.89%;

    }

    .modal.register {
        width: 35%;
        height: auto;
    }

    .modal-container {
        padding: 42px 28px 0;
    }

    .modal.success,
    .modal.attention {
        width: 36%;
    }
}

@media screen and(max-width: 992px) {
    .about-brand__content {
        padding: 0 20px;

        h1 {
            width: 100%;
        }
    }

    .about-brand__logo {
        margin-top: 50px;
    }
}

@media screen and(max-width: 930px) {
    .modal {
        &.buy-fast {
            .product-container {
                flex-direction: column;

                .product-img {

                    top: 0;
                }
            }

            .checkout-item {
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {


    .modal.success,
    .modal.attention {
        width: 45%;
    }

    .modal.register {
        width: 45%;
    }

    .modal.buy-fast {
        width: 70%;
    }

    .order-register .delivery {
        padding: 21px 50px;
    }

    .order-register .delivery button {
        padding: 15px 20px;
        margin-left: 0;
        font-size: 12px;
        width: 80%;
        margin: auto;
        margin-top: 15px;
    }

    .one-product {

        .product-options {
            flex-direction: column;

            table {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
    }

    .delivery {
        .order-info span {
            font-size: 8px;

        }

        .order-info p {
            font-size: 10px;
        }
    }

    .user-orders__order {

        h2,
        p {
            font-size: 12px;
        }

        .order-info span {
            font-size: 9px;

        }
    }

    .user-orders__products {
        padding: 35px 50px;

        .product {

            h3,
            p {
                font-size: 12px;
            }
        }
    }

    .slider-krasnodar {
        &-text {
            top: 15%;

            h1 {
                font-size: 45px;

                svg {
                    width: 40px;
                    height: 40px;
                }
            }

            p {
                font-size: 20px;
            }
        }

        &-button {
            button {
                font-size: 10px;
                padding: 8px 22px;
            }
        }
    }

    .filter-krasnodar-background {
        background: linear-gradient(90deg, $green 17%, rgba(255, 0, 0, 0) 17%);
    }

    .menu-content {
        margin-right: 0;
    }

    .select-containers {

        margin: 30px 0;
    }

    .filter-krasnodar .button {
        margin: 15px 20px 0 10px;
    }

    .article-krasnodar-container {
        .article-krasnodar-text {
            margin-left: 0;
        }

        h2,
        p {
            padding: 20px;
        }

        h2 {
            padding-bottom: 0;
            margin-bottom: 0;
        }

        p {
            margin-bottom: 20px;
        }

        &-img {
            img {
                border-bottom-right-radius: 3px;
                border-top-right-radius: 0;
                border-bottom-left-radius: 3px;
            }

            padding: 0;


        }
    }

    .model {
        &-brend__logo {
            font-size: 60px;
            justify-content: center;

            svg {
                height: 50px;
                width: 50px;
            }
        }
    }

    .header-krasnodar {
        height: auto;


        .h-80 {
            height: auto;
        }

        &-menu {
            margin-bottom: 10px;

        }
    }

    .about-brand .seasons {
        display: flex;
        flex-direction: row;
        flex-wrap:wrap ;
        justify-content: start;

        .seasons-item {
            width: 50%;
            margin: 5px 0;

            &:last-child {
                justify-content: start;
            }
        }

    }

    .about-brand .product-cards {
        .product-card__item {
            &-title h2 {
                width: 100%;
                text-align: center;
                height: auto !important;
            }

            &-seasons {
                margin: 20px 0;
                padding-left: 10px;

            }
        }
    }

    .user-profile .select-container__options {
        top: 28.9px;
    }

    .user-profile__container-content:first-child {
        padding-right: 0;
    }

    .user-profile__container-content:last-child {
        padding-left: 0;
    }

    .date-birth {
        margin-top: 25px;
    }

    .date-birth__inputs {

        .select-container:last-child {

            margin-right: 0;
        }
    }


    .checkout-item {
        margin-bottom: 10px;
    }





}

@media screen and (max-width: 520px) {
    .container {
        padding: 0;
    }

    .search-car-by {
        flex-direction: column;

        .filter-krasnodar-select {
            width: 100% !important;
        }
    }

    .catalog-krasnodar {

        .row {
            margin-left: -7.5px;
            margin-right: -7.5px;

        }

        .card-krasnodar {

            &-content {
                padding: 10px 9px 0;
            }

            img {
                height: auto;
            }

            &-content__title {
                font-size: 14px;
                height: 66px;

            }

            &-content__price {
                font-size: 18px;
            }

            &-content-in__stock {
                font-size: 10px;
            }

            &-content__buttons {
                flex-wrap: wrap;
                justify-content: center;
            }

            button {
                width: fit-content;
            }

            &-content__price {
                margin: 0px 0 8px;
            }

            .btn-to-cart {
                margin-top: 9px;
            }
        }

    }

    .header-krasnodar-menu .menu-krasnodar-content {
        flex-direction: row;
        font-size: 10px;
        width: 100%;
        align-items: center;
        padding-top: 0;

    }

    .header-krasnodar .menu-krasnodar-content__basket {
        width: 90%;

        span {
            margin-right: 5px;
            padding: 5px 8px;
        }
    }

    .filter-krasnodar-title__img img {
        height: auto;
    }

    .modal {
        width: 86% !important;

        .modal.buy-fast .person-data {
            width: 100%;
            padding-bottom: 0;
        }
    }

    .modal h3 {
        font-size: 18px !important;

    }

    .modal.buy-fast h3 {

        margin-left: 0;
    }

    .summa {
        p {
            margin: 0;

        }
    }

    .modal.buy-fast .product-title {

        width: 75%;

    }

    .modal-container {
        margin-left: 0;
        padding: 17px;
    }

    .modal .modal-title {
        padding: 30px 17px;
    }

    .modal.buy-fast .order-price .summa p {

        font-size: 18px;

    }

    .modal.buy-fast .order-price {
        padding-left: 17px;
        padding-right: 17px;
    }

    .order-register .delivery {
        padding: 21px 20px;
    }

    .user-orders {
        .order-info {
            margin: 10px 0;
        }

        &__products {
            justify-content: space-between;


            padding: 35px 20px;

            .product {

                h3 {
                    margin-right: 50px;
                    width: 41%;
                }

                p {
                    margin-right: 0;

                    &:last-child {
                        margin-left: 30px;
                    }
                }
            }
        }

        &__order {
            padding: 20px;


            .row {


                &>div {
                    display: flex;
                    justify-content: flex-start;
                }
            }
        }
    }

    .user-orders .delivery {
        align-items: flex-start;
        flex-direction: column;
    }

    .finish {
        justify-content: space-between !important;

        .checkout-continue {
            margin: 0;
        }

        .amount-container {
            margin: 0;
        }
    }

    .mob-show {
        display: block;
    }

    .checkout-buttons {
        display: flex;
        width: 100%;
        padding: 10px 15px;
        justify-content: space-between;
        align-items: center;

        .counter {
            width: 100%;
        }

        .checkout-item {
            display: block;
            margin: auto;


            &:first-child {
                margin-left: 30px;
            }

            .delete {
                margin: auto;
            }
        }
    }

    .checkout-item {
        h1 {
            padding: 0 20px;
        }

        &-price {
            order: 1;
            padding: 0 20px 15px;
        }

        &-counter {
            display: inline-block !important;
        }

        &-delete {
            display: inline-block !important;

        }
    }

    .user-profile .privacy-policy .checkbox span {
        padding-left: 20px;
    }

    .user-profile__container {
        padding: 40px 17px;
    }


    .about-brand__content{
        h1 {
            width: 100%;
            font-size: 25px;
            margin-top: 0;
            text-align: left;
            padding-left: 16px;
        }

        p {
            margin: 0;
            padding: 20px 0 28px;
        }

    }
    .about-brand__logo{
        margin: 100px 0 80px;
    }

    .seasons {
        .seasons-item:last-child {
            justify-content: start;
        }
    }

    .about-brand .product-cards {
        .product-card__item {


            &-img img {
                height: auto;
                width: 100%;
                justify-content: center;
            }

            &-title h2 {

                text-align: left;
                width: 100%;
                padding: 10px 25px;
                height: auto !important;
            }

            &-seasons {
                margin: 20px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                


            }

            &-logo {

                padding: 0 25px;
                margin-bottom: 30px;
            }

            .button {

                margin-bottom: 30px;


            }
        }

    }


    .select-container {

        flex-direction: column;

        span {
            margin-bottom: 6px;
        }


    }

    .header-krasnodar-menu__phone li img {
        width: auto;
        height: 27px;

    }


    .model {

        &-content {
            padding-left: 10px;
        }

        &-items {
            flex-direction: column;
        }

        &-brend__logo {
            font-size: 50px;
            justify-content: center;
            margin: 10px 0;

            svg {
                height: 30px;
                width: 30px;
            }
        }
    }

    .one-product-container {


        h2 {
            font-size: 22px;
        }

        .buy-product {
            margin-top: 10px;

            p {
                margin-top: 10px;
            }

        }

        .buy-product__buttons {
            button {
                margin: 0;
                margin-top: 10px;
            }
        }
    }

    .icon-attenition {
        margin-left: 0 !important;
        width: 60px;

    }

    .attention-price>div {
        padding-left: 0;
    }

    .mob-d-none {
        display: none !important;
    }

    .menu-content {
        margin-right: 0;
    }

    .header-krasnodar .menu-krasnodar-content__basket li a {
        display: flex;
        align-items: center;
    }

    .header-krasnodar-menu__user {

        width: 100%;
    }

    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;

        a>span {

            font-size: 19px;

        }


        .header-krasnodar-menu__phone {
            display: flex;
            justify-content: flex-end;

            li>a>span {
                font-size: 12px;
            }

        }
    }

    .menu-content__basket {
        margin-top: 10px !important;
    }

    .header-krasnodar-menu {
        margin-top: 0;

    }

    .search-krasnodar {
        align-items: center;
        flex-wrap: nowrap;
        margin-top: 30px;
        margin-bottom: 20px;

        h2 {
            font-size: 18px;
            width: 46%;
            line-height: 28px;

        }

        .select {
            width: 65%;
            height: 36px;
            font-size: 13px;

            &-styled::after {
                padding: 4px;
            }
        }
    }

    .logo img {
        width: 249px;
    }

    .filter-krasnodar {
        &-select {
            margin-bottom: 10px;
            font-size: 12px;
        }

        &-background {
            background: linear-gradient(90deg, $green 31%, rgba(255, 0, 0, 0) 20%);
        }

        .select-containers {
            margin-top: 15px;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 29px;

            .filter-krasnodar-select {
                margin-right: 0;
                width: 38%;
                padding: 0;

                label {
                    width: 78%;
                    line-height: 22px;
                }


            }

        }

        .button {
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }

    .select-modifaction {
        .select-container {

            input {
                width: auto;
            }
        }
    }


    .select-container__options {
        font-size: 12px;
    }

    .input-select {
        font-size: 12px;

    }


    .select-container {
        justify-content: space-between;

        input {

            padding: 10px 10px;
        }

        .input-arrow {
            top: 13%;
            padding: 4px;
        }

        .input-arrow-active {
            transform: rotate(-180deg);
            transition: all 0.2s ease-in-out;
            top: 9px;
        }
    }

    .filter-krasnodar .select-containers .input-arrow {
        top: 4px;
    }

    .filter-krasnodar .select-containers .input-arrow-active {
        top: 9px;
    }


    .swiper-slide img {
        height: 150px;
    }





    .footer-kransodar {
        padding-left: 44px;

        &-socials {

            margin-top: 28px;

            li:last-child {
                margin-right: 0;
            }
        }

        &-contacts {
            margin-top: 28px;
        }

        .copyright {
            margin-top: 16px;
        }



        &-items {


            li {

                margin: auto;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

    }

    .footer-kransodar-contacts li svg {
        margin-right: 4px;
    }


    .slider-krasnodar {
        .row {
            margin: 0 -15px;
        }

        &-text {
            top: 32%;
            left: 5%;

            h1 {
                font-size: 18px;

                img {
                    height: 18px;
                    width: auto;
                }
            }

            p {
                font-size: 18px;
            }
        }

        .slider-krasnodar-button {

            bottom: 10%;

            button {
                font-size: 9px;
                padding: 8px 20px;

            }
        }



        .swiper-pagination {
            position: absolute;
            bottom: 10px !important;

            span {
                border: 1px solid $white;
            }
        }

        .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0px 14px;
        }
    }

    .article-krasnodar-container h2 {
        font-size: 24px;
    }

    .article-krasnodar-container p {
        font-size: 12px;
    }

    .card-krasnodar img {
        height: 239px;
    }





}

@media screen and (max-width: 320px) {
    .slider-krasnodar-text h1 img {
        height: 10px;
        width: auto;
    }

    .user-orders__products .product h3 {
        margin-right: 10px;

    }

    .user-profile .privacy-policy {
        flex-direction: column;

        button {
            margin-top: 20px;
        }
    }

    .user-profile .date-birth__inputs {

        flex-direction: column;

        input {
            width: 100%;
        }
    }

    .user-profile .select-container {
        margin-right: 0;
    }

    .select-container>.position-relative {
        width: 100%;
    }

    .header-krasnodar-menu__phone {
        li>a>span {
            font-size: 10px !important;
        }

    }

    .buy-product {
        flex-direction: column-reverse;

        &__buttons {
            margin-bottom: 10px;
        }
    }

    .mob-d-none {
        display: none !important;
    }

    .menu-content {
        margin-right: 0;
    }

    .header-krasnodar-menu {
        margin-top: 10px;
    }

    .search-krasnodar {
        align-items: center;

        h2 {
            font-size: 18px;
        }

        .select {
            width: 100%;
            height: 33px;
            font-size: 12px;

            &-styled::after {
                border: none;
            }
        }
    }


    .header-krasnodar-menu {
        font-size: 10px;
    }

    .slider-krasnodar-button {
        display: none;
    }






}