@media screen and (max-width: 1366px){
    .summa{
        flex-direction: column;

        p{
            margin: 10px 0;
        }
    }
    .product-container{
        flex-direction: column;

        padding: 0 54px;
    }
    .modal.buy-fast .order-price{
        padding: 0;
    }
    
}
@media screen and (max-width: 1700px){
    .summa{
        flex-direction: column;

        p{
            margin: 10px 0;
        }
    }
    
}
@media screen and (max-width: 1024px) {
    .product-container {

        padding: 0;
    }

    .filter-title h1 {
        font-size: 20px;

    }

    .header-menu {
        .menu-content {
            margin-right: 0;
        }

        .logo {
            display: flex;

            .header-menu {
                font-size: 12px !important;
            }
        }
    }

    .filter-background {
        background: linear-gradient(90deg, #ED1C24 17%, rgba(255, 0, 0, 0) 17%);
    }

    .menu-content {
        margin-right: 0;
    }

    .select-containers {
        padding-left: 15px;
        margin: 30px 0;
    }

    .filter .button {
        margin: 15px 20px 0 10px;
    }

    .slider {
        &-text {
            h1 {
                font-size: 45px;

                svg {
                    width: 40px;
                    height: 40px;
                }
            }

            p {
                font-size: 20px;
            }
        }

        &-button {
            bottom: 20%;
        }
    }

    .one-product {
        .attention-price .icon-attenition {

            margin-left: 18px;
        }
    }

    .about-brand__logo h1 {
        font-size: 55px;
    }

    .about-brand__logo img {
        height: 50px;
        width: 50px;
    }

    .checkout .product-img {
        height: auto;
        width: 100%;

    }

    .user-orders__products {
        padding: 35px 50px;

        .product {}
    }

    .user-orders .delivery .place {
        width: 80%;
    }

    .order-register .delivery {
        padding: 21px 50px;
    }

    .product-container {
        flex-direction: column;


    }

    .modal .counter {
        background-color: #f5f7ff;
        width: 100%;
        float: right;
    }

    .modal.buy-fast .product-img {


        img {
            width: 100%;
            height: auto;
        }
    }

    .modal.buy-fast .order-price {
        margin-right: 0;
        padding-left: 28px;
        padding-right: 28px;
    }

    .modal .modal-title {
        padding: 30px 28px;

    }

    .modal.buy-fast {
        height: 80vh;
        overflow: scroll;

    }

    .modal.register {
        width: 35%;
        height: auto;
    }

    .modal-container {
        padding: 42px 28px;
    }
    .modal.success,
    .modal.attention{
        width: 36%;
    }
}

@media screen and (max-width: 768px) {

    .modal.success,
    .modal.attention{
        width: 45%;
    }

    .modal.register {
        width: 45%;
    }

    .modal.buy-fast {
        width: 70%;
    }

    .order-register .delivery {
        padding: 21px 50px;
    }

    .order-register .delivery button {
        padding: 15px 20px;
        margin-left: 0;
        font-size: 12px;
        width: 80%;
        margin: auto;
        margin-top: 15px;
    }

    .one-product {

        .product-options {
            flex-direction: column;

            table {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
    }

    .delivery {
        .order-info span {
            font-size: 8px;

        }

        .order-info p {
            font-size: 10px;
        }
    }

    .user-orders__order {

        h2,
        p {
            font-size: 12px;
        }

        .order-info span {
            font-size: 9px;

        }
    }

    .user-orders__products {
        padding: 35px 50px;

        .product {

            h3,
            p {
                font-size: 12px;
            }
        }
    }

    .slider {
        &-text {
            top: 15%;

            h1 {
                font-size: 45px;

                svg {
                    width: 40px;
                    height: 40px;
                }
            }

            p {
                font-size: 20px;
            }
        }

        &-button {
            button {
                font-size: 10px;
                padding: 8px 22px;
            }
        }
    }

    .filter-background {
        background: linear-gradient(90deg, #ED1C24 17%, rgba(255, 0, 0, 0) 17%);
    }

    .menu-content {
        margin-right: 0;
    }

    .select-containers {
        padding-left: 15px;
        margin: 30px 0;
    }

    .filter .button {
        margin: 15px 20px 0 10px;
    }

    .article-container {
        .article-text {
            margin-left: 0;
        }

        h2,
        p {
            padding: 20px;
        }

        h2 {
            padding-bottom: 0;
            margin-bottom: 0;
        }

        p {
            margin-bottom: 20px;
        }

        &-img {
            img {
                border-bottom-right-radius: 3px;
                border-top-right-radius: 0;
                border-bottom-left-radius: 3px;
            }

            padding: 0;


        }
    }

    .model {
        &-brend__logo {
            font-size: 60px;
            justify-content: center;

            svg {
                height: 50px;
                width: 50px;
            }
        }
    }

    .header {
        height: auto;


        .h-80 {
            height: auto;
        }

        &-menu {
            margin-bottom: 10px;

        }
    }

    .seasons {
        .seasons-item:last-child {
            justify-content: center;
        }
    }

    .product-card__item {
        &-title h2 {
            width: 100%;
            text-align: center;
            height: auto !important;
        }

        &-seasons {
            margin: 20px 0;
            padding-left: 10px;

        }
    }

    .user-profile .select-container__options {
        top: 28.9px;
    }

    .user-profile__container-content:first-child {
        padding-right: 0;
    }

    .user-profile__container-content:last-child {
        padding-left: 0;
    }

    .date-birth {
        margin-top: 25px;
    }

    .date-birth__inputs {

        .select-container:last-child {

            margin-right: 0;
        }
    }


    .checkout-item {
        margin-bottom: 10px;
    }





}

@media screen and (max-width: 520px) {
    .modal {
        width: 86% !important;
    }

    .modal h3 {
        font-size: 16px !important;
        margin-left: 15px;
    }

    .modal.buy-fast h3 {

        margin-left: 0;
    }

    .summa {
        flex-direction: column;

        p {
            margin: 15px 0;
            justify-content: center;
        }
    }

    .modal.buy-fast .product-title {

        width: 75%;

    }

    .modal-container {
        margin-left: 0;
    }

    .modal .modal-title {
        padding: 30px 17px;
    }

    .modal.buy-fast .order-price .summa p {

        font-size: 15px;

    }

    .modal.buy-fast .order-price {
        padding-left: 17px;
        padding-right: 17px;
    }

    .order-register .delivery {
        padding: 21px 20px;
    }

    .user-orders {
        .order-info {
            margin: 10px 0;
        }

        &__products {
            justify-content: space-between;


            padding: 35px 20px;

            .product {

                h3 {
                    margin-right: 50px;
                    width: 41%;
                }

                p {
                    margin-right: 0;

                    &:last-child {
                        margin-left: 30px;
                    }
                }
            }
        }

        &__order {
            padding: 20px;


            .row {


                &>div {
                    display: flex;
                    justify-content: flex-start;
                }
            }
        }
    }

    .user-orders .delivery {
        align-items: flex-start;
        flex-direction: column;
    }

    .finish {
        justify-content: space-between !important;

        .checkout-continue {
            margin: 0;
        }

        .amount-container {
            margin: 0;
        }
    }

    .mob-show {
        display: block;
    }

    .checkout-buttons {
        display: flex;
        width: 100%;
        padding: 10px 15px;
        justify-content: space-between;
        align-items: center;

        .counter {
            width: 100%;
        }

        .checkout-item {
            display: block;
            margin: auto;


            &:first-child {
                margin-left: 30px;
            }

            .delete {
                margin: auto;
            }
        }
    }

    .checkout-item {
        h1 {
            padding: 0 20px;
        }

        &-price {
            order: 1;
            padding: 0 20px 15px;
        }

        &-counter {
            display: inline-block !important;
        }

        &-delete {
            display: inline-block !important;

        }
    }

    .user-profile .privacy-policy .checkbox span {
        padding-left: 20px;
    }

    .user-profile__container {
        padding: 40px 17px;
    }

    .about-brand__content h1 {
        width: 100%;
        font-size: 25px;
        margin-top: 0;
    }

    .about-brand__content p {
        margin: 0;
        padding: 20px 25px;
    }

    .seasons {
        .seasons-item:last-child {
            justify-content: start;
        }
    }

    .about-brand .product-cards {
        .product-card__item {


            &-img img {
                height: auto;
                width: 100%;
                justify-content: center;
            }

            &-title h2 {

                text-align: left;
                width: 100%;
                padding: 10px 25px;
                height: auto !important;
            }

            &-seasons {
                margin: 20px 0;
                padding: 10px 25px;

            }

            &-logo {
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 20px;
                justify-content: flex-start;
                padding: 0 25px;
            }

            .button {
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 20px;
                justify-content: flex-start;

            }
        }

    }


    .select-container {
        margin-top: 10px;

        span {
            display: none;

        }
    }

    .header-menu__phone li img {
        width: 10px;
        height: 10px;
        margin-right: 0;
    }


    .model {

        &-content {
            padding-left: 10px;
        }

        &-items {
            flex-direction: column;
        }

        &-brend__logo {
            font-size: 50px;
            justify-content: center;
            margin: 10px 0;

            svg {
                height: 30px;
                width: 30px;
            }
        }
    }

    .one-product-container {


        h2 {
            font-size: 22px;
        }
        .buy-product{
            margin-top: 10px;
            p{
                margin-top: 10px;
            }

        }

        .buy-product__buttons {
            button {
                margin: 0;
                margin-top: 10px;
            }
        }
    }

    .icon-attenition {
        margin-left: 0 !important;
        width: 60px;

    }

    .attention-price>div {
        padding-left: 0;
    }

    .mob-d-none {
        display: none !important;
    }

    .menu-content {
        margin-right: 0;
    }

    .header {
        .menu-content__basket>li:first-child {
            span {
                margin-left: 0;
            }
        }
    }

    .header-menu__user {
        margin-bottom: 10px;
    }

    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;

        a>span {

            font-size: 19px;

        }


        .header-menu__phone {
            display: flex;
            justify-content: flex-end;

            li>a>span {
                font-size: 12px;
            }

        }
    }

    .menu-content__basket {
        margin-top: 10px !important;
    }

    .header-menu {
        margin-top: 10px;

    }

    .search {
        align-items: center;

        h2 {
            font-size: 18px;
        }

        .select {
            width: 65%;
            height: 36px;
            font-size: 13px;

            &-styled::after {
                padding: 4px;
            }
        }
    }

    .filter {
        &-select {
            margin-bottom: 10px;
            font-size: 12px;
        }

        &-background {
            background: linear-gradient(90deg, #ED1C24 31%, rgba(255, 0, 0, 0) 20%);
        }

        .select-containers {
            flex-direction: column;
            padding-left: 10px;
            margin-top: 15px;
        }

        .button {
            margin: 10px 0 10px 0;
        }
    }

    .select-modifaction {
        .select-container {

            input {
                width: auto;
            }
        }
    }

    .filter .select-containers .filter-select {
        margin-right: 0;
        width: 100%;
        padding: 0 15px;
    }

    .select-container__options {
        font-size: 12px;
    }

    .input-select {
        font-size: 12px;

    }


    .select-container {
        justify-content: space-between;

        input {

            padding: 10px 10px;
        }

        .input-arrow {

            padding: 4px;
        }
    }





    .footer {
        &-socials {
            justify-content: center;
            margin-top: 20px;

            li:last-child {
                margin-right: 0;
            }
        }

        p {
            text-align: center;
        }

        &-items {
            text-align: center;

            li {
                display: block;
                margin: auto;
            }
        }

    }

    .slider {
        &-text {
            h1 {
                font-size: 18px;

                svg {
                    width: 15px;
                    height: 15px;
                }
            }

            p {
                font-size: 13px;
            }
        }

        .slider-button {

            bottom: 10%;

            button {
                font-size: 9px;
                padding: 8px 20px;

            }
        }



        .swiper-pagination {
            position: static;

            span {
                border: 1px solid rgba(0, 0, 0, 0.3);
            }
        }

        .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0px 4px;
        }
    }

    .article-container h2 {
        font-size: 20px;
    }

    .article-container p {
        font-size: 12px;
    }

    .card img {
        height: 239px;
    }





}

@media screen and (max-width: 320px) {
    .user-orders__products .product h3 {
        margin-right: 10px;

    }

    .user-profile .privacy-policy {
        flex-direction: column;

        button {
            margin-top: 20px;
        }
    }

    .user-profile .date-birth__inputs {

        flex-direction: column;

        input {
            width: 100%;
        }
    }

    .user-profile .select-container {
        margin-right: 0;
    }

    .select-container>.position-relative {
        width: 100%;
    }

    .header-menu__phone {
        li>a>span {
            font-size: 10px !important;
        }

    }

    .buy-product {
        flex-direction: column-reverse;

        &__buttons {
            margin-bottom: 10px;
        }
    }

    .mob-d-none {
        display: none !important;
    }

    .menu-content {
        margin-right: 0;
    }

    .header-menu {
        margin-top: 10px;
    }

    .search {
        align-items: center;

        h2 {
            font-size: 18px;
        }

        .select {
            width: 100%;
            height: 33px;
            font-size: 12px;

            &-styled::after {
                border: none;
            }
        }
    }


    .header-menu {
        font-size: 10px;
    }

    .slider-button {
        display: none;
    }






}