// Colors
$red: #ed1c24;
$red-hover: #ca1118;
$black: #000;
$grey: #5a5a5a;
$white: #ffffff;
$white-second: #f5f7ff;
$font: "Open Sans Regular";
$font-bold: "Open Sans Bold";
$font-semi-bold: "Open Sans SemiBold";
$font-noto-bold: "Noto Sans Bold";
$background: #e74c3c;
$select-color: #fff;
$select-background: #c0392b;
$select-width: 220px;
$select-height: 40px;
$font-times-bold: "Times New Roman Bold";
$shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  color: $black;
  background-color: $white-second;
}

button {
  display: inline-block;
}

button:active,
button,
:focus {
  outline: none;
  border: none;
}

a {
  color: $black;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  height: auto;
  width: 100%;
  display: block;
}
.moile-show{
  display: none;
}
button{
  font-size: 12px;
}
@font-face {
  font-family: "Times New Roman Bold";
  src: url("../fonts/TimesNewRoman-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans Bold";
  src: url("../fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans SemiBold";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

