.cases-list {
  margin-top: 100px;

  h2 {
    margin-bottom: 80px;

    @include mobile{
      margin-bottom: 40px;
    }
  }
  &__block {
    width: 80%;
    position: relative;

    @include mobile {
      width: 95%;
      margin-bottom: 40px;
    }
    h3 {
      font-size: 20px;
    }

    p {
      font-size: 18px;

      @include mobile {
        font-size: 16px;
      }
    }

    &_1 {
      position: absolute;
      top: -90px;
      right: -200px;
      width: 300px;

      @include laptop {
        width: 250px;
      }

      @include mobile {
        display: none;
      }
    }

    &_2 {
      position: absolute;
      top: -130px;
      right: -270px;
      width: 300px;

      @include laptop {
        width: 260px;
      }
      @include netbook {
        display: none;
      }

      @include mobile {
        display: none;
      }
    }

    &_3 {
      position: absolute;
      bottom: -300px;
      right: -120px;
      width: 320px;

      @include laptop {
        width: 280px;
        bottom: -270px;
      }

      @include netbook {
        bottom: 0;
      }

      @include mobile {
        display: none;
      }
    }

    &_4 {
      position: absolute;
      bottom: -200px;
      left: -180px;
      width: 340px;

      @include laptop {
        width: 260px;
      }

      @include netbook {
        transform: rotate(254deg);
        right: -120px;
        bottom: -180px;
        left: inherit;
        width: 220px;
      }

      @include mobile {
        display: none;
      }
    }

    &_5 {
      position: absolute;
      bottom: -120px;
      left: -90%;
      width: 320px;

      @include laptop {
        width: 270px;
        left: -95%;
      }

      @include mobile {
        display: none;
      }

      @include netbook {
        left: inherit;
        right: -100px;
        bottom: -120px;
        transform: rotateY(180deg);
      }
    }

    &_6 {
      position: absolute;
      bottom: -380px;
      left: 0;
      width: 470px;

      @include laptop {
        width: 350px;
        left: -40px;
        bottom: -350px;
      }

      @include netbook {
        transform: rotateY(180deg);
        bottom: -300px;
      }

      @include mobile {
        display: none;
      }
    }
  }
}

.reviews {
  position: relative;
  z-index: 5;
  &__block {
    display: flex;
    flex-direction: column;
  }
  &__card {
    background-color: #fff;
    border-radius: 16px;
    padding: 25px 40px;
    margin-bottom: 40px;

    @include mobile {
      padding: 10px 15px;
      margin-bottom: 20px;
    }
    &_title {
      display: flex;
      justify-content: space-between;

      @include mobile {
        flex-direction: column;
      }
    }

    &_user {
      display: flex;
      align-items: center;
    }

    &_img {
      width: 60px;
      object-fit: contain;

      @include mobile {
        width: 40px;
      }
    }

    &_name {
      margin-left: 20px;
      h5 {
        font-size: 26px;
      }

      @include mobile {
        margin-left: 12px;

        h5 {
          font-size: 18px;
        }
      }
    }

    &_star {
      display: flex;
      align-items: center;

      @include mobile {
        margin-top: 15px;
      }

      span {
        display: inline-block;
        margin-left: 15px;
        width: 24px;

        @include mobile {
          width: 18px;
          margin-left: 0px;
          margin-right: 8px;
        }
      }
    }

    &_text {
      margin: 30px 0;

      @include mobile {
        p {
          font-size: 16px;
        }
      }
    }
  }

  &__more {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    a {
      display: inline-block;
      width: 60px;
    }

    @include mobile {
      margin: 20px 0;
      a {
        width: 40px;
      }
    }
  }

  &__add {
    margin: 40px 0;
    textarea {
      height: 150px;
    }
  }
}
