.team {
  padding-top: 60px;

  &-title {
    h1 {
      margin-bottom: 40px;
    }

    &__img {
      position: absolute;
      top: 230px;
      left: -150px;
      width: 360px;

      @include mobile {
        width: 200px;
        left: -100px;
      }
    }
  }
  &__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__card {
    width: 28%;
    max-width: 435px;
    position: relative;
    z-index: 5;
    background-color: #fff;
    margin-bottom: 80px;

    @include laptop {
      width: 30%;
    }

    @include netbook {
      width: 45%;
      max-width: 350px;
    }

    @include mobile {
      width: 100%;
      max-width: 100%;
      margin-bottom: 30px;
    }

    &_img {
      padding-top: 80px;
      img {
        /* height: 425px; */
        object-fit: cover;
      }

      @include mobile {
        padding-top: 40px;
      }
    }
    &_block {
      padding: 40px 15px;

      @include mobile {
        padding: 25px 15px;
      }
    }
    &_title {
      h4 {
        font-size: 20px;
        margin-bottom: 10px;

        @include mobile {
          font-size: 16px;
        }
      }
    }
    &_text {
      p {
        font-size: 20px;

        @include mobile {
          font-size: 16px;
        }
      }
    }
  }
}
