.header {
  border-bottom: 1px solid $color-border;
}

/* Header Login */
.header__block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  // padding: 14px 0 10px;

  .header__logo {
    width: 14%;

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #222222;
    }

    img {
      width: 34px;
      height: 34px;
    }

    .logo-text {
      width: 146px;
      margin-left: 10px;
      display: flex;
      flex-direction: column;

      span {
        font-weight: bold;
        font-size: 20px;
      }

      div {
        font-size: 12px;
        text-transform: lowercase;
      }
    }
  }

  .header__actions {
    width: 25.5%;
    display: flex;

    .header__btn {
      font-size: 13px;
    }
    .header__btn_start {
      margin-right: 30px;
    }
    .header__btn_quick {
      color: $color2;
      padding: 8px 19px;

      &:hover {
        background-color: $color2;
        color: white;
      }
    }
  }

  .header__search {
    width: 35%;
    display: flex;
    position: relative;

    .header__search_input {
      width: 80%;
      border-radius: 4px 0 0 4px;
      font-size: 12px;
      border-right: none;
    }

    .header__search_btn {
      position: absolute;
      right: 10px;
      top: 0;
      bottom: 0;
      padding: 8px 18px;
      border-radius: 0 4px 4px 0;
      background-color: $color1;
      color: white;
      font-size: 13px;
      border: 1px solid $color1;

      &:hover {
        background-color: darken($color1, 10%);
      }
    }
  }

  .header__controls {
    width: 11%;
    display: flex;
    justify-content: center;
    position: relative;
  }

  /* Dropdown */

  .control-btn {
    padding: 19px 0 17px;
    margin-right: 9px;
    margin-left: 9px;
    display: block;
    cursor: pointer;

    &:hover {
      .dropdown-content {
        visibility: visible;
      }
    }
  }

  img {
    width: 25px;
    height: 25px;
  }

  .dropdown-content {
    position: absolute;
    z-index: 10;
    transition: 0ms all;
    visibility: hidden;
    top: 58px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 5px 18px -5px rgba(184, 184, 184, 1);
    transform: translateX(-40%);

    .call {
      width: 190px;

      a {
        font-size: 18px;
      }
    }

    .notification {
      width: 240px;
      a {
        padding: 15px 20px;
      }

      .count {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        color: white;
        background-color: green;
        width: 22px;
        height: 22px;
        border-radius: 50%;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        a {
          display: flex;
          padding: 11px 25px;
          flex-direction: column;
          transition: 0ms;
          border-bottom: 1px solid #ccc;
          color: black;
          font-size: 16px;
          font-weight: bold;
          text-align: left;
          line-height: 1.25;
          position: relative;
          cursor: pointer;

          .subtitle {
            font-size: 13px;
            color: #a2a2a2;
          }

          &:hover {
            background-color: #f4f3f3;
          }
        }

        &:last-child {
          a:last-child {
            border: none;
          }
        }
      }
    }
  }

  .dropdown-content-active {
    visibility: visible;
  }

  .header__login {
    width: 14.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__login_link {
      font-size: 14px;
      color: #373737;
      margin-left: 10px;
    }

    .btn {
      padding: 8px 18px;
    }
  }
}

/* Header Logged */

.header-logged {
  .header__block {
    .header__search {
      width: 30%;
    }

    .header__controls {
      width: 12.5%;
    }

    .header__login {
      width: 18%;

      &_logged {
        display: flex;
        align-items: center;

        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
        }

        .header__login_name {
          padding-left: 12px;
        }

        h4 {
          font-size: 15px;
          font-weight: 600;
          line-height: 1;
          margin: 0;
        }
        span {
          padding-top: 6px;
          display: block;
          font-size: 12px;
          font-weight: 300;
          display: flex;
          align-items: center;

          &:after{
            content: url(../img/icons/down-arrow.svg);
            display: block;
            margin-left: 5px;
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }
}
