.master{

  .breadcrumbs{
    padding: 10px 0 30px;
    ol{
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;

      li{
        margin-right: 10px;

        &:after{
          content: "|";
          position: relative;
          bottom: 2px;
          margin-left: 10px;
          color: #999999;
        }

        &:last-child::after{
          display: none;
        }

        a{
          color: #999999;
        }

      }
    }
  }


  &__block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__info{}

  &__message{}
}
