.master {
  .breadcrumbs {
    padding: 10px 0 30px;
    display: flex;
    justify-content: space-between;
    .breadcrumb {
      width: 1028px;
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;

      li {
        margin-right: 10px;

        &:after {
          content: "|";
          position: relative;
          bottom: 2px;
          margin-left: 10px;
          color: #999999;
        }

        &:last-child::after {
          display: none;
        }

        a {
          color: #999999;
          font-size: 14px;
          &:hover {
            color: black;
          }
        }

        &:last-child a:hover {
          color: #999999;
        }
      }
    }

    .control__buttons {
      width: 315px;
      display: flex;
      justify-content: space-between;

      a {
        color: #999999;
        font-size: 14px;
        &:hover {
          color: black;
        }
      }
    }
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .master__image {
      width: 310px;
      background-color: #f6f7f8;
      display: flex;
      justify-content: center;

      img {
        height: 180px;
        object-fit: contain;
      }
    }

    .master__text {
      width: 688px;
    }

    .master__name {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        width: 75%;
        font-weight: 500;
        margin-top: 5px;
      }

      .master__rating {
        width: 25%;
        display: flex;
        justify-content: flex-end;

        a {
          display: flex;
          align-items: center;
          margin-left: 20px;
          font-size: 20px;
          font-weight: 300;
          color: #8a8a8a;

          &:hover i {
            color: red;
          }

          i {
            transition: 300ms;
            color: #d2d2d2;
            font-size: 22px;
            margin-left: 8px;
          }
        }
      }
    }

    .master__view {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;

      color: #8a8a8a;

      span:first-child {
        width: 60%;
      }
      span:last-child {
        width: 40%;
        text-align: right;
      }
    }

    .master__about {
      position: relative;
      border-bottom: 1px solid $color-border;
      padding-bottom: 10px;
      margin-bottom: 6px;

      p {
        line-height: 1.3;
        margin-top: 0;
        margin-bottom: 5px;
        overflow: hidden;
      }

      .js-master-readmore-btn {
        font-size: 14px;
        position: absolute;
        right: 0px;
        bottom: 17px;
        background-color: #fff;
        padding: 0 10px;

        & ~ .master__about {
          height: auto;
        }
      }
    }

    .master__statics {
      margin: 26px 0;
      width: 100%;
      display: flex;
      justify-content: space-between;

      &_block {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 308px;
        height: auto;
        background-color:$static-bg;
        border: 1px solid $color-border;
        padding: 34px 25px;
      }

      &_block:nth-child(2),
      &_block:nth-child(3) {
        width: 329px;
      }

      .static {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .stars {
          margin-right: 15px;

          span {
            font-size: 24px;
            color: $orange;
          }
        }
      }

      .static-left {
        justify-content: flex-start;
        margin: 0;

        .number {
          width: 90px;
        }
      }

      .static_text {
        font-size: 19px;
        font-weight: bold;
        margin-top: 27px;
        margin-bottom: 14px;
      }

      .number {
        font-size: 35px;
        font-weight: 300;
        color: $orange;
      }

      .static_title {
        margin-left: 10px;
        font-size: 17px;
        text-transform: lowercase;
      }
    }

    .master__reviews {
      width: 100%;

      h2{
        margin-top: 15px;
      }

      .master__review-type {
      }

      .master__review_list {
        > li {
          padding: 30px 0 30px 25px;
          border-bottom: 1px solid #d8dadd;
        }

        .stars {
          display: flex;

          .rated {
            margin-right: 2px;
          }

          .rate__text {
            margin-left: 8px;
          }
        }
      }
    }

    .master__works {
      width: 100%;
    }

    .master__services {
      width: 100%;

      &_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        list-style: none;

        li {
          width: 24%;
          margin-bottom: 20px;
          transition: 300ms;

          &:hover {
            box-shadow: 0px 16px 15px -15px rgba(122, 122, 122, 1);
          }
        }
      }
    }
  }

  &__message {
    width: 315px;
    position: relative;

    &_block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: sticky;
      top: 0;
    }

    &_rating {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin-top: 38px;
      padding: 25px;
      box-sizing: border-box;
      height: 172px;
      background-color:$static-bg;
      border: 1px solid $color-border;

      div {
        display: flex;
        align-items: center;
        margin: 10px 0;
        font-size: 14px;

        i {
          margin-right: 20px;
          color: $green;
        }
      }
      .master__message-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
      }
    }

    .master-share {
      height: auto;

      h4 {
        font-size: 22px;
        margin: 0;
      }

      ul {
        flex-wrap: nowrap;
        overflow: hidden;

        &:hover {
          overflow: scroll;
          -webkit-overflow-scrolling: touch;
        }

        a {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
