/* Helpers */
@import "variables";
@import "helpers/mixins";
@import "helpers/media-query";

/* Template */
@import "common/preloader";
@import "template";
@import "classes";
@import "common/buttons";

/* Sections for all pages */
@import "sections/header";
@import "sections/footer";

/* Pages */
@import "pages/home";
@import "libs/modal";

/* Sliders */
@import "common/sliders";
