#quiz-controls,
#quiz-counter,
#quiz-header,
#quiz-results-screen,
#quiz-start-screen {
  text-align: center
}

#quiz-results,
.question {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.quiz-container {
  padding: 1em;
  max-width: 100%;
  margin: 1em auto
}

.quiz-container a {
  text-decoration: none;
  color: #333
}

.answers {
  list-style: none;
  padding: 0
}

.answers a {
  display: block;
  padding: 15px 25px;
  margin-bottom: 15px;
  background: #fff;
  border-radius: 15px;
  font-weight: 500;
  font-size: 20px;
  -webkit-box-shadow: 0px 0px 47px -15px rgba(222, 222, 222, 1);
  -moz-box-shadow: 0px 0px 47px -15px rgba(222, 222, 222, 1);
  box-shadow: 0px 0px 47px -15px rgba(222, 222, 222, 1);
  position: relative;
  text-align: center;
}

.answers a.correct {
  background: #69dfc8;
}

.answers a.correct::after {
  content: "";
  display: inline-block;
  background-image: url(../img/check-mark.svg);
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
  filter: invert(1);
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.answers a.incorrect {
  background: #fdada7;
}

.answers a.incorrect::after {
  content: "";
  display: inline-block;
  background-image: url(../img/x-mark.svg);
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
  filter: invert(1);
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

#quiz-buttons a,
#quiz-controls,
.quiz-container .quiz-button {
  padding: .5em 1em;
  background: transparent;
  color: #fff;
  border-radius: 10px
}

.answers a.correct,
.answers a.incorrect {
color: #000;
}

#quiz-buttons a,
.quiz-container .quiz-button {
  display: inline-block
}

#quiz-buttons a {
  background: #fc6568;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
}
#quiz-start-btn{
  background: #fc6568;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
}

.quiz-results-state #quiz-controls {
  background: 0 0;
  padding: 0
}

.quiz-results-state #quiz-buttons a {
  background: #333;
  color: #fff
}

#questions {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}

#quiz-counter{
  font-size: 20px;
  color: #fc6668;
}