@font-face {
    font-family: 'Liberation Sans';
    src: url('LiberationSans-Bold.woff2') format('woff2'),
        url('LiberationSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('LiberationSans-Italic.woff2') format('woff2'),
        url('LiberationSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('LiberationSans.woff2') format('woff2'),
        url('LiberationSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('LiberationSans-BoldItalic.woff2') format('woff2'),
        url('LiberationSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

