// Colors
$blue: #6495ed; /* #6495ed  #008dd4 */
$blue-2: #008dd4;
$dark-blue: #00205d;
$grey: #7e8f96;
$green: #4c9c32;
$yellow: #ff9f19;
$color4: #1e905d;


$red: #da1a20;
$muted: #758493;

$font: 'Poppins', sans-serif;
$box-shadow: 0 1px 5px 1px rgba($color: #000000, $alpha: 0.1);
