.offer {
  background-image: url(../img/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% -2px;
  width: 100%;
  height: auto;
  padding: 90px 0 250px;
  position: relative;

  &__contact {
    display: none;
  }

  @include netbook {
    padding: 60px 0 100px;
  }

  @include mobile {
    padding-top: 80px;
    padding-bottom: 70px;
    /* background-position: -1310px 0px; */
    background-position: -1000px 0px;

    &__contact {
      display: block;
      margin-bottom: 20px;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          margin-bottom: 20px;

          .icon-link {
            font-size: 14px;
            line-height: 1.2;

            &__content {
              font-size: 22px;
            }

            &__icon {
              border-color: #b8b8b850;
            }
          }
        }
      }
    }
  }

  &__block {
    position: relative;
    z-index: 3;
  }

  &__pretitle {
    p {
      font-size: 22px;
      font-weight: 300;
      font-style: italic;
      width: 100%;
      max-width: 375px;
      span {
        font-weight: 500;
        color: $cyan;
      }
    }

    @include mobile {
      p {
        font-size: 17px;
      }
    }
  }

  &__title {
    position: relative;
    padding-bottom: 1px;
    width: 100%;
    max-width: 730px;
    &::after {
      content: "";
      width: 50px;
      height: 2px;
      background-color: $cyan;
      position: absolute;
      display: inline-block;
      bottom: 0;
      left: 0;
      padding-top: 5px;
    }
  }

  &__text {
    margin-top: 60px;
    margin-bottom: 140px;
    p {
      width: 100%;
      max-width: 519px;
      font-size: 22px;
    }

    @include netbook {
      margin-bottom: 50px;
    }

    @include mobile {
      margin-top: 30px;
      margin-bottom: 30px;
      p {
        font-size: 17px;
      }
    }
  }

  &__btn {
    position: relative;
    display: inline-block;
    z-index: 5;

    button {
      padding: 24px 83px;
      background-image: linear-gradient(to top, #00a9a7, #72faf8), linear-gradient(to bottom, #00a9a7, #00a9a7);
      border: none;
      color: white;
      transition: 300ms;
      box-shadow: $box-shadow;

      &:hover {
        box-shadow: 0px 8px 25px -5px $cyan;
        transform: translateY(-8px);
      }
    }
    &_text {
      display: flex;
      flex-direction: column;
    }
    &_icon {
      position: absolute;
      right: -50px;
      top: -7px;
      width: 115px;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    position: relative;
    top: 140px;

    @include netbook {
      justify-content: center;
      top: 0;
      margin-top: 100px;
    }

    @include mobile {
      margin-top: 10px;
    }

    &_bg {
      width: 425px;
      height: 425px;
      background-image: linear-gradient(to top, #00a9a7, #72faf8), linear-gradient(to bottom, #b2d179, #b2d179);
      border-radius: 50%;
      display: flex;
      align-items: center;
      position: absolute;
      top: 0px;
      z-index: 1;
      left: -140px;
      box-shadow: 0px 0px 80px -30px rgba(0, 169, 167, 1);

      @include laptop {
        width: 370px;
        height: 370px;
        left: -70px;
      }

      @include netbook {
        left: 50%;
        transform: translateX(-50%);
      }

      @include mobile {
        width: 100%;
        height: 100%;
        max-width: 270px;
        max-height: 270px;
      }
    }
    &_nilon {
      background-image: url(../img/offer-nilon.png);
      background-repeat: no-repeat;
      position: absolute;
      z-index: 2;
      left: -150px;
      top: -80px;
      width: 80%;
      max-width: 500px;
      background-position: center;
      height: 460px;
      object-fit: contain;
      opacity: 0.7;

      @include netbook {
        left: 0;
      }

      @include mobile {
        left: 40px;
        top: -90px;
      }
    }
    img {
      width: 80%;
      max-width: 370px;
      position: relative;
      left: -70px;
      z-index: 3;
      object-fit: contain;

      @include laptop {
        left: 0;
        width: 100%;
      }

      @include mobile {
        max-width: 250px;
      }
    }
  }

  &__mouse {
    width: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;

    @include tablet {
      display: none;
    }
  }
}

/* Section 2 */

.home-catalog {
  background-color: #f4f6fa;
  padding: 0 0 80px;
  position: relative;
  top: -5px;
  box-shadow: 0 -15px 110px 46px #ffffffd6;
  z-index: 2;
  &__block {
    background-color: #fff;
    box-shadow: 0px 75px 78px -54px rgba(0, 0, 0, 0.35);
    border: 1px solid #dcdcdc;
    position: relative;

    @include mobile {
      padding-bottom: 30px;
    }
  }
  &__block_slide {
    padding: 40px;
    width: 100%;
    box-sizing: border-box;

    &_line {
      width: 1px;
      /* max-height: 400px; */
      background-color: #d8d9da;
      height: 80%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      @include netbook {
        display: none;
      }
    }

    @include mobile {
      padding: 30px 15px 50px;
    }
  }

  &__block_img {
    img {
      width: 85%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      height: 440px;
      object-fit: contain;
    }

    @include mobile {
      img {
        width: 100%;
        height: 280px;
        object-fit: contain;
      }
    }
  }

  &__block_link {
    margin-top: 30px;

    @include mobile {
      a {
        width: 100%;
      }
    }
  }

  &__block_pretitle {
    h3 {
      font-size: 18px;
      font-weight: 500;
    }

    @include mobile {
      h3 {
        font-size: 15px;
      }
    }
  }

  &__block_rating {
    margin-top: 35px;
    &_block {
      display: flex;
      align-items: center;
    }
    &_icon {
      width: 25px;
      height: 25px;
      margin-right: 15px;
    }
    &_text {
      max-width: 180px;
      width: 100%;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.2;
    }

    @include mobile {
      display: none;
    }
  }

  &__block_text {
    &_block {
      margin-top: 15px;
      width: 85%;

      @include netbook {
        width: 100%;
      }
    }

    h4 {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 800;
    }
    p {
      padding: 5px 20px;
      box-sizing: border-box;
      height: 86px;
      overflow-y: scroll;
      font-size: 14px;
      position: relative;
      font-weight: 400;
      direction: rtl;
      border-left: 2px solid #5d5e66;
      /* box-shadow: -3px 0px 0px #5d5e66; */

      &::-webkit-scrollbar {
        width: 2px;
        position: absolute;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: darken($color: #5d5e66, $amount: 10%);
        width: 4px;
        position: absolute;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }

    @include mobile {
      p {
        height: 142px;
        overflow: hidden;
        padding: 0;

        border: none;
      }
    }
  }

  &__block_title {
    width: 60%;
    margin-bottom: 30px;
    h2 {
      font-size: 24px;
      text-align: left;

      &::after {
        display: none;
      }
    }

    @include netbook {
      width: 100%;
    }
    @include mobile {
      width: 100%;
      margin-bottom: 15px;

      h2 {
        font-size: 20px;
      }
    }
  }

  &__block_slide_btn {
    width: 100%;
    max-width: 260px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 290px;
    bottom: 40px;
    z-index: 2;

    .swiper-prev,
    .swiper-next {
      width: 50px;
      &:focus {
        outline: none;
      }
    }
    .swiper-pagination {
      position: inherit;
      width: 100%;
      max-width: 154px;
      font-style: italic;
      letter-spacing: 1px;
      display: flex;
      align-items: flex-end;
      line-height: 1;
      justify-content: center;
      color: #aaabb1;
      position: relative;
      top: -9px;
    }
    .swiper-pagination-current {
      font-weight: 800;
      color: $cyan;
      font-size: 28px;
      position: relative;
      bottom: -2px;
    }

    @include mobile {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }
  }
}

/* About */
.about {
  position: relative;
  z-index: 2;
  padding: 0 0 50px;
  box-shadow: 0 -15px 110px 46px #ffffffd6;
  background-color: #f4f6fa;

  h2 {
    margin-bottom: 40px;
  }

  &__bg-img {
    width: 100%;
    height: 1000px;
    object-fit: cover;
    position: absolute;
    top: -88px;
    left: 0;
    z-index: 1;

    @include mobile {
      object-position: 17% -85px;
    }
  }
  .about-bg-img {
    &__overlay {
      background: #ffffff;
      opacity: 0.7;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 2;
      mix-blend-mode: screen;
      display: block;

      &_block {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        height: 100%;
        position: relative;
      }

      &_1 {
        width: 400px;
        height: 400px;
        position: relative;
        top: 90px;
        left: 20px;
        border-radius: 50%;
        background-color: #4d6a73;

        @include netbook {
          width: 250px;
          height: 250px;
          left: 100px;
        }

        @include mobile {
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &_2 {
        width: 270px;
        height: 270px;
        position: absolute;
        top: 460px;
        right: 80px;
        border-radius: 50%;
        background-color: #4d6a73;

        @include mobile {
          display: none;
        }
      }
    }
  }

  &__container {
    position: relative;
    z-index: 3;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    position: relative;
    left: 0;
    top: 30px;
    margin-bottom: 100px;

    img {
      width: 100%;
      max-width: 500px;
    }
    @include laptop {
      top: 0;
      width: 90%;
      left: 50%;
      transform: translateX(-50%);
    }

    @include mobile {
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 0;
    }
  }

  &__company {
    &_title {
    }

    &_text {
      width: 100%;
      max-width: 490px;
      p {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
      }
    }

    &_btn {
      margin-top: 90px;

      @include netbook {
        margin-top: 50px;
      }

      @include mobile {
        margin-top: 30px;

        .btn {
          width: 100%;
        }
      }
    }
    &_video {
      margin-top: 70px;
      position: relative;
      overflow: hidden;
      width: 100%;

      @include mobile {
        margin-top: 20px;

        img {
          height: 300px;
          object-fit: cover;
        }
      }

      &_line {
        width: 100%;
        max-width: 280px;
        position: absolute;
        left: 55%;
        transform: translateX(-50%);
        top: -100px;

        @include laptop {
          left: 70%;
        }

        @include mobile {
          display: none;
        }
      }

      &_overlay {
        position: absolute;
        max-width: 420px;
        width: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

/* News */
.news {
  padding: 40px 0 80px;
  position: relative;
  z-index: 4;
  background-color: #f4f6fa00;
  &__title {
  }

  &__card {
    background-color: #fff;
    box-shadow: 0px 39px 81px -50px rgba(0, 0, 0, 0.5);

    &_block {
      padding: 38px 20px;
      font-size: 14px;
    }

    &_img {
      img {
        height: 195px;
        object-fit: cover;
      }
    }

    &_title {
      font-weight: 600;
      width: 75%;
      padding: 20px 0 15px;
      font-size: 16px;
      line-height: 1.1;
      position: relative;
      display: block;
      height: 69px;
      overflow: hidden;
      color: black;
      transition: 200ms;

      &:hover {
        color: $cyan;
        text-decoration: none;
      }

      &::after {
        content: ". . .";
        position: absolute;
        display: inline-block;
        bottom: 0;
        left: 0;
      }
    }

    &_time {
      color: $cyan;
      font-weight: 600;
    }
    &_text {
      height: 130px;
      overflow: hidden;
      p {
        font-size: 14px;
        line-height: 1.4;
      }
    }
    &_link {
      margin-top: 32px;
      a {
        color: #000;
        border-bottom: 1px solid;
        font-weight: 600;
        transition: 200ms;

        &:hover {
          text-decoration: none;
          color: $cyan;
        }
      }
    }
  }
}

/* Checkout */
.checkout {
  &__big-img {
    padding-right: 40px;
    margin-bottom: 15px;

    img {
      height: 360px;
      object-fit: cover;
      border: 1px solid #d0d0d0;
      box-shadow: 0px 0 30px -10px #00000030;
    }
    @include netbook {
      padding-right: 15px;
      img {
        height: auto;
      }
    }
  }

  &__small-img {
    img {
      height: 170px;
      object-fit: cover;
      border: 1px solid #d0d0d0;
      box-shadow: 0px 0 20px -5px #00000030;
    }
    @include mobile {
      img {
        height: auto;
      }
      a {
        width: 100%;
        display: block;
      }
    }
  }
}

.news-page {
  * {
    line-height: 1.4;
  }
}

.partners {
  &__adress {
    font-size: 16px;
  }
  &__block {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 80%;
      width: 1px;
      background-color: #dcdcdc;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include mobile {
        display: none;
      }
    }
  }
  &__mail {
    color: black;
    display: block;
    &:hover {
      text-decoration: none;
      color: $cyan;
    }
  }
  &__phone {
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    &:hover {
      text-decoration: none;
      color: $cyan;
    }
  }
  &__title {
    font-size: 20px;
    font-weight: bold;
  }
}

.about-page {
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      a {
        display: block;
        color: black;
        font-size: 16px;
        font-weight: bold;
        padding: 15px 0;
        border-bottom: 2px dashed #d0d0d0;
        position: relative;

        &:hover {
          color: $cyan;
          text-decoration: none;
        }
        &::after {
          content: "";
          display: inline-block;
          width: 18px;
          height: 20px;
          background-image: url(../img/icons/right-arrow.svg);
          object-fit: contain;
          position: absolute;
          right: 5px;
          top: 50%;
          transform: translateY(-50%);
          opacity: 0.5;
        }
      }

      &:first-child {
        a {
          border-top: 2px dashed #d0d0d0;
        }
      }
      &.active {
        a {
          &::after {
            opacity: 1;
            background-image: url(../img/icons/right-arrow-cyaa.png);
          }
        }
      }
    }
  }
}
