/* Helpers */
/* Template */
#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 100500; }

.cssload-container * {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.cssload-container {
  margin: 19px auto 0 auto;
  max-width: 545px; }

.cssload-container ul li {
  list-style: none; }

.cssload-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -o-flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.cssload-flex-container li {
  padding: 10px;
  height: 97px;
  width: 97px;
  margin: 29px 19px;
  position: relative;
  text-align: center; }

.cssload-loading-center {
  display: inline-block;
  position: absolute;
  background: black;
  height: 29px;
  width: 29px;
  left: 35px;
  top: 36px;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  animation: pulse 1.15s ease infinite;
  -o-animation: pulse 1.15s ease infinite;
  -ms-animation: pulse 1.15s ease infinite;
  -webkit-animation: pulse 1.15s ease infinite;
  -moz-animation: pulse 1.15s ease infinite; }

.cssload-loading {
  display: inline-block;
  position: relative;
  width: 73px;
  height: 73px;
  margin-top: 3px;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg); }

.cssload-loading:after,
.cssload-loading:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  display: block;
  top: 0;
  background: black;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  animation-delay: -0.5 0.75s;
  -o-animation-delay: -0.5 0.75s;
  -ms-animation-delay: -0.5 0.75s;
  -webkit-animation-delay: -0.5 0.75s;
  -moz-animation-delay: -0.5 0.75s; }

.cssload-loading:after {
  right: 0;
  animation: square-tr 2.3s ease infinite;
  -o-animation: square-tr 2.3s ease infinite;
  -ms-animation: square-tr 2.3s ease infinite;
  -webkit-animation: square-tr 2.3s ease infinite;
  -moz-animation: square-tr 2.3s ease infinite;
  animation-delay: 0.143 0.75s;
  -o-animation-delay: 0.143 0.75s;
  -ms-animation-delay: 0.143 0.75s;
  -webkit-animation-delay: 0.143 0.75s;
  -moz-animation-delay: 0.143 0.75s; }

.cssload-loading:before {
  animation: square-tl 2.3s ease infinite;
  -o-animation: square-tl 2.3s ease infinite;
  -ms-animation: square-tl 2.3s ease infinite;
  -webkit-animation: square-tl 2.3s ease infinite;
  -moz-animation: square-tl 2.3s ease infinite;
  animation-delay: 0.143 0.75s;
  -o-animation-delay: 0.143 0.75s;
  -ms-animation-delay: 0.143 0.75s;
  -webkit-animation-delay: 0.143 0.75s;
  -moz-animation-delay: 0.143 0.75s; }

.cssload-loading.cssload-two {
  position: relative;
  top: -78px; }

.cssload-loading.cssload-two:after,
.cssload-loading.cssload-two:before {
  bottom: 0;
  top: initial; }

.cssload-loading.cssload-two:after {
  animation: square-br 2.3s ease infinite;
  -o-animation: square-br 2.3s ease infinite;
  -ms-animation: square-br 2.3s ease infinite;
  -webkit-animation: square-br 2.3s ease infinite;
  -moz-animation: square-br 2.3s ease infinite;
  animation-direction: reverse;
  -o-animation-direction: reverse;
  -ms-animation-direction: reverse;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse; }

.cssload-loading.cssload-two:before {
  animation: square-bl 2.3s ease infinite;
  -o-animation: square-bl 2.3s ease infinite;
  -ms-animation: square-bl 2.3s ease infinite;
  -webkit-animation: square-bl 2.3s ease infinite;
  -moz-animation: square-bl 2.3s ease infinite;
  animation-direction: reverse;
  -o-animation-direction: reverse;
  -ms-animation-direction: reverse;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse; }

@keyframes square-tl {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  25% {
    -webkit-transform: translate(0, 60.5px);
            transform: translate(0, 60.5px); }
  50% {
    -webkit-transform: translate(60.5px, 60.5px);
            transform: translate(60.5px, 60.5px); }
  75% {
    -webkit-transform: translate(60.5px, 0);
            transform: translate(60.5px, 0); } }
@-webkit-keyframes square-tl {
  0% {
    -webkit-transform: translate(0, 0); }
  25% {
    -webkit-transform: translate(0, 60.5px); }
  50% {
    -webkit-transform: translate(60.5px, 60.5px); }
  75% {
    -webkit-transform: translate(60.5px, 0); } }
@keyframes square-bl {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  25% {
    -webkit-transform: translate(0, -60.5px);
            transform: translate(0, -60.5px); }
  50% {
    -webkit-transform: translate(60.5px, -60.5px);
            transform: translate(60.5px, -60.5px); }
  75% {
    -webkit-transform: translate(60.5px, 0);
            transform: translate(60.5px, 0); } }
@-webkit-keyframes square-bl {
  0% {
    -webkit-transform: translate(0, 0); }
  25% {
    -webkit-transform: translate(0, -60.5px); }
  50% {
    -webkit-transform: translate(60.5px, -60.5px); }
  75% {
    -webkit-transform: translate(60.5px, 0); } }
@keyframes square-tr {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  25% {
    -webkit-transform: translate(-60.5px, 0);
            transform: translate(-60.5px, 0); }
  50% {
    -webkit-transform: translate(-60.5px, 60.5px);
            transform: translate(-60.5px, 60.5px); }
  75% {
    -webkit-transform: translate(0, 60.5px);
            transform: translate(0, 60.5px); } }
@-webkit-keyframes square-tr {
  0% {
    -webkit-transform: translate(0, 0); }
  25% {
    -webkit-transform: translate(-60.5px, 0); }
  50% {
    -webkit-transform: translate(-60.5px, 60.5px); }
  75% {
    -webkit-transform: translate(0, 60.5px); } }
@keyframes square-br {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  25% {
    -webkit-transform: translate(-60.5px, 0);
            transform: translate(-60.5px, 0); }
  50% {
    -webkit-transform: translate(-60.5px, -60.5px);
            transform: translate(-60.5px, -60.5px); }
  75% {
    -webkit-transform: translate(0, -60.5px);
            transform: translate(0, -60.5px); } }
@-webkit-keyframes square-br {
  0% {
    -webkit-transform: translate(0, 0); }
  25% {
    -webkit-transform: translate(-60.5px, 0); }
  50% {
    -webkit-transform: translate(-60.5px, -60.5px); }
  75% {
    -webkit-transform: translate(0, -60.5px); } }
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes pulse {
  0%,
  100% {
    -webkit-transform: scale(inherit) rotate(45deg);
            transform: scale(inherit) rotate(45deg); }
  75% {
    -webkit-transform: scale(0.25) rotate(45deg);
            transform: scale(0.25) rotate(45deg); } }
@-webkit-keyframes pulse {
  0%,
  100% {
    -webkit-transform: scale(inherit) rotate(45deg); }
  75% {
    -webkit-transform: scale(0.25) rotate(45deg); } }
html, body {
  font-family: "Poppins", sans-serif; }

img {
  width: 100%;
  height: auto;
  display: block; }

/* Sections for all pages */
/* Pages */
/* Sliders */
