@media screen and (max-width: 1700px) {}

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1024px) {
    .filter-section .select-items-container button{
        margin-right: 0;
    }
    .header .h-80 {
        height: auto;
    }
    .filter-section .select-items-container{
        padding: 25px;
    }
    .result .sort{width: auto;}
    .card{
        width: 30.9%;
    }
}
@media (max-width: 992px){
    .filter-section .select-items-container,.filter-section .background-container{
        width: 100%;
    }
    .card{
        width: 46.5%;
        img{
            height: auto;
        }
    }
}


@media screen and (max-width: 767px) {
    .card{
        width: 100%;
    }
    .desc-d-none {
        display: none !important;
    }

    .mob-d-none {
        display: none !important;
    }

    .mob-show {
        display: block !important;
    }

    .header {

        .row{
            width: auto;
        }
        padding-top: 23px;

        &-logo {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        &-user {
            padding: 25px 0;
            margin-right: 0;
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        .basket-mobile {
            display: flex !important;
            justify-content: flex-end;
            width: 100%;
            font-size: 10px;

            li{
                margin-left: 10px;
            }

            a {
                text-transform: uppercase;

                @include text-bold();

                span {
                    background-color: #f5f7ff;
                    border-radius: 50%;
                    color: $green;
                    padding: 3px 8px;
                    -webkit-transition: all 100ms ease-in;
                    transition: all 100ms ease-in;
                    margin-right: 10px;



                }

                &:hover>span {
                    background-color: $light-green;
                    color: $white;
                }
            }
        }
    }

    .filter-section .select-items-container {
        flex-wrap: wrap;
        justify-content: center;
   

        .drop-down-container {
            flex: 0 0 50%;
            max-width: 50%;
            margin-right: 0;
           padding: 25px 29px;
        }
        button{
            margin-top: 30px;
        }
    }
    .header-right-items{
        justify-content: space-between;
    }
    .filter-section .filter-content h1{
        font-size: 24px;
    }
    .filter-section .filter-content__img img{
        height: auto;
    }

    

}

@media screen and (max-width: 520px) {
    .header-user .user li > a,.header .basket-mobile a{
        font-size: 10px;
    }
    
    .header .basket-mobile>li{
        margin-left: 5px;
    }


}

@media screen and (max-width: 370px) {
    .header-user{
        flex-direction: column;
    }
    .header .basket-mobile{
        justify-content: center;
    }
    .filter-section .filter-content__img img {
        height: 100%;
        padding-top: 5px;
    }
    .filter-section .filter-content h1{
        line-height: inherit;
    }
    .filter-section .select-items-container .drop-down-container {
        padding: 25px 9px;
    }
}