@font-face {
  font-family: "Times New Roman Bold";
  src: url("../fonts/TimesNewRoman-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Regular";
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Bold";
  src: url("../fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.desc-d-none{
  display: none;
}



/* font variable */
$font-times-bold: "Times New Roman Bold";
$font: "Noto Sans Regular";
$font-bold: "Noto Sans Bold";


/* Colors variable */


$green:#309B27;
$light-green:#8CC63F;
$black:#333333;
$grey:#5A5A5A;
$light-grey:#F6F6F6;
$white:#ffffff;

/* box-shadow */
$shadow:1px 1px 5px rgba(0, 0, 0, 0.25);
/* border-radius */

$radius: 3px;

button {
  display: inline-block;
  padding: 12px 20px;
  color: $white;
  font-family: $font-bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: $light-green;
  border: none;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  border-radius: $radius;
  transition: 200ms;


  &:hover {
    background-color: $green;
  }

  &:active,
  &:focus{
    outline: none;
    border: none;
  }

}

h1,
h2,
h3,
h4 {
  letter-spacing: 1px;

  font-family: $font-bold;
}

h2,
h3,
h4 {
  color: $grey;
}

h1 {
  font-size: 30px;
  line-height: 34px;
  color: $black;
}

h2 {
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

h4 {
  font-size: 16px;
  line-height: 24px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  color: $black;
  background-color: $light-grey;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
a {
  color: $black;
  text-decoration: none;
}

img {
  height: auto;
  width: 100%;
  display: block;
}
@mixin text-bold(){
  font-size: 12px;
  line-height: 16px;
  font-family: $font-bold;
}
@mixin text-link($color) {
  font-family: $font;
  font-size: 12px;
  line-height: 16px;
  color: $color;
}
@mixin text(){
  font-family: $font;
  font-size: 12px;
  line-height: 16px;
}
input{
  width: 100%;
  &:active,&:focus{
    border: 1px solid #FFFFFF;
    outline: none;
  }

}

.form-input{
  label{
    @include text;
    color: $grey;
    margin: 8px 0;
    display: block;
  }
  .form-input-input{
    border-radius: 5px;
    box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid #FFFFFF;
    background: #F7F7F7;
    padding: 8px 30px 8px 8px;
    color: $grey;
    font-family: $font;
    input:active,input:focus{
      border: 1px solid #FFFFFF;

      outline: none;
    }
  }
}
.sort .form-input{
  display: flex;
  label{
    margin-right: 9px;
  }
}
.drop-down-container{

  display: flex;
  align-items: center;

  .select-container{
    position: relative;
    display: flex;
    
    .arrow {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      right: 8px;
      top: 18%;
      position: absolute;


  }

  .arrow.open {
      top: 9px;
      opacity: 1;
      transition: 200ms;
      transform: rotateX(180deg);

  }

  .arrow.close {
      top: 6px;
      transition: 200ms;

      transform: rotateX(0deg);
  }
  

    input{
     padding: 5px 30px 5px 8px;
      background-color: $light-grey;
    }

    input.filter-input{
      border: 1px solid $green;
      @include text-link($green);


      border-radius: 5px;
 
      input:active,input:focus{
        border: 1px solid #FFFFFF;
  
        outline: none;
      }
    }
    input.drop-down-select{
      border-radius: 6px;
      border: 1px solid $white;
      box-shadow: $shadow;
      @include text-link($grey);
      input:active,input:focus{
        border: 1px solid #FFFFFF;
  
        outline: none;
      }
    }

    input.menu-open{
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
      border-bottom:1px solid $white ;
    }
    .options{
      background-color: $light-grey;
      position: absolute;
      display: none;
      width: 100%;
      z-index: 999 !important;
      border: 1px solid #ffffff;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      border-top: none;
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
      z-index: 0;
      color: #5a5a5a;
      top: 28px;
      font-size: 12px;

      div{
        border-top: 1px solid $white;
        padding: 8px;
        cursor: pointer;
        white-space: nowrap;

        &:first-child{
          border-top: none;
        }
      }



    }
    .options-filter{

      border: 1px solid $green;
      border-top: none;
    }


  }
}







