.header {
  position: relative;
  z-index: 1;
  height: auto;
  overflow: hidden;

  &::after {
    content: "";
    height: 100%;
    width: 109%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../img/line.svg);
    background-repeat: repeat-x;
    background-size: 12.5% 100%;
    background-color: $bg-grey;
  }

  * {
    position: relative;
    z-index: 2;
  }

  &__menu {
    padding: 30px 10px;

    &_list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      padding: 13px 53px 0;
      li {
        a {
          color: #121212;
          font-family: $font-p;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &_phone {
      display: block;
      color: #000;
      font-weight: bolder;
      font-size: 20px;
      line-height: 1;

      &:hover {
        text-decoration: none;
        color: #121212;
      }
    }
    &_link {
      display: block;
      color: $blue;
      border-bottom: 1px solid;

      &:hover {
        text-decoration: none;
        color: $blue;
      }
    }
  }

  &__offer {
    padding: 100px 0 180px;
    position: relative;
    &_title {
      font-family: $font-h;
      line-height: 1.1;
      font-size: 85px;
      font-weight: normal;

      &_1 {
      }
      &_2 {
        position: relative;
        left: 240px;
        color: $blue;
      }
      &_3 {
        position: relative;
        left: 240px;
      }
      &_4 {
        position: relative;
        left: 585px;
      }
      &_5 {
        position: relative;
        left: 920px;
      }
    }

    &_btn {
      position: absolute;
      left: 600px;
      top: 300px;
      a {
        width: 255px;
        height: 255px;
        background-color: $blue;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 1;
        font-size: 22px;
        color: white;
      }
    }

    &_description {
      position: relative;
      width: 304px;

      &_title {
        font-family: $font-h;
        font-size: 25px;
        margin-bottom: 25px;
      }
      &_text {
        font-size: 18px;
      }
    }

    &_list {
      width: 100%;
      position: absolute;
      margin-top: 100px;
      right: -500px;

      ul {
        display: flex;
        list-style: none;
        li {
          margin-right: 40px;
          color: $blue;
          white-space: nowrap;
          font-size: 17px;
          font-weight: bold;
        }
      }
    }
  }
}
