html,
div {
  font-family: $font-main;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-main;
  font-weight: bold;
  line-height: 1.1;
}

p {
  font-family: $font-main;
  line-height: 1.4;
  margin: 1em 0;

  @include media-sm{
    line-height: 1.45;
  }
}

blockquote {
  font-family: $font-main;
  line-height: 1.66;
  margin: 1em 0;

  @include media-lg {
    line-height: 1.68;
  }

  @include media-sm {
    line-height: 1.3;
  }
}

img {
  width: 100%;
  height: auto;
}

.container__block {
  margin: 0 120px;

  @include media-xxl {
    margin: 0 90px;
  }

  @include media-lg {
    margin: 0 48px;
  }

  @include media-md {
    margin: 0 30px;
  }
  @include media-sm {
    margin: 0 10px;
  }
}
