.bg-red {
  background-color: $red;
}

.h2 {
  font-size: 72px;
}

.h3 {
  font-size: 31px;
  margin: 0.8em 0;
}

.btn {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #000;
  padding: 20px 50px;
  border-radius: 50px;
  cursor: pointer;

  &:hover{
    text-decoration: none;
    color: #000;
  }
}

.color-white {
  color: #ffffff;
}

.full-width-img {
  width: 1204px;
  margin: 0 auto;
}
