.bg-red {
  background-color: $red;
}

.h2 {
  font-size: 72px;

  @include media-xxxl {
    font-size: 60px;
  }

  @include media-xxl {
    font-size: 48px;
  }

  @include media-lg {
    font-size: 42px;
  }
}

.h3 {
  font-size: 31px;
  margin: 0.8em 0;

  @include media-xxl {
    font-size: 28px;
  }
}

.btn {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #000;
  padding: 20px 50px;
  border-radius: 50px;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: #000;
  }
}

.color-white {
  color: #ffffff;
}
