.bg-red {
  background-color: $red;
}

.color-white {
  color: #ffffff;
}

.h2 {
  font-size: 72px;

  @include media-xxxl {
    font-size: 60px;
  }

  @include media-xxl {
    font-size: 48px;
  }

  @include media-lg {
    font-size: 42px;
  }

  @include media-md {
    font-size: 32px;
  }

  @include media-sm {
    font-size: 30px;
    line-height: 1.2;
  }
}

.h3 {
  font-size: 31px;
  margin: 0.8em 0;

  @include media-xxl {
    font-size: 28px;
  }
  @include media-md {
    font-size: 24px;
  }
  @include media-sm {
    font-size: 20px;
  }
}

.btn {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  padding: 20px 50px;
  border-radius: 50px;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: #000;
  }

  @include media-md {
    font-size: 18px;
  }

  @include media-sm {
    display: block;
    width: 94%;
    padding: 13px 40px;
  }
}

.margin-remover {
  margin: 0 !important;

  > div {
    padding: 0 !important;
  }
}
