.js-link-scroll{
  display: inline-block;
  margin: 30px 0;
}

@media screen and (max-width: 992px){
  .js-link-scroll{
    font-size: 16px;
    margin: 20px 0;
  }
  .mt-mobile-share{
    margin-top: 50px;
  }
}



/* Card */
.new-card{

  &__table{
    display: block;
    border: 1px solid #e5e6ea;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;

    line-height: 1.2;

    tr{
      width: 100%;
      display: flex
    }

    td{
      width: 60%;
      border: none;
      display: flex;
      align-items: center;

      &:nth-child(2){
        width: 40%;
      }
    }


    thead{
      display: block;
      width: 100%;
      background-color: #f8f9fb;


      th{
        border: none;
        width: 60%;
        padding: 15px;
        font-weight: normal;
        display: flex;
        align-items: center;

        &:nth-child(2){
          width: 40%;
        }

      }
    }

    tbody{
      display: block;

      tr{
        border-bottom: 1px solid #e5e6ea;

        td{}

        &:last-child{
          border: none;
        }
      }
    }

    &_price{
      font-size: 20px;
    }

    &_number{
      color: #7d8698;
    }


  }

  &__partner{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    a{
      display: inline-block;
      margin: 0 auto;
      text-align: center;
      font-size: 15px;
      border-bottom: 1px solid;

      &:hover{
        cursor: pointer;
        text-decoration: none;
        border-bottom: 1px solid transparent;

      }
    }
  }

  &__basket{

    &_price-block{
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #e5e6ea;
      background-color: #f8f9fb;
      border-radius: 4px;
      line-height: 1.3;
    }

    &_price-text{
      line-height: 1.7;
    }

    &_old-price{
      text-decoration:line-through;
      text-decoration-color: #b60000;
      color: #747474;
      line-height: 1;
    }

    &_new-price{
      font-size: 20px;
      font-weight: 500;
    }

    .product-cat-amount-field, .input-group-text{
      font-size: 14px;
    }

    .btn{
      border-radius: 4px;
      height: 42px;
    }
    .product-cat-amount-field-container{
      border: 1px solid #e5e6ea;
      border-radius: 4px;
      height: 42px;
    }

    .product-cat-amount-field, .input-group-text{
      border: none;
    }
    .product-cat-amount-measure{
      margin-left: -12px
    }

    .product-cat-amount-field-btn-disabled.product-cat-amount-field-btn-minus:hover, .product-cat-amount-field-btn-disabled.product-cat-amount-field-btn-plus:hover{
      background-color: transparent;
      cursor: pointer;
    }
  }
}
