.js-link-scroll {
  display: inline-block;
  margin: 30px 0; }

@media screen and (max-width: 992px) {
  .js-link-scroll {
    font-size: 16px;
    margin: 20px 0; }

  .mt-mobile-share {
    margin-top: 50px; } }
/* Card */
.new-card__table {
  display: block;
  border: 1px solid #e5e6ea;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  line-height: 1.2; }
  .new-card__table tr {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .new-card__table td {
    width: 60%;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .new-card__table td:nth-child(2) {
      width: 40%; }
  .new-card__table thead {
    display: block;
    width: 100%;
    background-color: #f8f9fb; }
    .new-card__table thead th {
      border: none;
      width: 60%;
      padding: 15px;
      font-weight: normal;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .new-card__table thead th:nth-child(2) {
        width: 40%; }
  .new-card__table tbody {
    display: block; }
    .new-card__table tbody tr {
      border-bottom: 1px solid #e5e6ea; }
      .new-card__table tbody tr:last-child {
        border: none; }
  .new-card__table_price {
    font-size: 20px; }
  .new-card__table_number {
    color: #7d8698; }
.new-card__partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px; }
  .new-card__partner a {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid; }
    .new-card__partner a:hover {
      cursor: pointer;
      text-decoration: none;
      border-bottom: 1px solid transparent; }
.new-card__basket_price-block {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e5e6ea;
  background-color: #f8f9fb;
  border-radius: 4px;
  line-height: 1.3; }
.new-card__basket_price-text {
  line-height: 1.7; }
.new-card__basket_old-price {
  text-decoration: line-through;
  -webkit-text-decoration-color: #b60000;
          text-decoration-color: #b60000;
  color: #747474;
  line-height: 1; }
.new-card__basket_new-price {
  font-size: 20px;
  font-weight: 500; }
.new-card__basket .product-cat-amount-field, .new-card__basket .input-group-text {
  font-size: 14px; }
.new-card__basket .btn {
  border-radius: 4px;
  height: 42px; }
.new-card__basket .product-cat-amount-field-container {
  border: 1px solid #e5e6ea;
  border-radius: 4px;
  height: 42px; }
.new-card__basket .product-cat-amount-field, .new-card__basket .input-group-text {
  border: none; }
.new-card__basket .product-cat-amount-measure {
  margin-left: -12px; }
.new-card__basket .product-cat-amount-field-btn-disabled.product-cat-amount-field-btn-minus:hover, .new-card__basket .product-cat-amount-field-btn-disabled.product-cat-amount-field-btn-plus:hover {
  background-color: transparent;
  cursor: pointer; }
