.btn {
  padding: 12px 40px;
  border-radius: 50px;
  font-size: 14px;
  line-height: 1.1;
  cursor: pointer;
  display: inline-block;
  text-align: center;

  &:focus {
    outline: none;
  }
}

.btn-main {
  padding: 25px;
  text-align: center;
  font-weight: 500;
  color: white;
  box-shadow: $box-shadow;
  transition: 300ms;
  background-image: linear-gradient(to top, #00a9a7, #72faf8), linear-gradient(to bottom, #fac146, #fac146);
  &:hover {
    color: white;
    text-decoration: none;

    box-shadow: 0px 8px 20px -5px $cyan;
    transform: translateY(-5px);
  }
}
