@font-face {
  font-family: "CeraPro";
  src: url(../fonts/CeraPro/CeraPro-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CeraPro";
  src: url(../fonts/CeraPro/CeraPro-Bold.ttf);
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CeraPro";
  src: url(../fonts/CeraPro/CeraPro-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CeraPro";
  src: url(../fonts/CeraPro/CeraPro-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Aqum";
  src: url(../fonts/Aqum/Aqum.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alexander";
  src: url(../fonts/Alexander/Alexander.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}