.header {
  padding: 42px 0;

  @include mobile {
    padding: 15px 0 30px;
    position: fixed;
    height: 84px;
    z-index: 300ms;

    background-color: white;
    width: 100%;
    left: 0;
    z-index: 999;
  }

  &__logo {
    width: 110px;

    display: block;

    @include mobile {
      width: 85px;
    }
  }
  &__menu {
    display: flex;
    justify-content: flex-end;

    @include mobile {
      position: fixed;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      background-color: #fff;
      top: -100%;
      left: 0;
      z-index: 999;
      transition: 400ms ease-in-out;

      &_active{
        top: 0;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      position: relative;
      z-index: 3;
      display: flex;
      list-style: none;

      @include mobile {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      li {
        margin-left: 30px;

        @include mobile {
          margin: 8px 0;
        }

        a {
          color: $black;
          font-size: 18px;
          font-family: $font-link;
          transition: 200ms;
          &:hover {
            color: darken($color: $cyan, $amount: 18%);
          }

          @include laptop {
            font-size: 16px;
          }

          @include mobile {
            font-size: 24px;
          }
        }
      }
    }

    .elips-1 {
      position: absolute;
      right: -100px;
      top: -58px;
      width: 377px;

      @include laptop {
        width: 300px;
      }

      @include mobile {
        display: none;
      }
    }
  }
  &__logo {
    @include mobile {
      position: fixed;
      z-index: 1000;
      left: 15px;
    }
  }

  .hamburger {
    @include mobile {
      position: fixed;
      z-index: 1000;
      right: 15px;
      top: 30px;
    }
  }
}


main{
  @include mobile{
    margin-top: 100px;
  }
}
