/* #6495ed  #008dd4 */
#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 100500; }

.cssload-loader {
  width: 146px;
  height: 146px;
  border: 1px black solid;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -73px 0 0 -73px;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%; }

.cssload-loader .cssload-loading {
  font-size: 10px;
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 14px;
  font-family: 'Century Gothic', sans-serif;
  font-style: italic;
  left: 0;
  top: 50%;
  margin-top: 19px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  -o-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase; }

.cssload-loader-circle-1 {
  width: 135px;
  height: 135px;
  left: 5px;
  top: 5px;
  border: 1px black solid;
  position: absolute;
  border-right-color: transparent;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  animation: spin 3.45s linear infinite;
  -o-animation: spin 3.45s linear infinite;
  -ms-animation: spin 3.45s linear infinite;
  -webkit-animation: spin 3.45s linear infinite;
  -moz-animation: spin 3.45s linear infinite; }

.cssload-loader-circle-2 {
  width: 123px;
  height: 123px;
  left: 5px;
  top: 5px;
  border: 1px transparent solid;
  position: absolute;
  border-right-color: #e81512;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  animation: spin 5.75s linear infinite;
  -o-animation: spin 5.75s linear infinite;
  -ms-animation: spin 5.75s linear infinite;
  -webkit-animation: spin 5.75s linear infinite;
  -moz-animation: spin 5.75s linear infinite; }

.cssload-loader .cssload-line {
  width: 10px;
  height: 2px;
  background: black;
  position: absolute; }

.cssload-loader .cssload-line:nth-child(1) {
  left: 16px;
  top: 50%;
  margin-top: -1px; }

.cssload-loader .cssload-line:nth-child(2) {
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  left: 32px;
  top: 32px; }

.cssload-loader .cssload-line:nth-child(3) {
  top: 16px;
  left: 50%;
  width: 2px;
  height: 10px; }

.cssload-loader .cssload-line:nth-child(4) {
  transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  right: 32px;
  top: 32px; }

.cssload-loader .cssload-line:nth-child(5) {
  right: 16px;
  top: 50%;
  margin-top: -1px; }

.cssload-loader .cssload-line:nth-child(6) {
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  right: 32px;
  bottom: 32px;
  background: #e81512; }

.cssload-loader .cssload-subline {
  position: absolute;
  width: 3px;
  height: 2px;
  background: black; }

.cssload-loader .cssload-subline:nth-child(7) {
  transform: rotate(22.5deg);
  -o-transform: rotate(22.5deg);
  -ms-transform: rotate(22.5deg);
  -webkit-transform: rotate(22.5deg);
  -moz-transform: rotate(22.5deg);
  left: 20px;
  top: 49px; }

.cssload-loader .cssload-subline:nth-child(8) {
  transform: rotate(67.5deg);
  -o-transform: rotate(67.5deg);
  -ms-transform: rotate(67.5deg);
  -webkit-transform: rotate(67.5deg);
  -moz-transform: rotate(67.5deg);
  left: 49px;
  top: 20px; }

.cssload-loader .cssload-subline:nth-child(9) {
  transform: rotate(112.5deg);
  -o-transform: rotate(112.5deg);
  -ms-transform: rotate(112.5deg);
  -webkit-transform: rotate(112.5deg);
  -moz-transform: rotate(112.5deg);
  right: 49px;
  top: 20px; }

.cssload-loader .cssload-subline:nth-child(10) {
  transform: rotate(157.5deg);
  -o-transform: rotate(157.5deg);
  -ms-transform: rotate(157.5deg);
  -webkit-transform: rotate(157.5deg);
  -moz-transform: rotate(157.5deg);
  right: 20px;
  top: 49px; }

.cssload-loader .cssload-subline:nth-child(11) {
  transform: rotate(22.5deg);
  -o-transform: rotate(22.5deg);
  -ms-transform: rotate(22.5deg);
  -webkit-transform: rotate(22.5deg);
  -moz-transform: rotate(22.5deg);
  right: 19px;
  bottom: 48px;
  background: #e81512; }

.cssload-loader .cssload-needle {
  width: 14px;
  height: 14px;
  border: 1px black solid;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -8px 0 0 -8px;
  z-index: 1;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  animation: pegIt 3.45s infinite ease-in-out;
  -o-animation: pegIt 3.45s infinite ease-in-out;
  -ms-animation: pegIt 3.45s infinite ease-in-out;
  -webkit-animation: pegIt 3.45s infinite ease-in-out;
  -moz-animation: pegIt 3.45s infinite ease-in-out; }

.cssload-loader .cssload-needle:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3.5px 49px 3.5px 0;
  border-color: transparent #e81512 transparent transparent;
  position: absolute;
  right: 50%;
  top: 50%;
  margin: -3.5px 0 0 0;
  border-radius: 0 50% 50% 0;
  -o-border-radius: 0 50% 50% 0;
  -ms-border-radius: 0 50% 50% 0;
  -webkit-border-radius: 0 50% 50% 0;
  -moz-border-radius: 0 50% 50% 0; }

@keyframes pegIt {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  16% {
    -webkit-transform: rotate(75deg);
            transform: rotate(75deg); }
  25% {
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg); }
  30% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  36% {
    -webkit-transform: rotate(170deg);
            transform: rotate(170deg); }
  42% {
    -webkit-transform: rotate(150deg);
            transform: rotate(150deg); }
  50% {
    -webkit-transform: rotate(227deg);
            transform: rotate(227deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }
@-webkit-keyframes pegIt {
  0% {
    -webkit-transform: rotate(0deg); }
  16% {
    -webkit-transform: rotate(75deg); }
  25% {
    -webkit-transform: rotate(55deg); }
  30% {
    -webkit-transform: rotate(90deg); }
  36% {
    -webkit-transform: rotate(170deg); }
  42% {
    -webkit-transform: rotate(150deg);
            transform: rotate(150deg); }
  50% {
    -webkit-transform: rotate(227deg); }
  100% {
    -webkit-transform: rotate(0deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
/* Materialize Custimization */
input.input-text:not([type]),
input.input-text[type="text"]:not(.browser-default),
input.input-text[type="password"]:not(.browser-default),
input.input-text[type="email"]:not(.browser-default),
input.input-text[type="url"]:not(.browser-default),
input.input-text[type="time"]:not(.browser-default),
input.input-text[type="date"]:not(.browser-default),
input.input-text[type="dateline"]:not(.browser-default),
input.input-text[type="datetime-local"]:not(.browser-default),
input.input-text[type="tel"]:not(.browser-default),
input.input-text[type="number"]:not(.browser-default),
input.input-text[type="search"]:not(.browser-default),
textarea.input-text.materialize-textarea,
.day-picker .select-wrapper input.select-dropdown {
  /* border: 1px solid $muted; */
  background-color: white;
  color: #888;
  border-radius: 4px;
  padding: 18px 15px;
  font-size: 15px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif; }

.input-text::-webkit-input-placeholder {
  color: #888; }

.input-text:-ms-input-placeholder {
  color: #888; }

.input-text::-ms-input-placeholder {
  color: #888; }

.input-text::placeholder {
  color: #888; }

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  color: #00205d;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent; }

.select-wrapper input.select-dropdown:focus {
  border-color: #758493; }

.day-picker .select-wrapper input.select-dropdown {
  padding-left: 40px; }

.day-picker .select-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .day-picker .select-wrapper::before {
    content: "";
    position: absolute;
    left: 15px;
    z-index: 2;
    background-image: url(../img/icons/calendar.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 18px;
    height: 20px; }

.select-dropdown {
  max-height: 180px; }

.dropdown-content {
  border-radius: 4px; }

.dropdown-content li > a,
.dropdown-content li > span {
  color: #008dd4; }

.day-picker .dropdown-content li > a,
.day-picker .dropdown-content li > span {
  color: black; }

.datepicker-date-display,
.timepicker-digital-display {
  background-color: #008dd4; }

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done,
.timepicker-close {
  color: #008dd4; }

.datepicker-table td.is-today {
  background-color: #e2e2e2;
  color: black; }

.datepicker-table td:hover {
  background-color: #83919e;
  color: white; }

.month-prev:focus,
.month-next:focus {
  background-color: #008dd4; }

.datepicker-table td.is-selected {
  background-color: #008dd4; }

/* TimePicher */
.timepicker-tick.active,
.timepicker-tick:hover {
  color: white;
  background-color: #08acff; }

.timepicker-canvas-bg,
.timepicker-canvas-bearing {
  fill: #008dd4; }

.timepicker-canvas line {
  stroke: #008dd4; }

.btn {
  padding: 7px 18px;
  background-color: #6495ed;
  color: white !important;
  font-size: 13px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1); }
  .btn:hover {
    -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
    background-color: #3676e8; }
  .btn:focus {
    background-color: #6495ed; }

.btn-green {
  background-color: #4c9c32; }
  .btn-green:hover {
    background-color: #3d7d28; }
  .btn-green:focus {
    background-color: #4c9c32; }

.btn-yellow {
  background-color: #ef8b00; }
  .btn-yellow:hover {
    background-color: #d17a00; }
  .btn-yellow:focus {
    background-color: #ff9f19; }

.btn-dark-blue {
  background-color: #0e3477; }
  .btn-dark-blue:hover {
    background-color: #092049; }
  .btn-dark-blue:focus {
    background-color: #00205d; }

.btn-cars-more {
  font-weight: 500;
  padding: 18px; }

.btn-find {
  height: 100%;
  font-weight: 600;
  border-radius: 4px; }
  .btn-find::after {
    content: ">";
    display: inline-block;
    margin-left: 10px; }

.box-shadow {
  -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1); }

/* Specific Button */
.btn-reservation {
  padding: 5px 18px; }

.btn-language {
  color: black !important;
  padding: 2px 8px;
  background-color: white;
  -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1); }
  .btn-language:hover {
    background-color: white; }
  .btn-language:focus {
    background-color: white; }

.i-search {
  background-image: url(../img/icons/searcher.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 22px;
  height: 22px; }

.i-lira {
  background-image: url(../img/icons/turkish-lira.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 18px;
  height: 18px; }

.i-dolar {
  background-image: url(../img/icons/dollar.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 18px;
  height: 18px; }

.i-euro {
  background-image: url(../img/icons/euro.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 15px;
  height: 15px; }

.i-turkey {
  background-image: url(../img/icons/turkey.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 25px;
  height: 25px; }

.i-german {
  background-image: url(../img/icons/germany.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 25px;
  height: 25px; }

.i-russian {
  background-image: url(../img/icons/russia.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 25px;
  height: 25px; }

.i-english {
  background-image: url(../img/icons/uk.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 25px;
  height: 25px; }

.i-date {
  background-image: url(../img/icons/calendar.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 18px;
  height: 18px; }

.i-location {
  background-image: url(../img/icons/location.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 18px; }

.i-confirm {
  background-image: url(../img/icons/confirm.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 17px;
  height: 17px; }

.i-car-gear {
  background-image: url(../img/icons/car-gear.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 17px;
  height: 17px; }

.i-gas-station {
  background-image: url(../img/icons/gas-station.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 17px;
  height: 17px; }

.i-car-type {
  background-image: url(../img/icons/car-type.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 17px;
  height: 17px; }

.i-snow {
  background-image: url(../img/icons/snow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 17px;
  height: 17px; }

.i-car-seat {
  background-image: url(../img/icons/car-seat.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 17px;
  height: 17px; }

.i-call-center {
  background-image: url(../img/icons/call-center.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 24px;
  height: 24px; }

.i-telegram {
  background-image: url(../img/icons/telegram.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-filter: contrast(0.5);
          filter: contrast(0.5); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

p {
  line-height: 1.4;
  margin: 8px 0; }

.h2 {
  margin: 20px 0; }

html {
  font-family: "Poppins", sans-serif; }

img {
  width: 100%;
  height: auto;
  display: block; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* Universal Classes */
.container-fluid {
  width: 100%;
  padding: 0 20px; }

.position-relative {
  position: relative; }

.px-0 {
  padding-left: 0;
  padding-right: 0; }

.icon {
  margin-right: 10px; }

.icon-input {
  position: absolute;
  left: 15px; }

.icon-grey-white {
  -webkit-filter: brightness(3);
          filter: brightness(3); }

.input-text-icon {
  padding-left: 40px !important; }

.invert {
  -webkit-filter: invert(1);
          filter: invert(1); }

.input-top-left-radius {
  border-top-left-radius: 0 !important; }

.d-none {
  display: none !important; }

.border-bottom {
  border-bottom: 1px solid #758493; }

/* Card */
.cars__card {
  padding: 0 !important;
  margin-top: 20px;
  margin-bottom: 20px; }
  .cars__card_title {
    border-bottom: 1px solid #ccc; }
    .cars__card_title h3 {
      padding: 12px 15px; }
  .cars__card_main {
    padding: 20px 20px 0; }
    .cars__card_main .card-main__img_options ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      margin-top: 25px; }
      .cars__card_main .card-main__img_options ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 14px;
        margin-bottom: 14px;
        color: #758493;
        margin-right: 12px; }
        .cars__card_main .card-main__img_options ul li .icon {
          margin-right: 7px; }
    .cars__card_main .card-main__options ul li {
      margin-bottom: 10px;
      font-size: 14px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .cars__card_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #ecf9ff; }
    .cars__card_footer .card-footer__price {
      font-size: 15px;
      font-weight: 600;
      color: #758493;
      text-align: right;
      width: 50%;
      padding: 8px 12px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      line-height: 1; }
      .cars__card_footer .card-footer__price_wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        font-weight: bold;
        letter-spacing: 0.6px; }
        .cars__card_footer .card-footer__price_wrapper .old-price {
          text-decoration: line-through;
          color: #da1a20;
          font-size: 13px; }
        .cars__card_footer .card-footer__price_wrapper .new-price {
          font-size: 18px;
          margin-top: 5px;
          color: #00205d; }
    .cars__card_footer .card-footer__btn {
      width: 50%; }
      .cars__card_footer .card-footer__btn a {
        width: 100%;
        height: 100%;
        text-align: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-weight: 600;
        font-size: 18px; }

.header {
  border-bottom: 3px solid #e60000;
  background-color: white;
  position: relative;
  position: fixed;
  z-index: 5; }
  .header__logo {
    width: 130px;
    position: absolute;
    top: 5px;
    left: 0; }
  .header__menu {
    padding: 15px 0; }
    .header__menu > ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header__menu > ul > li {
        margin-left: 20px;
        position: relative; }
        .header__menu > ul > li > a {
          font-size: 15px;
          font-weight: 500;
          color: black; }
          .header__menu > ul > li > a span {
            line-height: 1; }
        .header__menu > ul > li:hover .header__menu_dropdown {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
    .header__menu_dropdown {
      display: none;
      position: absolute;
      width: 100%;
      background-color: #4c9c32;
      border-radius: 0 0 2px 2px;
      top: 35px;
      -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
              box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1); }
      .header__menu_dropdown a {
        width: 88.92px;
        -webkit-box-shadow: none;
                box-shadow: none; }
        .header__menu_dropdown a:hover {
          -webkit-box-shadow: none;
                  box-shadow: none;
          background-color: rgba(0, 0, 0, 0.1); }
    .header__menu_dropdown_language {
      background-color: white; }
      .header__menu_dropdown_language a {
        width: 67.56px; }

.main-header-padding {
  padding-top: 50px; }

.footer {
  margin-top: 50px; }
  .footer h5 {
    color: #777777;
    font-weight: 600; }
  .footer-container {
    border-top: 1px solid #758493; }
  .footer .list-destination {
    padding: 30px 0; }
    .footer .list-destination li {
      margin-bottom: 10px; }
      .footer .list-destination li a {
        font-size: 14px;
        color: #758493;
        -webkit-transition: 100ms;
        -o-transition: 100ms;
        transition: 100ms; }
        .footer .list-destination li a:hover {
          color: black; }
  .footer__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 0; }
    .footer__about_logo {
      width: 18%; }
    .footer__about_text {
      width: 70%;
      font-size: 14px;
      color: #758493;
      margin-left: 20px; }
  .footer__social {
    padding: 35px 0; }
    .footer__social ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-top: 20px; }
      .footer__social ul li {
        margin-right: 20px; }
        .footer__social ul li img {
          width: 25px;
          height: 25px;
          -webkit-filter: contrast(0.3);
                  filter: contrast(0.3); }
        .footer__social ul li:hover img {
          -webkit-filter: none;
                  filter: none; }
  .footer__contact {
    padding: 35px 0 35px 30px; }
    .footer__contact span {
      font-size: 14px;
      color: #758493;
      display: inline-block;
      margin-top: 5px; }
    .footer__contact_call {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 15px; }
      .footer__contact_call span {
        font-size: 18px;
        color: #00205d;
        font-weight: 600; }
    .footer__contact_mail {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 15px; }
      .footer__contact_mail span {
        font-size: 14px;
        color: #00205d;
        font-weight: 500; }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: 1px solid #758493;
    padding: 20px 0; }
    .footer__links li {
      margin: 0 15px; }
      .footer__links li a {
        color: #758493;
        font-size: 14px; }

.form-section {
  /* background-color: darken($color: $blue, $amount: 30%); */
  background: #1347a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#1347a5), to(#17366f));
  background: -webkit-linear-gradient(top, #1347a5 0%, #17366f 100%);
  background: -o-linear-gradient(top, #1347a5 0%, #17366f 100%);
  background: linear-gradient(180deg, #1347a5 0%, #17366f 100%);
  padding: 150px 0; }
  .form-section .input-field {
    margin-top: 0;
    margin-bottom: 0; }
  .form-section__list {
    margin: 0;
    padding: 0; }
    .form-section__list li {
      padding: 14px;
      background-color: #ff9f19;
      border-radius: 4px;
      color: white;
      position: relative;
      text-align: center;
      top: 3px;
      font-size: 15px; }

/* Cars */
.cars {
  margin-top: 50px; }
  .cars__card {
    width: 100%;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1); }
