/* Helpers */
/*=== MEDIA QUERY ===*/
/*Font Families*/
/* Template settings */
html, div {
  font-family: "Montserrat", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.1; }

p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  margin: 1em 0; }

blockquote {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 1em 0; }

img {
  width: 100%;
  height: auto; }

.container__block {
  margin: 0 120px; }
  @media screen and (max-width: 1400px) {
    .container__block {
      margin: 0 90px; } }
  @media screen and (max-width: 992px) {
    .container__block {
      margin: 0 50px; } }

.bg-red {
  background-color: #B1293F; }

.h2 {
  font-size: 72px; }
  @media screen and (max-width: 1600px) {
    .h2 {
      font-size: 60px; } }
  @media screen and (max-width: 1400px) {
    .h2 {
      font-size: 48px; } }
  @media screen and (max-width: 992px) {
    .h2 {
      font-size: 42px; } }

.h3 {
  font-size: 31px;
  margin: 0.8em 0; }
  @media screen and (max-width: 1400px) {
    .h3 {
      font-size: 28px; } }

.btn {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #000;
  padding: 20px 50px;
  border-radius: 50px;
  cursor: pointer; }
  .btn:hover {
    text-decoration: none;
    color: #000; }

.color-white {
  color: #ffffff; }

/* Sections */
.royal-butler {
  padding: 107px 0 100px; }
  .royal-butler__img {
    width: 1204px;
    margin: 0 auto;
    /* Image Style */
    /* This Block Small Image Style */
    /* Responsive */ }
    .royal-butler__img .image-block__img {
      padding: 0;
      margin-top: 50px; }
    .royal-butler__img .image-block__quadrilateral_big {
      left: -70px;
      top: -50px; }
      @media screen and (max-width: 992px) {
        .royal-butler__img .image-block__quadrilateral_big {
          width: 77px;
          height: 70px;
          left: -40px;
          top: -32px; } }
    .royal-butler__img .image-block__quadrilateral_small {
      bottom: -30px;
      right: -30px; }
      @media screen and (max-width: 992px) {
        .royal-butler__img .image-block__quadrilateral_small {
          width: 37px;
          height: 34px;
          bottom: -16px;
          right: -16px; } }
    .royal-butler__img_small {
      width: 86%; }
      .royal-butler__img_small .image-block__img {
        padding-left: 70px;
        padding-top: 50px; }
      .royal-butler__img_small .image-block__quadrilateral_small {
        bottom: 7px;
        right: 0; }
    @media screen and (max-width: 1400px) {
      .royal-butler__img {
        width: 75%; }
        .royal-butler__img_small {
          width: 90%; } }
    @media screen and (max-width: 992px) {
      .royal-butler__img {
        width: 88.5%; }
        .royal-butler__img_small {
          width: 100%; } }
  .royal-butler__title {
    max-width: 810px;
    text-align: center;
    margin-top: 65px; }
    @media screen and (max-width: 1400px) {
      .royal-butler__title .h2 {
        font-size: 60px; } }
    @media screen and (max-width: 992px) {
      .royal-butler__title {
        margin-top: 50px; } }
  .royal-butler__text {
    max-width: 1050px;
    text-align: center;
    font-weight: 500;
    font-size: 42px;
    margin-top: 50px; }
    @media screen and (max-width: 1600px) {
      .royal-butler__text {
        font-size: 36px; } }
    @media screen and (max-width: 1400px) {
      .royal-butler__text {
        width: 80%;
        font-size: 36px; } }
    @media screen and (max-width: 1200px) {
      .royal-butler__text {
        width: 100%;
        font-size: 26px; } }
    @media screen and (max-width: 992px) {
      .royal-butler__text {
        margin-top: 42px; } }
  .royal-butler__description {
    font-weight: 500;
    font-size: 26px;
    margin-top: 24px; }
    .royal-butler__description p {
      line-height: 1.6; }
    @media screen and (max-width: 1400px) {
      .royal-butler__description {
        font-size: 22px; } }
    @media screen and (max-width: 992px) {
      .royal-butler__description {
        margin-top: 0;
        padding-left: 85px;
        padding-right: 50px;
        font-size: 18px; } }
  @media screen and (max-width: 1400px) {
    .royal-butler {
      padding: 80px 0; } }
  @media screen and (max-width: 992px) {
    .royal-butler {
      padding: 13px 0 45px; } }

.image-block {
  position: relative; }
  .image-block__quadrilateral {
    position: absolute;
    border: 1.66796px solid #e45142; }
    .image-block__quadrilateral_big {
      top: 0;
      left: 0;
      width: 132px;
      height: 120px; }
    .image-block__quadrilateral_small {
      bottom: 0;
      right: 0;
      width: 64px;
      height: 58px; }
    .image-block__quadrilateral_top {
      z-index: 3; }
    .image-block__quadrilateral_bottom {
      z-index: 1; }
  .image-block__img {
    position: relative;
    z-index: 2;
    padding-left: 70px;
    padding-top: 70px;
    padding-bottom: 30px;
    padding-right: 30px; }
    .image-block__img img {
      -webkit-box-shadow: 11px 11px 30px rgba(20, 28, 102, 0.25);
              box-shadow: 11px 11px 30px rgba(20, 28, 102, 0.25); }
    @media screen and (max-width: 992px) {
      .image-block__img {
        padding-left: 20px;
        padding-top: 20px; } }

.quote {
  background-color: #fff;
  -webkit-box-shadow: 11px 11px 30px rgba(20, 28, 102, 0.25);
          box-shadow: 11px 11px 30px rgba(20, 28, 102, 0.25);
  padding: 102px 0 76px;
  margin-top: 130px;
  margin-bottom: 53px;
  position: relative; }
  .quote__icon {
    position: absolute;
    width: 132px;
    height: 120px;
    top: -60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #ffffff;
    border: 1.66796px solid #e45142;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 11px 11px 30px rgba(20, 28, 102, 0.25);
            box-shadow: 11px 11px 30px rgba(20, 28, 102, 0.25); }
    @media screen and (max-width: 992px) {
      .quote__icon {
        width: 100px;
        height: 92px; } }
  .quote__text {
    max-width: 925px;
    font-style: italic;
    font-weight: 300;
    font-size: 34px;
    text-align: center;
    padding: 0 58px; }
  .quote-red {
    background-color: #B1293F;
    color: white; }
  @media screen and (max-width: 1400px) {
    .quote {
      padding: 100px 0; }
      .quote__text {
        font-size: 28px; } }
  @media screen and (max-width: 992px) {
    .quote {
      padding: 50px 0; } }

.i-quote {
  background-image: url(../img/quote-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 52px;
  height: 40px; }
  @media screen and (max-width: 992px) {
    .i-quote {
      width: 39px;
      height: 31px; } }

.school-etiquette {
  padding: 120px 0 107px;
  background-color: #f5f5f5; }
  @media screen and (max-width: 992px) {
    .school-etiquette {
      padding: 58px 0 0; } }
  .school-etiquette__title {
    width: 75%;
    margin-top: 20px; }
    @media screen and (max-width: 1400px) {
      .school-etiquette__title {
        width: 85%; } }
    @media screen and (max-width: 992px) {
      .school-etiquette__title {
        width: 50%; }
        .school-etiquette__title .h2 {
          font-size: 48px; } }
  .school-etiquette__text {
    font-weight: 500;
    font-size: 40px;
    width: 93%;
    margin-top: 58px; }
    @media screen and (max-width: 1400px) {
      .school-etiquette__text {
        width: 95%;
        font-size: 32px; } }
    @media screen and (max-width: 992px) {
      .school-etiquette__text {
        width: 80%;
        font-size: 26px;
        margin-top: 65px; } }
  .school-etiquette__img .image-block__img {
    padding-top: 50px;
    padding-left: 30px; }
  @media screen and (max-width: 992px) {
    .school-etiquette__img {
      float: right;
      width: 55%; }
      .school-etiquette__img .image-block__img {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 0;
        padding-bottom: 0; }
      .school-etiquette__img .image-block__quadrilateral_big {
        width: 80px;
        height: 73px; }
      .school-etiquette__img .image-block__quadrilateral_small {
        width: 39px;
        height: 35px;
        bottom: -17px;
        right: -17px; } }
  .school-etiquette .quote {
    margin-top: 105px; }
    @media screen and (max-width: 992px) {
      .school-etiquette .quote {
        margin-top: 50px; } }

.special-offer {
  padding: 112px 0; }
  .special-offer__title {
    margin-bottom: 50px;
    margin-top: 20px; }
    .special-offer__title .h2 {
      line-height: 1.05; }
  .special-offer__img .image-block__img {
    padding-left: 50px;
    padding-top: 50px; }
  .special-offer__img_title {
    font-weight: 500;
    font-size: 22px;
    color: #fff;
    line-height: 1.2;
    padding: 0 20px;
    margin-left: 32px;
    position: relative;
    top: -10px; }
  .special-offer__logo {
    width: 244px; }
  .special-offer__list {
    margin-top: 70px; }
    .special-offer__list_first {
      width: 75%; }
    .special-offer__list_second {
      width: 85%; }
    .special-offer__list_ul {
      margin: 0;
      padding: 0;
      list-style: none; }
    .special-offer__list_li {
      color: white;
      font-weight: 500;
      font-size: 20.7904px;
      padding: 0.2em 0;
      border-top: 1px solid rgba(255, 255, 255, 0.25); }
  .special-offer__btn {
    margin-top: 58px; }
    .special-offer__btn .btn {
      background-color: #fff; }

.about-platform {
  padding: 120px 0;
  text-align: center; }
  .about-platform__title {
    margin-bottom: 50px; }
  .about-platform__logo {
    width: 355px;
    margin: 0 auto 50px; }
  .about-platform__text {
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 40px;
    margin-top: 60px; }
  .about-platform__card {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 24px 14px;
    margin-top: 30px;
    height: 210px; }
    @media screen and (max-width: 1200px) {
      .about-platform__card {
        height: 240px; } }
    @media screen and (max-width: 992px) {
      .about-platform__card {
        margin-top: 10px; } }
    @media screen and (max-width: 576px) {
      .about-platform__card {
        height: auto; } }
    .about-platform__card_icon {
      width: 68px;
      margin: 0 auto 24px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .about-platform__card_icon img {
        height: 75px;
        -o-object-fit: contain;
           object-fit: contain; }
      .about-platform__card_icon_3 {
        width: 74px; }
      .about-platform__card_icon_4 {
        width: 56px; }
      .about-platform__card_icon_5 {
        width: 116px; }
      .about-platform__card_icon_6 {
        width: 108px; }
    .about-platform__card_text {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase; }
      @media screen and (max-width: 576px) {
        .about-platform__card_text {
          font-size: 14px; } }
