.loc-financial-hall {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2e3192), to(#29abe2));
  background-image: -webkit-linear-gradient(top, #2e3192, #29abe2);
  background-image: -o-linear-gradient(top, #2e3192, #29abe2);
  background-image: linear-gradient(to bottom, #2e3192, #29abe2);
  width: 100%;
  height: 440px;
  position: relative;
  overflow: hidden;

  .header-container {
    @include tablet {
      width: 90%;
    }
  }
}

@media screen and (max-width: 992px) {
  .loc-financial-hall {
    height: 390px;
  }
}
@media screen and (max-width: 567px) {
  .loc-financial-hall {
    height: 390px;
  }
  .loc-kinoteart__bottom {
    width: 100%;
    height: 58px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
  }
}
.loc-kinoteart__block {
  padding: 30px 0 0;
  position: relative;
}
.loc-financial-hall__1 {
  position: absolute;
  left: -140px;
  top: -25px;
}
.loc-financial-hall__1 img {
  width: 480px;
}
@media screen and (max-width: 1600px) {
  .loc-financial-hall__1 {
    left: -300px;
    top: 40px;
  }
  .loc-financial-hall__1 img {
    width: 490px;
  }
}

@media screen and (max-width: 1200px) {
  .loc-financial-hall__1 {
    left: -240px;
    top: 40px;
  }
  .loc-financial-hall__1 img {
    width: 410px;
  }
}
@media screen and (max-width: 992px) {
  .loc-financial-hall__1 {
    top: inherit;
    bottom: -100px;
    left: -180px;
  }
  .loc-financial-hall__1 img {
    width: 380px;
  }
}
@media screen and (max-width: 576px) {
  .loc-financial-hall__1 {
    bottom: 0;
    left: -100px;
  }
  .loc-financial-hall__1 img {
    width: 240px;
  }
}
.loc-financial-hall__2 {
  position: absolute;
  right: -60px;
  top: -120px;

  @include laptop-3 {
    right: -250px;
  }
}
.loc-financial-hall__2 img {
  width: 430px;

  @include laptop-3 {
    width: 400px;
  }
}

@media screen and (max-width: 1200px) {
  .loc-financial-hall__2 {
    right: -170px;
    top: -40px;
  }
  .loc-financial-hall__2 img {
    width: 300px;
  }
}
@media screen and (max-width: 992px) {
  .loc-financial-hall__2 {
    right: -70px;
    top: 40px;
  }
  .loc-financial-hall__2 img {
    width: 260px;
  }
}
.loc-financial-hall__3 img {
  width: 30px;
}
@media screen and (max-width: 576px) {
  .loc-financial-hall__3 {
    position: absolute;
    left: 120px;
    top: 38px;
  }
}
.loc-financial-hall__4 {
  margin-top: 8px;
}
.loc-financial-hall__4 img {
  width: 170px;
}
@media screen and (max-width: 992px) {
  .loc-financial-hall__4 img {
    width: 150px;
  }
}
@media screen and (max-width: 576px) {
  .loc-financial-hall__4 img {
    width: 110px;
  }
}
.loc-financial-hall__5 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.loc-financial-hall__5 img {
  width: 240px;
}
@media screen and (max-width: 992px) {
  .loc-financial-hall__5 {
    margin: 10px 0;
  }
}
@media screen and (max-width: 576px) {
  .loc-financial-hall__5 {
    margin: 10px 0;
  }
  .loc-financial-hall__5 img {
    width: 180px;
  }
}
.loc-financial-hall__6 {
  margin-top: 20px;
}
.loc-financial-hall__6 img {
  width: 260px;

  @include laptop-3 {
    width: 235px;
  }
}
@media screen and (max-width: 1200px) {
  .loc-financial-hall__6 img {
    width: 280px;
  }
}
@media screen and (max-width: 992px) {
  .loc-financial-hall__6 img {
    width: 250px;
  }
}

@media screen and (max-width: 576px) {
  .loc-financial-hall__6 {
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
  }
  .loc-financial-hall__6 img {
    width: 190px;
  }
}
.loc-financial-hall__7 {
  position: absolute;
  right: 300px;
  top: -77px;
  z-index: 2;

  animation: loc-7 1.7s;
  animation-timing-function: cubic-bezier(0.68, 0.27, 0.44, 0.92);
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.loc-financial-hall__7 img {
  width: 230px;
}
@media screen and (max-width: 1200px) {
  .loc-financial-hall__7 {
    right: 226px;
    top: -53px;
  }
  .loc-financial-hall__7 img {
    width: 200px;
  }
}
@media screen and (max-width: 992px) {
  .loc-financial-hall__7 {
    right: 227px;
    top: 0;
  }
  .loc-financial-hall__7 img {
    width: 170px;
  }
}

@media screen and (max-width: 576px) {
  .loc-financial-hall__7 {
    right: -191px;
    top: -254px;
    position: relative;
  }
  .loc-financial-hall__7 img {
    width: 130px;
  }
}

.loc-financial-hall__8 {
  position: absolute;
  right: -110px;
  top: 127px;
  z-index: 2;
}
.loc-financial-hall__8 img {
  width: 540px;
}
@media screen and (max-width: 1200px) {
  .loc-financial-hall__8 {
    right: -168px;
    top: 118px;
  }
  .loc-financial-hall__8 img {
    width: 510px;
  }
}
@media screen and (max-width: 992px) {
  .loc-financial-hall__8 {
    right: -44px;
    top: 161px;
  }
  .loc-financial-hall__8 img {
    width: 370px;
  }
}

@media screen and (max-width: 576px) {
  .loc-financial-hall__8 {
    position: relative;
    right: -46px;
    top: -216px;
  }
  .loc-financial-hall__8 img {
    width: 290px;
  }
}

.loc-financial-hall__9 {
  position: absolute;
  right: -14px;
  top: 72px;
  z-index: 2;
}
.loc-financial-hall__9 img {
  width: 140px;
}
@media screen and (max-width: 1200px) {
  .loc-financial-hall__9 {
    right: -80px;
    top: 43px;
  }
  .loc-financial-hall__9 img {
  }
}
@media screen and (max-width: 992px) {
  .loc-financial-hall__9 {
    right: 5px;
    top: 106px;
  }
  .loc-financial-hall__9 img {
    width: 110px;
  }
}

@media screen and (max-width: 576px) {
  .loc-financial-hall__9 {
    position: relative;
    top: inherit;
    bottom: 443px;
    right: -207px;
  }
  .loc-financial-hall__9 img {
    width: 90px;
  }
}

.loc-financial-hall__10 {
  position: absolute;
  right: 322px;
  top: 251px;
  z-index: 2;
}
.loc-financial-hall__10 img {
  width: 230px;
}
@media screen and (max-width: 1200px) {
  .loc-financial-hall__10 {
    right: 216px;
    top: 254px;
  }
  .loc-financial-hall__10 img {
    width: 200px;
  }
}
@media screen and (max-width: 992px) {
  .loc-financial-hall__10 {
    right: 243px;
    top: 240px;
  }
  .loc-financial-hall__10 img {
    width: 180px;
  }
}

@media screen and (max-width: 576px) {
  .loc-financial-hall__10 {
    position: relative;
    top: inherit;
    bottom: 491px;
    right: -8px;
  }
  .loc-financial-hall__10 img {
    width: 150px;
  }
}

.loc-financial-hall__11 {
  position: absolute;
  right: 181px;
  top: 137px;
  z-index: 2;
}
.loc-financial-hall__11 img {
  width: 230px;
}
@media screen and (max-width: 1200px) {
  .loc-financial-hall__11 {
    right: 102px;
    top: 140px;
  }
  .loc-financial-hall__11 img {
    width: 200px;
  }
}
@media screen and (max-width: 992px) {
  .loc-financial-hall__11 {
    right: 151px;
    top: 174px;
  }
  .loc-financial-hall__11 img {
    width: 150px;
  }
}

@media screen and (max-width: 576px) {
  .loc-financial-hall__11 {
    position: relative;
    top: inherit;
    right: -70px;
    bottom: 686px;
  }
  .loc-financial-hall__11 img {
    width: 130px;
  }
}

.loc-school__4 {
  margin-top: 12px;
}
.loc-school__4 img {
  width: 170px;

  @include netbook {
    width: 105px;
  }
}

@media screen and (max-width: 576px) {
  .loc-school__4 {
    position: relative;
    top: -35px;
  }
}
.loc-school__5 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.loc-school__5 img {
  width: 240px;
}
@media screen and (max-width: 992px) {
  .loc-school__5 {
    margin: 10px 0;
  }
  .loc-school__5 img {
    width: 180px;
  }
}
@media screen and (max-width: 576px) {
  .loc-school__5 {
    position: relative;
    top: -30px;
    margin: 10px 0;
  }
  .loc-school__5 img {
    width: 180px;
  }
}
.loc-school__6 {
  margin-top: 20px;
}
.loc-school__6 img {
  width: 210px;
}
@media screen and (max-width: 1200px) {
  .loc-school__6 img {
    width: 200px;
  }
}
@media screen and (max-width: 992px) {
  .loc-school__6 img {
    width: 180px;
  }
}
@media screen and (max-width: 767px) {
  .loc-school__6 img {
    width: 180px;
  }
}
@media screen and (max-width: 576px) {
  .loc-school__6 {
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
  }
  .loc-school__6 img {
    width: 160px;
  }
}
.loc-school__7 {
  display: flex;
  align-items: center;
  /* position: absolute;
                      right: 859px;
                      top: 35px; */
  z-index: 2;

  animation: loc-3 1.2s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.loc-school__7 img {
  width: 55px;
}

.loc-school__8 {
  position: absolute;
  right: -60px;
  top: 37px;
  z-index: 2;
}
.loc-school__8 img {
  width: 540px;
}
@media screen and (max-width: 1200px) {
  .loc-school__8 {
    position: absolute;
  }
  .loc-school__8 img {
    width: 510px;
  }
}
@media screen and (max-width: 992px) {
  .loc-school__8 {
    top: 82px;
    position: absolute;
  }
  .loc-school__8 img {
    width: 400px;
  }
}
@media screen and (max-width: 767px) {
  .loc-school__8 {
    position: absolute;
  }
}
@media screen and (max-width: 576px) {
  .loc-school__8 {
    position: absolute;
    top: 200px;
    right: 0;
  }
  .loc-school__8 img {
    width: 300px;
  }
}

.loc-school__9 {
  position: absolute;
  right: 145px;
  top: 302px;
  z-index: 2;
}
.loc-school__9 img {
  width: 100px;
}
@media screen and (max-width: 1200px) {
  .loc-school__9 {
  }
  .loc-school__9 img {
    width: 90px;
  }
}
@media screen and (max-width: 992px) {
  .loc-school__9 {
    right: 99px;
    top: 286px;
  }
  .loc-school__9 img {
    width: 70px;
  }
}
@media screen and (max-width: 767px) {
  .loc-school__9 {
    right: 96px;
    top: inherit;
    bottom: -66px;
  }
  .loc-school__9 img {
    width: 70px;
  }
}
@media screen and (max-width: 576px) {
  .loc-school__9 {
    position: absolute;
    right: 100px;
    top: inherit;
    bottom: -31px;
  }
  .loc-school__9 img {
    width: 60px;
  }
}

.loc-school__12 {
  position: absolute;
  z-index: 1;
  top: 45px;
  right: -70px;
  -webkit-animation: loc-2 4s;
  animation: loc-2 4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.loc-school__12 img {
  width: 300px;
}
@media screen and (max-width: 1200px) {
  .loc-school__12 {
    right: -140px;
    /* img {
                            width: 250px;
                          } */
  }
}
@media screen and (max-width: 992px) {
  .loc-school__12 {
    top: 40px;
    right: 0px;
  }
  .loc-school__12 img {
    width: 240px;
  }
}
@media screen and (max-width: 576px) {
  .loc-school__12 {
    position: relative;
    z-index: 2;
    top: -530px;
    right: -240px;
    width: 120px;
  }
}
.loc-school__13 {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 240px;
  -webkit-animation: loc-2 4s;
  animation: loc-2 4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.loc-school__13 img {
  width: 270px;
}
@media screen and (max-width: 1200px) {
  .loc-school__13 {
  }
}
@media screen and (max-width: 992px) {
  .loc-school__13 {
  }
  .loc-school__13 img {
    width: 190px;
  }
}
@media screen and (max-width: 576px) {
  .loc-school__13 {
    position: relative;
    top: -600px;
    right: -220px;
  }
}

.loc-embassy-of-knowledge__5 {
  margin: 20px 0;
}
.loc-embassy-of-knowledge__5 img {
  width: 240px;
}
@media screen and (max-width: 992px) {
  .loc-embassy-of-knowledge__5 {
    margin: 10px 0;
  }
  .loc-embassy-of-knowledge__5 img {
    width: 180px;
  }
}
@media screen and (max-width: 576px) {
  .loc-embassy-of-knowledge__5 {
    margin: 10px 0;
  }
  .loc-embassy-of-knowledge__5 img {
    width: 180px;
  }
}
.loc-embassy-of-knowledge__6 {
  margin-top: 20px;
}
.loc-embassy-of-knowledge__6 img {
  width: 290px;
}
@media screen and (max-width: 1200px) {
  .loc-embassy-of-knowledge__6 img {
    width: 200px;
  }
}
@media screen and (max-width: 992px) {
  .loc-embassy-of-knowledge__6 img {
    width: 180px;
  }
}
@media screen and (max-width: 767px) {
  .loc-embassy-of-knowledge__6 img {
    width: 180px;
  }
}
@media screen and (max-width: 576px) {
  .loc-embassy-of-knowledge__6 {
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
  }
  .loc-embassy-of-knowledge__6 img {
    width: 160px;
  }
}

.loc-embassy-of-knowledge__8 {
  position: absolute;
  right: -60px;
  top: 37px;
  z-index: 2;
}
.loc-embassy-of-knowledge__8 img {
  width: 560px;
}
@media screen and (max-width: 1200px) {
  .loc-embassy-of-knowledge__8 {
    position: absolute;
  }
  .loc-embassy-of-knowledge__8 img {
    width: 510px;
  }
}
@media screen and (max-width: 992px) {
  .loc-embassy-of-knowledge__8 {
    top: 82px;
    position: absolute;
  }
  .loc-embassy-of-knowledge__8 img {
    width: 400px;
  }
}
@media screen and (max-width: 767px) {
  .loc-embassy-of-knowledge__8 {
    position: absolute;
  }
  .loc-embassy-of-knowledge__8 img {
  }
}
@media screen and (max-width: 576px) {
  .loc-embassy-of-knowledge__8 {
    position: absolute;
    top: 220px;
    right: -15px;
  }
  .loc-embassy-of-knowledge__8 img {
    width: 300px;
  }
}

.loc-embassy-of-knowledge__12 {
  position: absolute;
  z-index: 1;
  top: 45px;
  right: -70px;
  -webkit-animation: loc-2 4s;
  animation: loc-2 4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  width: 360px;
}

@media screen and (max-width: 1200px) {
  .loc-embassy-of-knowledge__12 {
    right: -140px;
  }
}
@media screen and (max-width: 992px) {
  .loc-embassy-of-knowledge__12 {
    top: 40px;
    right: 0px;
    width: 240px;
  }
}
@media screen and (max-width: 576px) {
  .loc-embassy-of-knowledge__12 {
    width: 140px;
  }
}

.loc-amusement-park__7 {
  position: relative;
  right: -130px;
  top: -175px;
  z-index: 2;
}
.loc-amusement-park__7 img {
  width: 197px;
}
@media screen and (max-width: 1200px) {
  .loc-amusement-park__7 {
    right: -90px;
    top: -169px;
  }
  .loc-amusement-park__7 img {
    width: 220px;
  }
}
@media screen and (max-width: 992px) {
  .loc-amusement-park__7 {
    right: -84px;
    top: -145px;
  }
  .loc-amusement-park__7 img {
    width: 180px;
  }
}
@media screen and (max-width: 767px) {
  .loc-amusement-park__7 {
    right: -98px;
    top: -143px;
  }
  .loc-amusement-park__7 img {
    width: 160px;
  }
}
@media screen and (max-width: 576px) {
  .loc-amusement-park__7 {
    right: -60px;
    top: -139px;
  }
  .loc-amusement-park__7 img {
    width: 150px;
  }
}

.loc-amusement-park__8 {
  position: absolute;
  right: 67px;
  top: 101px;
  z-index: 3;
}
.loc-amusement-park__8 img {
  width: 670px;
}
@media screen and (max-width: 1200px) {
  .loc-amusement-park__8 {
    position: absolute;
    right: -2px;
    top: 106px;
  }
  .loc-amusement-park__8 img {
    width: 610px;
  }
}
@media screen and (max-width: 992px) {
  .loc-amusement-park__8 {
    top: 143px;
    right: 64px;
    position: absolute;
  }
  .loc-amusement-park__8 img {
    width: 450px;
  }
}
@media screen and (max-width: 767px) {
  .loc-amusement-park__8 {
    position: absolute;
    top: 102px;
    right: 0;
  }
  .loc-amusement-park__8 img {
    width: 500px;
  }
}
@media screen and (max-width: 576px) {
  .loc-amusement-park__8 {
    position: relative;
    top: -98px;
    right: 103px;
  }
  .loc-amusement-park__8 img {
    width: 410px;
  }
}

.loc-amusement-park__9 {
  position: absolute;
  right: -35px;
  top: 170px;
  z-index: 3;
  animation: loc-7 1s;
  animation-timing-function: cubic-bezier(0.68, 0.27, 0.44, 0.92);
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.loc-amusement-park__9 img {
  width: 200px;
}
@media screen and (max-width: 1200px) {
  .loc-amusement-park__9 {
  }
  .loc-amusement-park__9 img {
    width: 150px;
  }
}
@media screen and (max-width: 992px) {
  .loc-amusement-park__9 {
    right: 21px;
    top: 198px;
  }
  .loc-amusement-park__9 img {
    width: 120px;
  }
}
@media screen and (max-width: 767px) {
  .loc-amusement-park__9 {
    position: absolute;
    right: 0px;
  }
  .loc-amusement-park__9 img {
    width: 100px;
  }
}
@media screen and (max-width: 576px) {
  .loc-amusement-park__9 {
    top: 260px;
  }
  .loc-amusement-park__9 img {
    width: 90px;
  }
}

.loc-amusement-park__12 {
  position: absolute;
  z-index: 2;
  top: 45px;
  right: 70px;
  -webkit-animation: loc-2 4s;
  animation: loc-2 4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.loc-amusement-park__12 img {
  width: 300px;
}
@media screen and (max-width: 1200px) {
  .loc-amusement-park__12 {
    /* img {
                                            width: 250px;
                                          } */
  }
}
@media screen and (max-width: 992px) {
  .loc-amusement-park__12 {
  }
  .loc-amusement-park__12 img {
    width: 240px;
  }
}
@media screen and (max-width: 576px) {
  .loc-amusement-park__12 {
    right: 20px;
    top: 62px;
  }
  .loc-amusement-park__12 img {
    width: 140px;
  }
}
.loc-amusement-park__13 {
  position: absolute;
  z-index: 1;
  top: 60px;
  right: -140px;
  -webkit-animation: loc-2 4s;
  animation: loc-2 4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.loc-amusement-park__13 img {
  width: 270px;
}
@media screen and (max-width: 1200px) {
  .loc-amusement-park__13 {
  }
}
@media screen and (max-width: 992px) {
  .loc-amusement-park__13 {
    right: -20px;
    top: 75px;
  }
  .loc-amusement-park__13 img {
    width: 190px;
  }
}
@media screen and (max-width: 576px) {
  .loc-amusement-park__13 {
    top: 50px;
  }
  .loc-amusement-park__13 img {
    width: 130px;
  }
}

.loc-cartoons__1 {
  position: absolute;
  left: -140px;
  top: -25px;
}
.loc-cartoons__1 img {
  width: 480px;
}
@media screen and (max-width: 1200px) {
  .loc-cartoons__1 {
    left: -240px;
    top: 40px;
  }
  .loc-cartoons__1 img {
    width: 410px;
  }
}
@media screen and (max-width: 992px) {
  .loc-cartoons__1 {
    top: inherit;
    bottom: -100px;
    left: 0;
  }
  .loc-cartoons__1 img {
    width: 300px;
  }
}
@media screen and (max-width: 576px) {
  .loc-cartoons__1 {
    bottom: 0;
    left: -100px;
  }
  .loc-cartoons__1 img {
    width: 240px;
  }
}
.loc-cartoons__2 {
  position: absolute;
  right: -60px;
  top: -120px;
}
.loc-cartoons__2 img {
  width: 430px;
}
@media screen and (max-width: 1200px) {
  .loc-cartoons__2 {
    right: -170px;
    top: -40px;
  }
  .loc-cartoons__2 img {
    width: 300px;
  }
}
@media screen and (max-width: 992px) {
  .loc-cartoons__2 {
    right: -70px;
    top: 40px;
  }
  .loc-cartoons__2 img {
    width: 260px;
  }
}
.loc-cartoons__3 {
  display: flex;
  align-items: center;
  width: 30px;
}
.loc-cartoons__3 img {
  width: 30px;
  margin-right: 10px;
}
@media screen and (max-width: 576px) {
  .loc-cartoons__3 {
  }
}
.loc-cartoons__4 {
  margin-top: 8px;
}
.loc-cartoons__4 img {
  width: 170px;
}
@media screen and (max-width: 992px) {
  .loc-cartoons__4 img {
    width: 150px;
  }
}
@media screen and (max-width: 576px) {
  .loc-cartoons__4 img {
    width: 110px;
  }
}
.loc-cartoons__5 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.loc-cartoons__5 img {
  width: 240px;
}
@media screen and (max-width: 992px) {
  .loc-cartoons__5 {
    margin: 10px 0;
  }
  .loc-cartoons__5 img {
    width: 180px;
  }
}
@media screen and (max-width: 576px) {
  .loc-cartoons__5 {
    margin: 10px 0;
  }
  .loc-cartoons__5 img {
    width: 180px;
  }
}
.loc-cartoons__6 {
  margin-top: 20px;
  position: relative;
}
.loc-cartoons__6 img {
  width: 300px;
}
@media screen and (max-width: 1200px) {
  .loc-cartoons__6 img {
    width: 280px;
  }
}
@media screen and (max-width: 992px) {
  .loc-cartoons__6 img {
    width: 240px;
  }
}
@media screen and (max-width: 767px) {
  .loc-cartoons__6 img {
    width: 210px;
  }
}
@media screen and (max-width: 576px) {
  .loc-cartoons__6 {
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
  }
  .loc-cartoons__6 img {
    width: 180px;
  }
}
.loc-cartoons__7 {
  position: relative;
  right: -130px;
  top: -175px;
  z-index: 2;
}
.loc-cartoons__7 img {
  width: 197px;
}
@media screen and (max-width: 1200px) {
  .loc-cartoons__7 {
    right: -90px;
    top: -169px;
  }
  .loc-cartoons__7 img {
    width: 220px;
  }
}
@media screen and (max-width: 992px) {
  .loc-cartoons__7 {
    right: -84px;
    top: -145px;
  }
  .loc-cartoons__7 img {
    width: 180px;
  }
}
@media screen and (max-width: 767px) {
  .loc-cartoons__7 {
    right: -74px;
    top: -126px;
  }
  .loc-cartoons__7 img {
    width: 160px;
  }
}
@media screen and (max-width: 576px) {
  .loc-cartoons__7 {
    right: -60px;
    top: -139px;
  }
  .loc-cartoons__7 img {
  }
}

.loc-cartoons__8 {
  position: absolute;
  right: 30px;
  top: 32px;
  z-index: 3;
}
.loc-cartoons__8 img {
  width: 460px;
}
@media screen and (max-width: 1200px) {
  .loc-cartoons__8 {
    position: relative;
    right: -314px;
    top: -366px;
  }
  .loc-cartoons__8 img {
    width: 440px;
  }
}
@media screen and (max-width: 992px) {
  .loc-cartoons__8 {
    position: relative;
    right: -261px;
    top: -256px;
  }
  .loc-cartoons__8 img {
    width: 340px;
  }
}
@media screen and (max-width: 576px) {
  .loc-cartoons__8 {
    position: relative;
    top: -140px;
    right: -95px;
  }
  .loc-cartoons__8 img {
    width: 240px;
  }
}

.loc-cartoons__9 {
  position: absolute;
  right: -35px;
  top: 170px;
  z-index: 3;
}
.loc-cartoons__ img {
  width: 200px;
}
@media screen and (max-width: 1200px) {
  .loc-cartoons__9 {
  }
  .loc-cartoons__9 img {
  }
}
@media screen and (max-width: 992px) {
  .loc-cartoons__9 {
  }
  .loc-cartoons__9 img {
  }
}

@media screen and (max-width: 576px) {
  .loc-cartoons__9 {
  }
  .loc-cartoons__9 img {
  }
}

.loc-cartoons__14 {
  position: absolute;
  right: 427px;
  top: 122px;
  z-index: 3;
}
.loc-cartoons__14 img {
  width: 30px;
  animation: loc-6 1s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@media screen and (max-width: 1200px) {
  .loc-cartoons__14 {
    position: relative;
    right: -398px;
    top: -654px;
    z-index: 3;
  }
  .loc-cartoons__14 img {
  }
}
@media screen and (max-width: 992px) {
  .loc-cartoons__14 {
    right: -311px;
    top: -503px;
  }
  .loc-cartoons__14 img {
  }
}

@media screen and (max-width: 576px) {
  .loc-cartoons__14 {
    right: -104px;
    top: -305px;
  }
  .loc-cartoons__14 img {
  }
}

.loc-cartoons__15 {
  position: absolute;
  right: 350px;
  top: 100px;
  z-index: 3;
}
.loc-cartoons__15 img {
  width: 50px;
  animation: loc-6 1s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@media screen and (max-width: 1200px) {
  .loc-cartoons__15 {
    position: relative;
    right: -411px;
    top: -778px;
    z-index: 3;
  }
  .loc-cartoons__15 img {
  }
}
@media screen and (max-width: 992px) {
  .loc-cartoons__15 {
    right: -320px;
    top: -644px;
  }
  .loc-cartoons__15 img {
  }
}

@media screen and (max-width: 576px) {
  .loc-cartoons__15 {
    right: -292px;
    top: -259px;
  }
  .loc-cartoons__15 img {
    width: 40px;
  }
}

.loc-cartoons__16 {
  position: absolute;
  right: 60px;
  top: 32px;
  z-index: 3;
}
.loc-cartoons__16 img {
  width: 50px;
  animation: loc-6 1s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@media screen and (max-width: 1200px) {
  .loc-cartoons__16 {
    position: relative;
    right: -657px;
    top: -858px;
    z-index: 3;
  }
  .loc-cartoons__16 img {
  }
}
@media screen and (max-width: 992px) {
  .loc-cartoons__16 {
    right: -573px;
    top: -627px;
  }
  .loc-cartoons__16 img {
  }
}

@media screen and (max-width: 576px) {
  .loc-cartoons__16 {
    right: -267px;

    top: -468px;
  }
  .loc-cartoons__16 img {
    width: 30px;
  }
}

.loc-cartoons__17 {
  position: absolute;
  right: -61px;
  top: 211px;
  z-index: 3;
}
.loc-cartoons__17 img {
  width: 50px;
  animation: loc-6 1s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@media screen and (max-width: 1200px) {
  .loc-cartoons__17 {
    position: relative;
    right: -791px;
    top: -745px;
    z-index: 3;
  }
  .loc-cartoons__17 img {
  }
}
@media screen and (max-width: 992px) {
  .loc-cartoons__17 {
    right: -557px;
    top: -517px;
  }
  .loc-cartoons__17 img {
  }
}

@media screen and (max-width: 576px) {
  .loc-cartoons__17 {
    right: -210px;
    top: -537px;
  }
  .loc-cartoons__17 img {
    width: 30px;
  }
}

.loc-cartoons__18 {
  position: absolute;
  right: -111px;
  top: 194px;
  z-index: 3;
}
.loc-cartoons__18 img {
  width: 30px;
  animation: loc-6 1s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@media screen and (max-width: 1200px) {
  .loc-cartoons__18 {
    position: relative;
    right: -770px;
    top: -920px;
    z-index: 3;
  }
  .loc-cartoons__18 img {
  }
}
@media screen and (max-width: 992px) {
  .loc-cartoons__18 {
    right: -497px;
    top: -794px;
  }
  .loc-cartoons__18 img {
  }
}
@media screen and (max-width: 576px) {
  .loc-cartoons__18 {
    right: -58px;
    top: -450px;
  }
  .loc-cartoons__18 img {
  }
}

.loc-cartoons__12 {
  position: absolute;
  z-index: 2;
  top: 75px;
  right: -30px;
  -webkit-animation: loc-2 4s;
  animation: loc-2 4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.loc-cartoons__12 img {
  width: 300px;
}
@media screen and (max-width: 1200px) {
  .loc-cartoons__12 {
    /* img {
                                            width: 250px;
                                          } */
  }
}
@media screen and (max-width: 992px) {
  .loc-cartoons__12 {
    top: 10px;
  }
  .loc-cartoons__12 img {
    width: 240px;
  }
}
@media screen and (max-width: 576px) {
  .loc-cartoons__12 {
    display: none;
    right: 20px;
    top: 62px;
  }
  .loc-cartoons__12 img {
    width: 140px;
  }
}
.loc-cartoons__13 {
  position: absolute;
  z-index: 1;
  top: 40px;
  right: 250px;
  -webkit-animation: loc-2 4s;
  animation: loc-2 4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.loc-cartoons__13 img {
  width: 270px;
}
@media screen and (max-width: 1200px) {
  .loc-cartoons__13 {
  }
}
@media screen and (max-width: 992px) {
  .loc-cartoons__13 {
    right: -20px;
    top: 75px;
  }
  .loc-cartoons__13 img {
    width: 190px;
  }
}
@media screen and (max-width: 576px) {
  .loc-cartoons__13 {
    display: none;
    top: 50px;
  }
  .loc-cartoons__13 img {
    width: 130px;
  }
}
