* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p{
  line-height: 1.4;
  margin: 8px 0;
}

.h2 {
  margin: 20px 0;
}

html {
  font-family: $font;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  box-sizing: border-box;
}

/* Universal Classes */

.container-fluid {
  width: 100%;
  padding: 0 15px;

  @include mobile{
    padding: 0;
  }
}

.position-relative {
  position: relative;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.icon {
  margin-right: 10px;

  @include mobile{
    margin-right: 7px;
  }
}

.icon-input{
  position: absolute;
  left: 15px;
}

.icon-grey-white{
  filter: brightness(3);
}

.input-text-icon{
  padding-left: 40px !important;
}

.invert {
  filter: invert(1);
}

.input-top-left-radius{
  border-top-left-radius: 0 !important;
}

.d-none{
  display: none !important;
}

.border-bottom{
  border-bottom: 1px solid $muted;
}



/* Card */

.cars__card {
  padding: 0 !important;
  margin-top: 20px;
  margin-bottom: 20px;
  &_title {
    h3 {
      padding: 12px 15px;
    }
    border-bottom: 1px solid #ccc;
  }

  &_main {
    padding: 20px 20px 0;
    .card-main {
      &__img {
      }
      &__img_options {
        ul {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-evenly;
          margin-top: 25px;
          li {
            display: flex;
            align-items: center;
            font-size: 14px;
            margin-bottom: 14px;
            color: $muted;
            margin-right: 12px;

            @include mobile{
              font-size: 12px;
            }

            .icon {
              margin-right: 7px;
            }
          }
        }
      }
      &__options {
        
        ul {
          li {
            margin-bottom: 10px;
            font-size: 14px;
            display: flex;
            align-items: center;
          }
        }

        @include mobile{
          margin-top: 15px;
          margin-bottom: 15px;
          ul{
            li{
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  &_footer {
    display: flex;
    background-color: #ecf9ff;
   

    .card-footer {
      &__price {
        font-size: 15px;
        font-weight: 600;
        color: $muted;
        text-align: right;
        width: 50%;
        padding: 8px 12px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        line-height: 1;

        @include mobile{
          text-align: right;
          font-size: 12px;
          align-items: center;
        }

        &_wrapper{
          display: flex;
          flex-direction: column;
          font-weight: bold;
          letter-spacing: 0.6px;

          .old-price{
            text-decoration: line-through;
            color: $red;
            font-size: 13px;
          }
          .new-price{
            font-size: 18px;
            margin-top: 5px;
            color: $dark-blue;
          }

          /* @include mobile{
            .old-price{
              font-size: 13px;
            }
            .new-price{
              font-size: 18px;
            }
            
          } */
        }
      }

      &__btn {
        width: 50%;
        a{
          width: 100%;
          height: 100%;
          text-align: center;
          justify-content: center;
          font-weight: 600;
          font-size: 18px;
        }
      }
    }

     @include mobile{
      flex-direction: column;

      .card-footer__price, .card-footer__btn{
        width: 100%;
      }
    }
  }
}
