RewriteEngine On

# редирект с www
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ https://%1/$1 [L,R=301]


RewriteBase /

# Убираем html
Options All -Indexes -MultiViews
RewriteCond %{DOCUMENT_ROOT}/$1\.php -f [NC]
RewriteRule ^(.+?)/?$ $1.php [L]

# RewriteCond %{THE_REQUEST} " (/[^?/]+)\.php"
# RewriteRule ^ %1 [R=301,L]

RewriteCond %{THE_REQUEST} "^GET /(\S*)\.php"
RewriteRule . https://remont-po-price.ru/%1 [R=301,L]