<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="textolite.php" />
			</files>
		</defaultDocument>
		<rewrite>
			<rules>
				<rule name="Textolite Rule" stopProcessing="true">
					<match url="^.*$" ignoreCase="true" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" negate="true" />
					</conditions>
					<action type="Rewrite" url="textolite.php?q={R:0}" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
		<security>
			<requestFiltering>
				<fileExtensions>
					<add fileExtension=".ini" allowed="false" />
					<add fileExtension=".log" allowed="false" />
				</fileExtensions>
			</requestFiltering>
		</security>
		<directoryBrowse enabled="false" />
	</system.webServer>
</configuration>