.register-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000008c;
  z-index: 1;
  overflow-y: auto;
  display: none;

  &__overlay {
    width: 100%;
    height: 100vh;
  }

  &__wrapper {
    width: 1201px;
    height: auto;
    margin: 40px auto;
    background: rgb(26, 33, 119);
    background: linear-gradient(213deg, rgba(26, 33, 119, 1) 35%, rgba(51, 170, 222, 1) 100%);
    position: absolute;
    border-radius: 15px;
    z-index: 2;
    top: 0;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    color: white;
    font-family: sans-serif;
    padding: 25px;
    box-sizing: border-box;

    &_title {
      color: #fac04f;
      font-size: 38px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      margin: 30px 0;
    }
  }

  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__send {
    width: 100%;
    margin: 30px 0 10px;
    display: block;

    button {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      padding: 15px 50px;
      font-size: 26px;
      font-weight: bold;
      background-color: #fc6568;
      color: white;
      border-radius: 10px;
      border: none;
      text-transform: uppercase;
      cursor: pointer;
      transition: 200ms ease;

      &:hover {
        background-color: darken($color: #fc6568, $amount: 5%);
      }
    }
  }

  &__close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;

    span {
      transform: rotate(45deg);

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .column-6 {
    width: 50%;
    padding: 5px 15px;
    box-sizing: border-box;
  }
}

.register-form {
  margin-bottom: 20px;
  &__title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 6px;
  }

  &__helper {
    font-size: 10px;
  }

  &__important {
    margin-top: 8px;
    font-size: 13px;
  }

  /* Select */
  /* Reset Select */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: transparent;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }

  /* Custom Select */
  .register-select {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: transparent;
    background-color: transparent;
    border: 1px solid #fff;
    box-sizing: border-box;
    margin-bottom: 5px;

    &::after {
      content: "\25BC";
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      background: transparent;
      cursor: pointer;
      pointer-events: none;
      -webkit-transition: 0.25s all ease;
      -o-transition: 0.25s all ease;
      transition: 0.25s all ease;
    }

    &:hover {
      &::after {
        color: white;
        opacity: 0.5;
      }
    }

    .help-block {
      position: absolute;
      top: 35px;
    }
  }

  select {
    flex: 1;
    padding: 12px 10px;
    color: black;
    cursor: pointer;
    font-size: 20px;
  }
}

.register-input {
  width: 100%;
  padding: 12px 10px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  box-sizing: border-box;
  font-weight: bold;
  text-transform: uppercase;
  color: white;

  &::placeholder {
    color: #93b7d8;
    text-transform: initial;
  }

  &:focus {
    outline: none;
    border-color: #fff;
  }
}

.register-toggle {
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 25px;
  &__btn {
    padding: 12px 25px 12px 10px;
    cursor: pointer;
    position: relative;
    user-select: none;

    &_title {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 3px;
    }

    &_helper {
      font-size: 13px;
      transition: 100ms ease;
      text-transform: capitalize;
    }

    &_icon {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      transition: 200ms ease;
    }

    .rotate-45 {
      transform: rotate(45deg);
      top: 26%;
    }
  }

  &__content {
    display: none;
  }

  &-add,
  &-delete {
    button {
      color: #fac04f;
      font-size: 18px;
      font-weight: bold;
      outline: none;
      border: none;
      border-bottom: 1px dashed;
      background-color: transparent;
      cursor: pointer;
    }

    span{
      display: none;
    }
  }
  &-delete {
    button {
      float: right;
      font-size: 16px;
    }
  }
}

.help-block {
  color: #fac04f;
  font-size: 14px;
  margin-top: 5px;
}

.has-error {
  border-color: #fac04f !important;
}

.visibility-none {
  opacity: 0;
}

.display-block{
  display: block !important;
}

.display-none{
  display: none !important;
}

.margin-top-1 {
  margin-top: 10px;
}

.i-important {
  @include icon(url(../img/icon-important.png), 14px, 14px);
  position: relative;
  top: 2px;
}

.i-plus {
  @include icon(url(../img/icon-plus.png), 30px, 30px);
}

@media screen and (max-width: 1200px) {
  .register-modal__wrapper {
    width: 720px;
  }

  form > .column-6 {
    width: 100% !important;
  }
}

@media screen and (max-width: 770px) {
  .register-modal .column-6 {
    width: 100%;
    padding: 5px 0;
  }

  .register-modal__close {
    top: 10px;
    right: 10px;
  }

  .register-modal__wrapper_title {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .register-form__title {
    font-size: 22px;
  }

  .register-toggle__btn_title {
    font-size: 18px;
  }

  .register-toggle__btn_icon span {
    width: 25px;
    height: 25px;
  }

  .register-modal__wrapper {
    width: 90%;
  }

  .register-modal__send button {
    position: static;
    transform: none;
    left: 0;
    font-size: 20px;
    padding: 10px;
    width: 100%;
  }
}
