.footer {
  margin-top: 50px;

  h5 {
    color: #777777;
    font-weight: 600;
  }

  &-container {
    border-top: 1px solid $muted;
  }

  .list-destination {
    padding: 30px 0;
    li {
      margin-bottom: 10px;
      a {
        font-size: 14px;
        color: $muted;
        transition: 100ms;

        &:hover{
          color: black;
        }
      }
    }
  }

  &__about {
    display: flex;
    padding: 30px 0;

    &_logo {
      width: 18%;
    }

    &_text {
      width: 70%;
      font-size: 14px;
      color: $muted;
      margin-left: 20px;
    }
  }

  &__social {
    padding: 35px 0;

    ul {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      li {
        margin-right: 20px;

        img {
          width: 25px;
          height: 25px;
          filter: contrast(0.3);
        }

        &:hover {
          img {
            filter: none;
          }
        }
      }
    }
  }

  &__contact{
    padding: 35px 0 35px 30px;

    @include mobile{
      padding: 35px 0;
    }

    span{
      font-size: 14px;
      color: $muted;
      display: inline-block;
      margin-top: 5px;
    }

    &_call{
      display: flex;
      align-items: center;
      margin-top: 15px;

      span{
        font-size: 18px;
        color: $dark-blue;
        font-weight: 600;
      }
    }

    &_mail{
      display: flex;
      align-items: center;
      margin-top: 15px;

      span{
        font-size: 14px;
        color: $dark-blue;
        font-weight: 500;
      }
    }
  }

  &__links{
    display: flex;
    justify-content: center;
    border-top: 1px solid $muted;
    padding: 20px 0;

    
    li{
      margin: 0 15px;

      a{
        color: $muted;
        font-size: 14px;
      }
    }

    @include mobile{
      flex-wrap: wrap;

      padding: 8px 0;

      li{
        margin: 10px;
      }
    }
  }
}
