.header {
  border-bottom: 3px solid #e60000;
  background-color: white;
  position: relative;
  position: fixed;
  z-index: 5;

  &__logo {
    width: 130px;
    position: absolute;
    top: 5px;
    left: 0;

    @include netbook {
      width: 120px;
    }

    @include mobile {
      width: 90px;
    }
  }

  &__menu {
    padding: 15px 0;
    display: flex;

    @include mobile {
      padding: 10px 0;
    }

    &_navigation {
      @include netbook {
        display: none !important;
      }
    }

    > ul {
      display: flex;
      align-items: center;

      > li {
        margin-left: 20px;
        position: relative;

        > a {
          font-size: 15px;
          font-weight: 500;
          color: black;

          @include mobile {
            height: 30px;
          }

          span {
            line-height: 1;
          }
        }

        &:hover {
          .header__menu_dropdown {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
          }
        }
      }
    }

    &_dropdown {
      display: none;
      position: absolute;
      width: 100%;
      background-color: $green;
      border-radius: 0 0 2px 2px;
      top: 35px;
      box-shadow: $box-shadow;

      @include mobile {
        top: 29px;
      }

      a {
        width: 88.92px;
        box-shadow: none;

        @include mobile {
          width: 65px;
        }

        &:hover {
          box-shadow: none;
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }

    &_dropdown_language {
      background-color: white;

      a {
        width: 67.56px;

        @include mobile {
          width: 60px;
        }
      }
    }

    &_control {
      &_id {
        @include tablet {
          display: none;
        }
      }

      &_mobile_id {
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;

        a {
          height: auto;
          display: flex !important;
          padding: 0 !important;
        }
      }

      &_currency {
      }

      &_lang {
        @include mobile {
          margin-left: 10px !important;
        }
      }
    }
  }

  /* Mobile Menu */
  &__mobile-menu {
    &_navigation {
      position: fixed;
      width: 80%;
      height: 100%;
      background-color: white;
      display: flex;
      flex-direction: column;
      right: -100%;
      z-index: 11;
      padding-top: 40px;
      transition: 500ms ease;

      li {
        a {
          color: black;
          display: block;
          padding: 15px 20px;
          font-size: 17px;
          border-bottom: 1px solid #e8e8e8;
        }
      }
    }

    &_navigation_active {
      right: 0;
    }

    &_overlay {
      display: none;
      position: fixed;
      width: 110%;
      left: 0;
      top: 0;
      height: 100%;
      background-color: #00000061;
      z-index: 10;
    }
  }
}

.main-header-padding {
  padding-top: 50px;
}

.js-menu-open {
  display: none;
  align-items: center;
  margin-left: 40px !important;
  cursor: pointer;

  @include netbook {
    display: flex;
    .icon {
      margin-right: 0;
    }
  }

  @include mobile {
    margin-left: 15px !important;
  }
}


.js-menu-close{
  position: absolute;
  top: 18px;
  right: 18px;
  opacity: 0.6;
}
