/* Helpers */
/* Template */
#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 100500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.cssload-thecube {
  width: 73px;
  height: 73px;
  margin: 0 auto;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg); }

.cssload-thecube .cssload-cube {
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg); }

.cssload-thecube .cssload-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1); }

.cssload-thecube .cssload-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2ba0c7;
  animation: cssload-fold-thecube 2.76s infinite linear both;
  -o-animation: cssload-fold-thecube 2.76s infinite linear both;
  -ms-animation: cssload-fold-thecube 2.76s infinite linear both;
  -webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
  -moz-animation: cssload-fold-thecube 2.76s infinite linear both;
  transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%; }

.cssload-thecube .cssload-c2 {
  transform: scale(1.1) rotateZ(90deg);
  -o-transform: scale(1.1) rotateZ(90deg);
  -ms-transform: scale(1.1) rotateZ(90deg);
  -webkit-transform: scale(1.1) rotateZ(90deg);
  -moz-transform: scale(1.1) rotateZ(90deg); }

.cssload-thecube .cssload-c3 {
  transform: scale(1.1) rotateZ(180deg);
  -o-transform: scale(1.1) rotateZ(180deg);
  -ms-transform: scale(1.1) rotateZ(180deg);
  -webkit-transform: scale(1.1) rotateZ(180deg);
  -moz-transform: scale(1.1) rotateZ(180deg); }

.cssload-thecube .cssload-c4 {
  transform: scale(1.1) rotateZ(270deg);
  -o-transform: scale(1.1) rotateZ(270deg);
  -ms-transform: scale(1.1) rotateZ(270deg);
  -webkit-transform: scale(1.1) rotateZ(270deg);
  -moz-transform: scale(1.1) rotateZ(270deg); }

.cssload-thecube .cssload-c2:before {
  animation-delay: 0.35s;
  -o-animation-delay: 0.35s;
  -ms-animation-delay: 0.35s;
  -webkit-animation-delay: 0.35s;
  -moz-animation-delay: 0.35s; }

.cssload-thecube .cssload-c3:before {
  animation-delay: 0.69s;
  -o-animation-delay: 0.69s;
  -ms-animation-delay: 0.69s;
  -webkit-animation-delay: 0.69s;
  -moz-animation-delay: 0.69s; }

.cssload-thecube .cssload-c4:before {
  animation-delay: 1.04s;
  -o-animation-delay: 1.04s;
  -ms-animation-delay: 1.04s;
  -webkit-animation-delay: 1.04s;
  -moz-animation-delay: 1.04s; }

@keyframes cssload-fold-thecube {
  0%,
  10% {
    -webkit-transform: perspective(136px) rotateX(-180deg);
            transform: perspective(136px) rotateX(-180deg);
    opacity: 0; }
  25%,
  75% {
    -webkit-transform: perspective(136px) rotateX(0deg);
            transform: perspective(136px) rotateX(0deg);
    opacity: 1; }
  90%,
  100% {
    -webkit-transform: perspective(136px) rotateY(180deg);
            transform: perspective(136px) rotateY(180deg);
    opacity: 0; } }
@-webkit-keyframes cssload-fold-thecube {
  0%,
  10% {
    -webkit-transform: perspective(136px) rotateX(-180deg);
    opacity: 0; }
  25%,
  75% {
    -webkit-transform: perspective(136px) rotateX(0deg);
    opacity: 1; }
  90%,
  100% {
    -webkit-transform: perspective(136px) rotateY(180deg);
    opacity: 0; } }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria/Geometria-Thin.eot");
  src: local("../fonts/Geometria/Geometria Thin"), local("../fonts/Geometria/Geometria-Thin"), url("../fonts/Geometria/Geometria-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-Thin.woff") format("woff"), url("../fonts/Geometria/Geometria-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria/Geometria-MediumItalic.eot");
  src: local("../fonts/Geometria/Geometria MediumItalic"), local("../fonts/Geometria/Geometria-MediumItalic"), url("../fonts/Geometria/Geometria-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-MediumItalic.woff") format("woff"), url("../fonts/Geometria/Geometria-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria/Geometria-Italic.eot");
  src: local("../fonts/Geometria/Geometria Italic"), local("../fonts/Geometria/Geometria-Italic"), url("../fonts/Geometria/Geometria-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-Italic.woff") format("woff"), url("../fonts/Geometria/Geometria-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria/Geometria-Heavy.eot");
  src: local("../fonts/Geometria/Geometria Heavy"), local("../fonts/Geometria/Geometria-Heavy"), url("../fonts/Geometria/Geometria-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-Heavy.woff") format("woff"), url("../fonts/Geometria/Geometria-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria/Geometria-ExtraBoldItalic.eot");
  src: local("../fonts/Geometria/Geometria ExtraBoldItalic"), local("../fonts/Geometria/Geometria-ExtraBoldItalic"), url("../fonts/Geometria/Geometria-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-ExtraBoldItalic.woff") format("woff"), url("../fonts/Geometria/Geometria-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria/Geometria-Medium.eot");
  src: local("../fonts/Geometria/Geometria Medium"), local("../fonts/Geometria/Geometria-Medium"), url("../fonts/Geometria/Geometria-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria/Geometria-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria/Geometria-BoldItalic.eot");
  src: local("../fonts/Geometria/Geometria BoldItalic"), local("../fonts/Geometria/Geometria-BoldItalic"), url("../fonts/Geometria/Geometria-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-BoldItalic.woff") format("woff"), url("../fonts/Geometria/Geometria-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria/Geometria-LightItalic.eot");
  src: local("../fonts/Geometria/Geometria LightItalic"), local("../fonts/Geometria/Geometria-LightItalic"), url("../fonts/Geometria/Geometria-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-LightItalic.woff") format("woff"), url("../fonts/Geometria/Geometria-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria/Geometria-HeavyItalic.eot");
  src: local("../fonts/Geometria/Geometria HeavyItalic"), local("../fonts/Geometria/Geometria-HeavyItalic"), url("../fonts/Geometria/Geometria-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-HeavyItalic.woff") format("woff"), url("../fonts/Geometria/Geometria-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria/Geometria.eot");
  src: local("../fonts/Geometria/Geometria"), url("../fonts/Geometria/Geometria.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria.woff") format("woff"), url("../fonts/Geometria/Geometria.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria/Geometria-Bold.eot");
  src: local("../fonts/Geometria/Geometria Bold"), local("../fonts/Geometria/Geometria-Bold"), url("../fonts/Geometria/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria/Geometria-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria/Geometria-ExtraBold.eot");
  src: local("../fonts/Geometria/Geometria ExtraBold"), local("../fonts/Geometria/Geometria-ExtraBold"), url("../fonts/Geometria/Geometria-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-ExtraBold.woff") format("woff"), url("../fonts/Geometria/Geometria-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria/Geometria-ThinItalic.eot");
  src: local("../fonts/Geometria/Geometria ThinItalic"), local("../fonts/Geometria/Geometria-ThinItalic"), url("../fonts/Geometria/Geometria-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-ThinItalic.woff") format("woff"), url("../fonts/Geometria/Geometria-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria/Geometria-ExtraLightItalic.eot");
  src: local("../fonts/Geometria/Geometria ExtraLightItalic"), local("../fonts/Geometria/Geometria-ExtraLightItalic"), url("../fonts/Geometria/Geometria-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-ExtraLightItalic.woff") format("woff"), url("../fonts/Geometria/Geometria-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria/Geometria-Light.eot");
  src: local("../fonts/Geometria/Geometria Light"), local("../fonts/Geometria/Geometria-Light"), url("../fonts/Geometria/Geometria-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-Light.woff") format("woff"), url("../fonts/Geometria/Geometria-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria/Geometria-ExtraLight.eot");
  src: local("../fonts/Geometria/Geometria ExtraLight"), local("../fonts/Geometria/Geometria-ExtraLight"), url("../fonts/Geometria/Geometria-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria-ExtraLight.woff") format("woff"), url("../fonts/Geometria/Geometria-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }
* {
  font-family: "Geometria", sans-serif;
  font-weight: normal; }

html,
body {
  background-color: #fafcff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 1.1; }

h1,
h2 {
  font-size: 60px;
  color: black;
  font-weight: 800; }

h2 {
  position: relative;
  text-align: center;
  padding-bottom: 15px; }
  h2::after {
    content: "";
    display: inline-block;
    width: 60px;
    height: 3px;
    background-color: #00a9a7;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

p {
  line-height: 1.2; }

img {
  width: 100%;
  height: auto; }

button {
  padding: 12px 40px;
  border-radius: 50px;
  font-size: 14px;
  line-height: 1.1; }
  button:focus {
    outline: none; }

.icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-size: 14px;
  line-height: 1.1;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms; }
  .icon-link__icon {
    width: 48px;
    height: 48px;
    border: solid 1px #f2f2f2;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .icon-link__icon_border {
      width: 40px;
      height: 40px;
      border: solid 1px #b8e7e6;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .icon-link__icon img {
      width: 20px; }
  .icon-link__title {
    font-weight: 500; }
  .icon-link__content {
    font-weight: bold; }
  .icon-link__mail img {
    position: relative;
    left: 3px; }
  .icon-link:hover {
    color: #00a9a7;
    text-decoration: none;
    cursor: pointer; }

.h3 {
  position: relative;
  text-align: left;
  padding-bottom: 15px;
  font-size: 33px;
  color: #00a9a7;
  font-weight: bold; }
  .h3::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 3px;
    background-color: #00a9a7;
    position: absolute;
    bottom: 0;
    left: 0; }

.btn {
  padding: 12px 40px;
  border-radius: 50px;
  font-size: 14px;
  line-height: 1.1;
  cursor: pointer;
  display: inline-block; }
  .btn:focus {
    outline: none; }

.btn-main {
  padding: 25px;
  font-weight: 500;
  color: white;
  -webkit-box-shadow: 0px 0px 25px -7px #61eeec;
          box-shadow: 0px 0px 25px -7px #61eeec;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00a9a7), to(#72faf8)), -webkit-gradient(linear, left top, left bottom, from(#fac146), to(#fac146));
  background-image: -webkit-linear-gradient(bottom, #00a9a7, #72faf8), -webkit-linear-gradient(top, #fac146, #fac146);
  background-image: -o-linear-gradient(bottom, #00a9a7, #72faf8), -o-linear-gradient(top, #fac146, #fac146);
  background-image: linear-gradient(to top, #00a9a7, #72faf8), linear-gradient(to bottom, #fac146, #fac146); }
  .btn-main:hover {
    color: white;
    text-decoration: none;
    -webkit-box-shadow: 0px 8px 20px -5px #00a9a7;
            box-shadow: 0px 8px 20px -5px #00a9a7;
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px); }

.bold {
  font-weight: bold; }

.color-cyan {
  color: #00a9a7; }

.position-relative {
  position: relative; }

/* Sections for all pages */
.header {
  background-color: #fff;
  padding: 30px 0 0; }
  .header__logo {
    width: 193px; }
  .header__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .header__btn {
    padding: 2px;
    border: transparent;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#00a9a7), to(#72faf8)), -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
    background-image: -webkit-linear-gradient(bottom, #00a9a7, #72faf8), -webkit-linear-gradient(top, #000000, #000000);
    background-image: -o-linear-gradient(bottom, #00a9a7, #72faf8), -o-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to top, #00a9a7, #72faf8), linear-gradient(to bottom, #000000, #000000); }
    .header__btn_block {
      display: block;
      padding: 12px 40px;
      border-radius: 50px;
      background-color: #fff;
      color: #636b6b; }
  .header__contact_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    margin: 0;
    padding: 0; }
    .header__contact_block li {
      margin-left: 30px; }
  .header__menu {
    padding: 30px 0 15px; }
    .header__menu_list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0;
      padding: 0; }
      .header__menu_list li {
        margin-left: 15px;
        margin-right: 20px; }
        .header__menu_list li a {
          color: black;
          font-weight: 500;
          font-size: 14px;
          -webkit-transition: 200ms;
          -o-transition: 200ms;
          transition: 200ms;
          padding: 4px 0 1px;
          border-bottom: 2px solid transparent; }
          .header__menu_list li a:hover {
            color: #00a9a7;
            padding: 4px 0;
            border-bottom: 2px solid #00a9a7;
            text-decoration: none; }
  .header__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__social_list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      list-style: none;
      margin: 0;
      padding: 0; }
      .header__social_list li {
        margin-left: 20px; }
        .header__social_list li a {
          width: 27px;
          height: 27px;
          display: block;
          border-radius: 50%;
          border: 1px solid #d0d0d2;
          padding: 5px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-transition: 200ms;
          -o-transition: 200ms;
          transition: 200ms; }
          .header__social_list li a span {
            position: relative;
            top: -1px; }
          .header__social_list li a:hover {
            border-color: #00a9a7; }

.footer {
  position: relative;
  z-index: 2;
  background-color: #f4f6fa00; }
  .footer .container {
    padding-top: 50px;
    border-top: 1px solid #7d808440; }
  .footer__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto; }
  .footer__logo {
    width: 90%;
    max-width: 300px;
    margin-bottom: 70px; }
  .footer__text {
    max-width: 270px;
    width: 100%;
    margin-bottom: 50px; }
    .footer__text p {
      font-size: 14px;
      line-height: 1.6; }
  .footer__links {
    padding-left: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media screen and (max-width: 768px) {
      .footer__links {
        padding-left: 0; } }
    .footer__links ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .footer__links ul li {
        margin-bottom: 40px; }
    .footer__links .icon-link__icon {
      border: none;
      width: 55px;
      height: 55px; }
      .footer__links .icon-link__icon img {
        width: 23px; }
      .footer__links .icon-link__icon_border {
        width: 55px;
        height: 55px;
        border-color: #ccc; }
    .footer__links .icon-link__title {
      line-height: 1.5; }
  .footer__copyright {
    padding: 30px 0;
    border-top: 1px solid #7d808440; }
    .footer__copyright p {
      margin: 0;
      padding: 0;
      font-size: 14px;
      font-weight: 500; }

/* Pages */
.offer {
  background-image: url(../img/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: auto;
  padding: 90px 0 250px;
  position: relative; }
  .offer__block {
    position: relative;
    z-index: 3; }
  .offer__pretitle p {
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    width: 100%;
    max-width: 375px; }
    .offer__pretitle p span {
      font-weight: 500;
      color: #00a9a7; }
  .offer__title {
    position: relative;
    padding-bottom: 1px;
    width: 100%;
    max-width: 730px; }
    .offer__title::after {
      content: "";
      width: 50px;
      height: 2px;
      background-color: #00a9a7;
      position: absolute;
      display: inline-block;
      bottom: 0;
      left: 0;
      padding-top: 5px; }
  .offer__text {
    margin-top: 60px;
    margin-bottom: 140px; }
    .offer__text p {
      width: 100%;
      max-width: 519px;
      font-size: 22px; }
  .offer__btn {
    position: relative;
    display: inline-block; }
    .offer__btn button {
      padding: 24px 83px;
      background-image: -webkit-gradient(linear, left bottom, left top, from(#00a9a7), to(#72faf8)), -webkit-gradient(linear, left top, left bottom, from(#00a9a7), to(#00a9a7));
      background-image: -webkit-linear-gradient(bottom, #00a9a7, #72faf8), -webkit-linear-gradient(top, #00a9a7, #00a9a7);
      background-image: -o-linear-gradient(bottom, #00a9a7, #72faf8), -o-linear-gradient(top, #00a9a7, #00a9a7);
      background-image: linear-gradient(to top, #00a9a7, #72faf8), linear-gradient(to bottom, #00a9a7, #00a9a7);
      border: none;
      color: white;
      -webkit-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms;
      -webkit-box-shadow: 0px 0px 25px -7px #61eeec;
              box-shadow: 0px 0px 25px -7px #61eeec; }
      .offer__btn button:hover {
        -webkit-box-shadow: 0px 8px 25px -5px #00a9a7;
                box-shadow: 0px 8px 25px -5px #00a9a7;
        -webkit-transform: translateY(-8px);
            -ms-transform: translateY(-8px);
                transform: translateY(-8px); }
    .offer__btn_text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .offer__btn_icon {
      position: absolute;
      right: -50px;
      top: -7px;
      width: 115px; }
  .offer__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: 140px; }
    @media screen and (max-width: 992px) {
      .offer__img {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        top: 0;
        margin-top: 100px; } }
    .offer__img_bg {
      width: 425px;
      height: 425px;
      background-image: -webkit-gradient(linear, left bottom, left top, from(#00a9a7), to(#72faf8)), -webkit-gradient(linear, left top, left bottom, from(#b2d179), to(#b2d179));
      background-image: -webkit-linear-gradient(bottom, #00a9a7, #72faf8), -webkit-linear-gradient(top, #b2d179, #b2d179);
      background-image: -o-linear-gradient(bottom, #00a9a7, #72faf8), -o-linear-gradient(top, #b2d179, #b2d179);
      background-image: linear-gradient(to top, #00a9a7, #72faf8), linear-gradient(to bottom, #b2d179, #b2d179);
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      top: 0px;
      z-index: 1;
      left: -140px;
      -webkit-box-shadow: 0px 0px 80px -30px #00a9a7;
              box-shadow: 0px 0px 80px -30px #00a9a7; }
      @media screen and (max-width: 992px) {
        .offer__img_bg {
          left: 50%;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%); } }
    .offer__img_nilon {
      background-image: url(../img/offer-nilon.png);
      background-repeat: no-repeat;
      position: absolute;
      z-index: 2;
      left: -150px;
      top: -80px;
      width: 500px;
      background-position: center;
      height: 460px;
      -o-object-fit: contain;
         object-fit: contain;
      opacity: 0.7; }
      @media screen and (max-width: 992px) {
        .offer__img_nilon {
          left: 0; } }
    .offer__img img {
      width: 100%;
      max-width: 370px;
      position: relative;
      left: -70px;
      z-index: 3;
      -o-object-fit: contain;
         object-fit: contain; }
      @media screen and (max-width: 992px) {
        .offer__img img {
          left: 0; } }
  .offer__mouse {
    width: 20px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 100px; }

/* Section 2 */
.home-catalog {
  background-color: #f4f6fa;
  padding: 0 0 80px;
  position: relative;
  top: -5px;
  -webkit-box-shadow: 0 -15px 110px 46px #ffffffd6;
          box-shadow: 0 -15px 110px 46px #ffffffd6;
  z-index: 2; }
  .home-catalog__block {
    background-color: #fff;
    -webkit-box-shadow: 0px 75px 78px -54px rgba(0, 0, 0, 0.35);
            box-shadow: 0px 75px 78px -54px rgba(0, 0, 0, 0.35); }
  .home-catalog__block_slide {
    padding: 40px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .home-catalog__block_img img {
    width: 85%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 440px;
    -o-object-fit: contain;
       object-fit: contain; }
  .home-catalog__block_link {
    margin-top: 30px; }
  .home-catalog__block_pretitle h3 {
    font-size: 18px;
    font-weight: 500; }
  .home-catalog__block_rating {
    margin-top: 35px; }
    .home-catalog__block_rating_block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .home-catalog__block_rating_icon {
      width: 25px;
      height: 25px;
      margin-right: 15px; }
    .home-catalog__block_rating_text {
      max-width: 180px;
      width: 100%;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.2; }
  .home-catalog__block_text_block {
    margin-top: 15px;
    width: 85%; }
  .home-catalog__block_text h4 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800; }
  .home-catalog__block_text p {
    padding: 5px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 86px;
    overflow-y: scroll;
    font-size: 14px;
    position: relative;
    font-weight: 400;
    direction: rtl;
    border-left: 2px solid #5d5e66;
    /* box-shadow: -3px 0px 0px #5d5e66; */
    /* Track */
    /* Handle */
    /* Handle on hover */ }
    .home-catalog__block_text p::-webkit-scrollbar {
      width: 2px;
      position: absolute; }
    .home-catalog__block_text p::-webkit-scrollbar-track {
      background: transparent; }
    .home-catalog__block_text p::-webkit-scrollbar-thumb {
      background: #45454b;
      width: 4px;
      position: absolute; }
    .home-catalog__block_text p::-webkit-scrollbar-thumb:hover {
      background: #555; }
  .home-catalog__block_title {
    width: 60%;
    margin-bottom: 30px; }
    .home-catalog__block_title h2 {
      font-size: 24px;
      text-align: left; }
    @media screen and (max-width: 768px) {
      .home-catalog__block_title {
        width: 100%; } }
  .home-catalog__block_slide_btn {
    width: 100%;
    max-width: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    left: 330px;
    bottom: 40px;
    z-index: 2; }
    .home-catalog__block_slide_btn .swiper-prev,
    .home-catalog__block_slide_btn .swiper-next {
      width: 50px; }
      .home-catalog__block_slide_btn .swiper-prev:focus,
      .home-catalog__block_slide_btn .swiper-next:focus {
        outline: none; }
    .home-catalog__block_slide_btn .swiper-pagination {
      position: inherit;
      width: 100%;
      max-width: 154px;
      font-style: italic;
      letter-spacing: 1px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      line-height: 1;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      color: #aaabb1;
      position: relative;
      top: -9px; }
    .home-catalog__block_slide_btn .swiper-pagination-current {
      font-weight: 800;
      color: #00a9a7;
      font-size: 28px;
      position: relative;
      bottom: -2px; }

/* About */
.about {
  position: relative;
  z-index: 2;
  padding: 0 0 50px;
  -webkit-box-shadow: 0 -15px 110px 46px #ffffffd6;
          box-shadow: 0 -15px 110px 46px #ffffffd6;
  background-color: #f4f6fa; }
  .about h2 {
    margin-bottom: 40px; }
  .about__bg-img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: -88px;
    left: 0;
    z-index: 1; }
  .about .about-bg-img__overlay {
    background: #ffffff;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    mix-blend-mode: screen;
    display: block; }
    .about .about-bg-img__overlay_block {
      width: 100%;
      max-width: 1100px;
      margin: 0 auto;
      height: 100%;
      position: relative; }
    .about .about-bg-img__overlay_1 {
      width: 400px;
      height: 400px;
      position: relative;
      top: 90px;
      left: 20px;
      border-radius: 50%;
      background-color: #4d6a73; }
      @media screen and (max-width: 1200px) {
        .about .about-bg-img__overlay_1 {
          left: 100px;
          width: 350px;
          height: 350px; } }
      @media screen and (max-width: 768px) {
        .about .about-bg-img__overlay_1 {
          left: 50%;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%); } }
    .about .about-bg-img__overlay_2 {
      width: 270px;
      height: 270px;
      position: absolute;
      top: 460px;
      right: 80px;
      border-radius: 50%;
      background-color: #4d6a73; }
  .about__container {
    position: relative;
    z-index: 3; }
  .about__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 300px;
    position: relative;
    left: 0;
    top: 30px;
    margin-bottom: 150px; }
    .about__img img {
      width: 100%;
      max-width: 500px; }
    @media screen and (max-width: 1200px) {
      .about__img {
        top: 0;
        width: 90%; } }
  .about__company_text {
    width: 100%;
    max-width: 490px; }
    .about__company_text p {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.5; }
  .about__company_btn {
    margin-top: 90px; }
  .about__company_video {
    margin-top: 70px;
    position: relative;
    overflow: hidden;
    width: 100%; }
    .about__company_video_line {
      width: 100%;
      max-width: 280px;
      position: absolute;
      left: 55%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      top: -100px; }
      @media screen and (max-width: 1200px) {
        .about__company_video_line {
          left: 70%; } }
    .about__company_video_overlay {
      position: absolute;
      max-width: 420px;
      width: 50%;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

/* News */
.news {
  padding: 40px 0 80px;
  position: relative;
  z-index: 4;
  background-color: #f4f6fa00; }
  .news__card {
    background-color: #fff;
    -webkit-box-shadow: 0px 39px 81px -50px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 39px 81px -50px rgba(0, 0, 0, 0.5); }
    .news__card_block {
      padding: 38px 20px;
      font-size: 14px; }
    .news__card_img img {
      height: 195px;
      -o-object-fit: cover;
         object-fit: cover; }
    .news__card_title {
      font-weight: 600;
      width: 75%;
      padding: 20px 0 15px;
      font-size: 16px;
      line-height: 1.1;
      position: relative;
      display: block;
      height: 69px;
      overflow: hidden;
      color: black;
      -webkit-transition: 200ms;
      -o-transition: 200ms;
      transition: 200ms; }
      .news__card_title:hover {
        color: #00a9a7;
        text-decoration: none; }
      .news__card_title::after {
        content: ". . .";
        position: absolute;
        display: inline-block;
        bottom: 0;
        left: 0; }
    .news__card_time {
      color: #00a9a7;
      font-weight: 600; }
    .news__card_text {
      height: 130px;
      overflow: hidden; }
      .news__card_text p {
        font-size: 14px;
        line-height: 1.4; }
    .news__card_link {
      margin-top: 32px; }
      .news__card_link a {
        color: #000;
        border-bottom: 1px solid;
        font-weight: 600;
        -webkit-transition: 200ms;
        -o-transition: 200ms;
        transition: 200ms; }
        .news__card_link a:hover {
          text-decoration: none;
          color: #00a9a7; }

/* Sliders */
