.about-platform {
  padding: 120px 0;
  text-align: center;

  @include media-lg {
    padding: 70px 0;
  }

  @include media-sm {
    padding: 50px 0;

    .container {
      padding: 0 12px;
    }

    &__mobile-card {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      margin: 0;

      > .col-6 {
        max-width: 100%;
        padding: 0;
      }
    }
  }

  &__title {
    margin-bottom: 50px;

    @include media-lg {
      margin-bottom: 24px;
      .h2 {
        font-size: 48px;
      }
    }

    @include media-sm {
      margin-bottom: 18px;
      .h2 {
        font-size: 30px;
      }
    }
  }

  &__logo {
    width: 355px;
    margin: 0 auto 50px;

    @include media-lg {
      width: 240px;
      margin-bottom: 30px;
    }

    @include media-sm {
      width: 171px;
      margin-bottom: 16px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 40px;
    margin-top: 60px;

    @include media-lg {
      font-size: 18px;
      margin-top: 30px;
      margin-bottom: 60px;

      p {
        line-height: 1.7;
      }
    }

    @include media-sm {
      margin-top: 20px;
      margin-bottom: 27px;
      font-size: 16px;

      p {
        line-height: 1.4;
      }
    }
  }

  &__card {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 24px 14px;
    margin-top: 30px;
    height: 210px;

    @include media-xl {
      height: 240px;
    }

    @include media-lg {
      margin-top: 10px;
      height: 204px;
    }

    @include media-md {
      height: 220px;
    }

    @include media-sm {
      height: auto;
      margin: 0;
      padding: 20px 5px;
    }

    &_icon {
      width: 68px;
      margin: 0 auto 24px;
      box-sizing: border-box;

      @include media-lg {
        margin-bottom: 14px;
      }

      img {
        height: 75px;
        object-fit: contain;

        @include media-sm {
          height: 60px;
        }
      }

      &_3 {
        width: 74px;
      }

      &_4 {
        width: 56px;
      }

      &_5 {
        width: 116px;
      }

      &_6 {
        width: 108px;
      }
    }

    &_text {
      font-family: $font-main;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      @include media-md {
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90px;
      }

      @include media-sm {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        font-size: 12px;
        line-height: 1.45;

        &_5,
        &_6 {
          height: 40px;
        }
      }
    }
  }
}
