.quote {
  background-color: #fff;
  box-shadow: 11px 11px 30px rgba(20, 28, 102, 0.25);
  padding: 102px 0 65px;
  margin-top: 130px;
  margin-bottom: 53px;
  position: relative;

  &__icon {
    position: absolute;
    width: 132px;
    height: 120px;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    background: #ffffff;
    border: 1.66796px solid #e45142;
    box-sizing: border-box;
    box-shadow: 11px 11px 30px rgba(20, 28, 102, 0.25);

    @include media-lg {
      width: 100px;
      height: 92px;
    }
  }

  &__text {
    max-width: 925px;
    font-style: italic;
    font-weight: 300;
    font-size: 34px;
    text-align: center;

    @include media-lg {
      padding: 0 58px;
    }
  }

  &-red {
    background-color: $red;
    color: white;
  }

  @include media-xxl {
    padding: 100px 0;

    &__text {
      font-size: 28px;
    }
  }

  @include media-lg {
    padding: 50px 0;
  }
}

.i-quote {
  @include icon(url(../img/quote-icon.svg), 52px, 40px);

  @include media-lg {
    width: 39px;
    height: 31px;
  }
}
