.royal-butler {
  padding: 107px 0 100px;

  @include media-xxl {
    padding: 80px 0;
  }

  @include media-lg {
    padding: 13px 0 61px;
  }
  @include media-sm {
    padding: 13px 0 51px;
  }

  &__img {
    width: 1204px;
    margin: 0 auto;

    /* Image Style */
    .image-block__img {
      padding: 0;
      margin-top: 50px;

      @include media-sm {
        margin-top: 30px;
      }
    }
    .image-block__quadrilateral_big {
      left: -70px;
      top: -50px;

      @include media-lg {
        width: 77px;
        height: 70px;

        left: -40px;
        top: -32px;
      }

      @include media-sm {
        width: 33px;
        height: 30px;

        left: -16px;
        top: -11px;
      }
    }
    .image-block__quadrilateral_small {
      bottom: -30px;
      right: -30px;

      @include media-lg {
        width: 37px;
        height: 34px;

        bottom: -16px;
        right: -16px;
      }
      @include media-sm {
        width: 16px;
        height: 14px;

        bottom: 0;
        right: 0;
      }
    }

    /* This Block Small Image Style */
    &_small {
      width: 86%;

      .image-block__img {
        padding-left: 70px;
        padding-top: 50px;
      }

      .image-block__quadrilateral_small {
        bottom: 7px;
        right: 0;
      }
    }

    /* Responsive */
    @include media-xxl {
      width: 75%;
      &_small {
        width: 90%;
      }
    }

    @include media-xl {
      &_small {
        width: 100%;

        .image-block__img {
          padding-left: 40px;
          padding-top: 30px;
          padding-right: 10px;
          padding-bottom: 10px;
        }

        .image-block__quadrilateral_small {
          bottom: -7px;
          right: -5px;
        }
      }
    }

    @include media-lg {
      width: 88.5%;

      &_small {
        width: 100%;

        .image-block__img {
          padding-left: 70px;
          padding-top: 50px;
          padding-right: 30px;
          padding-bottom: 30px;
        }

        .image-block__quadrilateral_small {
          bottom: 7px;
          right: 0;
        }
      }
    }

    @include media-md {
      width: 80%;
    }

    @include media-sm {
      width: 95%;

      &_small {
        width: 100%;

        .image-block__img {
          padding-left: 32px;
          padding-top: 20px;
          padding-right: 14px;
          padding-bottom: 18px;
        }

        .image-block__quadrilateral_small {
          width: 28px;
          height: 27px;
          bottom: 7px;
          right: 0;
        }

        .image-block__quadrilateral_big {
          width: 56px;
          height: 48px;
        }
      }
    }
  }

  &__title {
    max-width: 810px;
    text-align: center;
    margin-top: 65px;

    @include media-xxl {
      .h2 {
        font-size: 60px;
      }
    }

    @include media-lg {
      margin-top: 50px;
    }

    @include media-md {
      margin-top: 50px;

      .h2 {
        font-size: 38px;
      }
    }

    @include media-sm {
      margin-top: 40px;
      padding: 0;
    }
  }

  &__text {
    max-width: 1050px;
    text-align: center;
    font-weight: 500;
    font-size: 42px;
    margin-top: 50px;

    @include media-xxxl {
      font-size: 36px;
    }

    @include media-xxl {
      width: 80%;
      font-size: 36px;
    }

    @include media-xl {
      width: 100%;
      font-size: 26px;
    }

    @include media-lg {
      margin-top: 42px;
    }

    @include media-md {
      font-size: 18px;
    }

    @include media-sm {
      margin-top: 23px;
      padding: 0;

      p {
        line-height: 1.45;
      }
    }
  }

  &__description {
    font-weight: 500;
    font-size: 26px;
    margin-top: 57px;
    margin-left: 15px;
    width: 90%;

    p {
      line-height: 1.65;
    }

    @include media-xxl {
      font-size: 22px;
    }

    @include media-xl {
      font-size: 20px;
      margin-top: 0;
    }

    @include media-lg {
      padding-left: 57px;
      font-size: 18px;

      p {
        line-height: 1.5;
      }
    }

    @include media-sm {
      margin-left: 0;
      padding-left: 31px;
      font-size: 16px;
      width: 100%;

      p {
        margin-top: 0;
        line-height: 1.45;
      }
    }
  }
}
